<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Settings
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box box-primary">
          <div class="box-body form-horizontal">
            <div class="form-group">
            	<label class="col-sm-2 control-label">Maksimum loading jumlah surat</label>
            	<div class="col-sm-10">
			      <input type="text" class="form-control" placeholder="10" ng-model="max_record">
			    </div>
            </div>
            <div class="form-group">
            	<label class="col-sm-2 control-label">Tampilan daftar surat</label>
            	<div class="col-sm-10">
			      <label class="btn btn-success" ng-model="listKotak" uib-btn-radio="'Tabel'" uncheckable><i class="fa fa-table" aria-hidden="true">&nbsp;</i></label>
        		  <label class="btn btn-success" ng-model="listKotak" uib-btn-radio="'ListView'" uncheckable><i class="fa fa-list-ul" aria-hidden="true">&nbsp;</i></label>
			    </div>
            </div>
          </div>
          <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>