<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Kotak Masuk {{pageTitle}}
  </h1>
</section>
<!-- Main content-->
<section class="content">
	<!-- Desktop -->
  <div class="row">
    <div ng-class="{'col-sm-12 col-xs-12 no-padding':isMobile,'col-sm-12 col-xs-12':!isMobile }">
      <div class="box">
        <div class="box-header with-border">
	        <div class="row">
	        	<div class="col-md-12">
	                <div class="col-sm-12 col-md-6 col-lg-8">
		                <div class="input-group">
			                <div class="input-group-btn">
			                	<button class="btn btn-success btn-sm" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
			                </div> 
		                  	<input type="text" ng-model="searchKey" ng-change="search()" placeholder="Cari Surat di Kotak Masuk {{pageTitle}}" class="form-control input-sm">
		                  	<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		                </div>
	                </div>
	                <div class="hidden-sm hidden-xs col-md-6 col-lg-4">
	                	<ul ng-if="!isMobile" uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm no-margin pull-right" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
	              	</div>
				</div>
			</div>
		</div>
        <!-- /.box-header -->
        
        <!-- Mobile --> 
        <div class="hidden-md hidden-lg"> 
        	<table ng-show="dataSuratAll.length >0" class="table table-hover table-responsive">
        		<tbody >
                    <tr ng-repeat="surat in dataSuratAll" is-read="{{surat.isread}}" ng-click="click(surat)" ng-class="calcDueDate(surat.tenggat)">                    
						<td class="truncate">
	                     	<span class="pull-left">
	              				<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
	              			</span>
							<div style="padding-left:70px;">
				                <span class="pull-left">{{surat.fromtitle}}</span>
				                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
				                <span class="description progress-description pull-left" ng-bind-html="surat.subject | limitTo: 50"></span><br>
				                <span class="text-muted pull-right">
				                	<i class="fa fa-share-alt text-info" ng-show="surat.dispostatus == 1" aria-hidden="true"></i> &nbsp;
                        			<i class="fa fa-reply text-info" ng-show="surat.tanggapanstatus == 1" aria-hidden="true"></i>
                        			<i class="text-info" ng-class="surat.repliedstatus === 'In Progress' || surat.repliedstatus === 'Returned -- Need Resubmit' ? 'fa fa-hourglass-half' : (surat.repliedstatus === 'Complete' ? 'fa fa-check' : '')" aria-hidden="true" title="Surat sudah dibalas"></i>
                        		</span>
				                <span class="text-muted" ng-show="!display">{{surat.nomor}}</span>
				                <!--<span class="text-muted">{{surat.nomortiket}}</span>-->
				                <span class="pull-right label label-warning" date-formater="{{surat.tenggat}}" format="DD MMM YYYY" ng-show="surat.tenggat"></span>
				                <span class="text-muted progress-description" ng-show="display" ng-bind-html="surat.notatindakandisp"></span>
				                <!-- <span class="text-muted progress-description" ng-show="display" ng-bind-html="surat.catatandisp | limitTo:100"></span> -->
							</div>
              			</td>
					</tr>
				</tbody>
            </table>
            
            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
            	<tr class="box text-center text-muted" >
		      		<td collspan="4"><br><br><br><br><br>
		      			<i class="fa fa-inbox fa-5x"></i>
		      			<h3>Belum ada surat masuk</h3>
		      			<br><br><br><br><br>
		      		</td>
		      	</tr>
		   	</table>
       		<div align="center">
				<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
			</div>
        </div>
        <!-- Desktop -->
        
        <div class="box-body no-padding hidden-xs hidden-sm">
        	<table class="table table-responsive table-hover">
        		<thead>
        			<tr>
        				<!-- <th>No. Tiket</th> -->
        				<th>No. Surat</th>
        				<th>Dari</th>
        				<th>Perihal</th>
        				<th>Tanggal</th>
        				<th>Tenggat Waktu</th>
        				<th ng-show="display">Nota Tindakan</th>
        				<!-- <th ng-show="display">Catatan</th> -->
        				<th></th>
        			</tr>
        		</thead>
        		<tbody ng-show="dataSuratAll.length >0">
                    <tr ng-repeat="surat in dataSuratAll" is-read="{{surat.isread}}" style="cursor:pointer;max-width:0px;" ng-class="calcDueDate(surat.tenggat)">
                    	<!-- <td ng-click="click(surat)" class="">{{surat.nomortiket}}</td> -->                 
                     	<td ng-click="click(surat)">{{surat.nomor}}</td>   
                     	<td ng-click="click(surat)" style="width:20%" class="truncate"><span class="progress-description">{{surat.fromtitle}}</span></td>
                     	<td ng-click="click(surat)" style="width:30%" class="truncate"><span class="progress-description" ng-bind-html="surat.subject | limitTo: 50"></span></td>
                        <td ng-click="click(surat)" style="width:15%" class="truncate"><span date-formater="{{surat.createddate}}" class="progress-description"></span></td>
                        <td ng-click="click(surat)" style="width:10%" class="truncate"><span ng-show="surat.tenggat" date-formater="{{surat.tenggat}}" format="DD MMM YYYY" class="progress-description"></span></td>
                        <td ng-click="click(surat)" style="width:15%" class="truncate" ng-show="display"><span class="progress-description" ng-bind-html="surat.notatindakandisp"></span></td>
                        <!-- <td ng-click="click(surat)" style="width:15%" class="truncate" ng-show="display"><span class="progress-description" ng-bind-html="surat.catatandisp | limitTo: 100"></span></td> -->
                        <td>
                        	<i class="fa fa-share-alt text-info" ng-show="surat.dispostatus == 1" aria-hidden="true" title="Surat sudah di disposisi"></i> &nbsp;
                        	<i class="fa fa-reply text-info" ng-show="surat.tanggapanstatus == 1" aria-hidden="true" title="Surat memiliki tanggapan"></i>
                        	<i class="text-info" ng-class="surat.repliedstatus === 'In Progress' || surat.repliedstatus === 'Returned -- Need Resubmit' ? 'fa fa-hourglass-half' : (surat.repliedstatus === 'Complete' ? 'fa fa-check' : '')" aria-hidden="true" title="Surat sudah dibalas"></i>
                        </td>
                     </tr>
                </tbody>
                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
			      	<td colspan="7"><br><br><br><br><br>
				      	<i class="fa fa-inbox fa-5x"></i>
				      	<h3>Belum ada surat masuk</h3>
				      	<br><br><br><br><br>
			      	</td>
			    </tr>
            </table>
        </div>
        
        <!-- /.box-body -->
      </div>
      
      <!-- /.box -->
    </div>
    
    
  </div>

</section>
<!-- /.content -->
