<script type="text/ng-template" id="info.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Info Surat</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <strong>Penerima Surat:</strong>
			<ul>
				<li ng-repeat="penerima in info.penerima">{{penerima}}</li>
			</ul>
			
			<strong>Tembusan Surat:</strong>
			<p ng-show="info.tembusan.length == 0">Tidak ada</p>
			<ul ng-show="info.tembusan.length > 0">
				<li ng-repeat="tembusan in info.tembusan">{{tembusan}}</li>
			</ul>

			<strong>Riwayat Surat:</strong>
			<p ng-show="info.riwayat.length == 0">Tidak ada</p>
			<ul ng-show="info.riwayat.length > 0" class="list-unstyled">
				<li ng-repeat="riwayat in info.riwayat">{{riwayat}}</li>
			</ul>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$close()">Tutup</button>
        </div>
</script>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Kotak Keluar {{pageTitle}}
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div ng-class="{'col-sm-12 col-xs-12 no-padding':isMobile,'col-sm-12 col-xs-12':!isMobile }">
      <div class="box">
        <div class="box-header with-border">
        <div class="row">
        	<div class="col-md-12">
                <div class="col-sm-12 col-md-6 col-lg-8">
                <div class="input-group">
                <div class="input-group-btn">
                	<button class="btn btn-success btn-sm" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
                 </div> 
                  <input type="text" ng-model="searchKey" ng-change="search()" placeholder="Cari Surat di Kotak Keluar {{pageTitle}}" class="form-control input-sm">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                </div>
                <div class="hidden-sm hidden-xs col-md-6 col-lg-4">
                	<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm no-margin pull-right" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
              	</div>
              </div>
       	</div>
	</div>
        <!-- /.box-header -->
        
        <!-- Mobile -->
        
        <div class="hidden-md hidden-lg"> 
        	<table ng-show="dataSuratAll.length > 0" class="table table-hover table-responsive">
        		<tbody>
                    <tr ng-repeat="surat in dataSuratAll" ng-click="click(surat)">                    
                     	<td>
	                		<!-- <ul style="list-style:none" class="no-margin no-padding pull-left">
	                    		<li class="dropdown" >
	      							{{surat.sendto[0] | characters:25}} 
	      								<a ng-show="surat.sendto.length > 1" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" class="label label-default"><i class="fa fa-users"></i></a>
	      							
	      							<ul class="dropdown-menu" role="menu">
	      								<li ng-repeat="kepada in surat.sendto"> <a href="">{{kepada}}</a></li>
	      							</ul>
	      						</li>
	      					</ul> -->
	      					<span class="pull-left">{{surat.sendto[0]}}<span ng-show="surat.sendto.length > 1">&nbsp;...</span></span>
			                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
			                <span class="description" ng-bind-html="surat.subject | limitTo: 50"></span><br>
			                <span class="text-muted">{{surat.nomor}}</span>
						</td>
                     </tr>
                     
                </tbody>
            </table>
			<table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
            	<tr class="box text-center text-muted" >
		      		<td collspan="4"><br><br><br><br><br>
		      			<i class="fa fa-inbox fa-5x"></i>
		      			<h3>Anda belum mengirim surat</h3>
		      			<br><br><br><br><br>
		      		</td>
		      	</tr>
		   	</table>
       		<div align="center">
				<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
			</div>
        </div>

        <!-- Desktop -->
        
        <div class="box-body no-padding hidden-xs hidden-sm">
        	<table class="table table-hover table-responsive">
        		<thead>
        			<tr>
        				<!-- <th>No. Tiket</th> -->
        				<th>No. Surat</th>
        				<th>Kepada</th>
        				<th>Perihal</th>
        				<th>Tanggal</th>
        				<th ng-show="display">Nota Tindakan</th>
        				<th></th>
        			</tr>
        			<tbody ng-show="dataSuratAll.length > 0">
                    <tr ng-repeat="surat in dataSuratAll" style="cursor: pointer">
                    	<!-- <td ng-click="click(surat)">{{surat.nomortiket}}</td>-->
                     	<td ng-click="click(surat)">
                     		<span ng-show="surat.nomanual === ''">{{surat.nomor}}</span>
                     		<span ng-show="surat.nomanual !== ''">{{surat.nomanual}}</span>
                     	</td>
                    	<td ng-click="click(surat)">
                    	<!-- 
                    	<ul style="list-style:none" class="no-margin no-padding">
                    		<li class="dropdown" >
      							{{surat.sendto[0]}} <a ng-show="surat.sendto.length > 1" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
      								<span class="label label-default"><i class="fa fa-users"></i></span>
      							</a>
      							<ul class="dropdown-menu" role="menu">
      								<li ng-repeat="kepada in surat.sendto"> <a href="">{{kepada}}</a></li>
      							</ul>
      						</li>
      					</ul>
      					 -->
      					 {{surat.sendto[0]}}<span ng-show="surat.sendto.length > 1">&nbsp;...</span>
                        </td>
                     	<td ng-click="click(surat)" ng-bind-html="surat.subject | limitTo: 50"></td>
                     	<td ng-click="click(surat)" date-formater="{{surat.createddate}}"></td>
                     	<td ng-click="click(surat)" ng-show="display">{{surat.notatindakandisp[0]}}</td>
                     	<td>
                     		<i class="fa fa-info-circle text-info" ng-click="showInfo(surat.id)" ng-show="!display">
                     		<i class="fa fa-share-alt text-info" ng-show="surat.dispostatus == 1" aria-hidden="true"></i>
                        	<i class="fa fa-reply text-info" ng-show="surat.tanggapanstatus == 1" aria-hidden="true"></i>
                        	<i class="fa fa-check text-info" ng-show="surat.repliedstatus === 'yes'" aria-hidden="true"></i>
                     	</td>
					</tr>
                </tbody>
                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
			      	<td colspan="7"><br><br><br><br><br>
				      	<i class="fa fa-inbox fa-5x"></i>
				      	<h3>Anda belum mengirim surat</h3>
				      	<br><br><br><br><br>
			      	</td>
			    </tr>
            </table>
        </div>
        
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
<!-- /.content -->