<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Arsip {{jenisDokumen}}
  </h1>
</section>

<!-- Main content-->
<section class="content">
	<div class="row">
	    <div ng-class="{'col-sm-12 col-xs-12 no-padding':isMobile,'col-sm-12 col-xs-12':!isMobile }">
	    	<div class="box">
        		<div class="box-body with-border">
        			<h4 ng-click="showFilter = !showFilter" style="cursor:pointer; text-decoration: underline;">Filter : <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': !showFilter, 'glyphicon-chevron-right': showFilter}"></i></h4>
        			<div uib-collapse="showFilter">
				        <div class="row">
				        	<div class="col-md-12">
				        		<div class="row">
				        			<div class="col-md-6">
				        				<uib-accordion close-others="false">
				        					<!-- untuk sementara di non aktifkan karena belum tahu cara sorting oleh back-end -->
				        					<div uib-accordion-group class="panel-default" is-open="open.sort" is-disabled="true">
											    <uib-accordion-heading>
											    	Sort By: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open.sort, 'glyphicon-chevron-right': !open.sort}"></i>
											    </uib-accordion-heading>
											    <form class="form-horizontal">
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Sort By</label>
													    <div class="col-sm-9">
													      <select ng-model="filter.sortBy" class="form-control">
													      	<option value="MDNoFull">Nomor Surat</option>
															<option value="Tanggal">Tanggal</option>
															<option value="Perihal">Perihal</option>
															<option value="Dari">Dari</option>
											    		  </select>
													    </div>
													  </div>
													  <div class="form-group">
													    <label for="inputPassword3" class="col-sm-3 control-label">Order By</label>
													    <div class="col-sm-9">
													      <select ng-model="filter.orderBy" class="form-control">
													      		<option value="Ascending">Ascending A-Z</option>
																<option value="Descending">Descending Z-A</option>
											    		  </select>
													    </div>
													  </div>
											    </form>
										    </div>
				        				</uib-accordion>
				        			</div>
				        			<div class="col-md-6">
				        				<uib-accordion close-others="false">
				        					<div uib-accordion-group class="panel-default" is-open="open.date">
											    <uib-accordion-heading>
											    	Filter Date (dd-MMM-yyyy): <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open.date, 'glyphicon-chevron-right': !open.date}"></i>
											    </uib-accordion-heading>
											    <form class="form-horizontal">
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Dari Tanggal</label>
													    <div class="col-sm-9">
													    	<p class="input-group">
													          <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="filter.dariTgl" is-open="calendar.dari" datepicker-options="dateOptionsDari" ng-required="false" close-text="Close" />
													          <span class="input-group-btn">
													            <button type="button" class="btn btn-default" ng-click="dariTglOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
													          </span>
													        </p>
													    </div>
													  </div>
													  <div class="form-group">
													    <label for="inputPassword3" class="col-sm-3 control-label">Sampai Tanggal</label>
													    <div class="col-sm-9">
													    	<p class="input-group">
													          <input type="text" class="form-control" uib-datepicker-popup="dd-MMM-yyyy" ng-model="filter.sampaiTgl" is-open="calendar.sampai" datepicker-options="dateOptionsSampai" ng-required="false" close-text="Close" />
													          <span class="input-group-btn">
													            <button type="button" class="btn btn-default" ng-click="sampaiTglOpen()"><i class="glyphicon glyphicon-calendar"></i></button>
													          </span>
													        </p>
													    </div>
													  </div>
											    </form>
										    </div>
				        				</uib-accordion>
				        			</div>
				        			<div class="col-md-6">
				        				<uib-accordion close-others="false">
				        					<div uib-accordion-group class="panel-default" is-open="open.view">
											    <uib-accordion-heading>
											    	This View Filter: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open.view, 'glyphicon-chevron-right': !open.view}"></i>
											    </uib-accordion-heading>
											    <form class="form-horizontal">
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">No. Surat</label>
													    <div class="col-sm-9"><input type="text" ng-model="filter.noSurat" class="form-control"/></div>
													</div>
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">No. Tiket</label>
													    <div class="col-sm-9"><input type="text" ng-model="filter.noAgenda" class="form-control"/></div>
													</div>
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Perihal</label>
													    <div class="col-sm-9"><input type="text" ng-model="filter.perihal" class="form-control"/></div>
													</div>
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Dari</label>
													    <div class="col-sm-9"><input type="text" ng-model="filter.pengirim" class="form-control"/></div>
													</div>
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Kode Loker</label>
													    <div class="col-sm-9"><input type="text" ng-model="filter.kodeLoker" class="form-control"/></div>
													</div>
											    </form>
										    </div>
				        				</uib-accordion>
				        			</div>
				        			<div class="col-md-6">
				        				<uib-accordion close-others="false">
				        					<div uib-accordion-group class="panel-default" is-open="open.other">
											    <uib-accordion-heading>
											    	Other Filter: <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': open.other, 'glyphicon-chevron-right': !open.other}"></i>
											    </uib-accordion-heading>
											    <form class="form-horizontal">
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Jenis Surat</label>
													    <div class="col-sm-9">
													    	<select ng-model="filter.jenisSurat" class="form-control">	
													    		<option value="">- Pilih -</option>
																<option value="NotaDinas">Surat Internal</option>
																<option value="SuratKeluar">Surat Eksternal</option>
																<option value="SuratMasukManual">Surat Manual</option>
													    	</select>
													    </div>
													</div>
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Klasifikasi Masalah</label>
													    <div class="col-sm-9"><input type="text" ng-model="filter.klasMasalah" class="form-control"/></div>
													</div>
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Klasifikasi</label>
													    <div class="col-sm-9">
													    	<select ng-model="filter.klasifikasi" class="form-control">
													    		<option value="">- Pilih -</option>
																<option value="Biasa">Biasa</option>
																<option value="Rhs">Rahasia</option>
													    	</select>
													    </div>
													</div>
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Prioritas</label>
													    <div class="col-sm-9">
													    	<select ng-model="filter.prioritas" class="form-control">
													    		<option value="">- Pilih -</option>
																<option value="Normal">Normal</option>
																<option value="Penting">Penting</option>
													    	</select>
													    </div>
													</div>
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Penerima</label>
													    <div class="col-sm-9"><input type="text" ng-model="filter.penerima" class="form-control"/></div>
													</div>
											    	<div class="form-group">
													    <label for="inputEmail3" class="col-sm-3 control-label">Tembusan</label>
													    <div class="col-sm-9"><input type="text" ng-model="filter.tembusan" class="form-control"/></div>
													</div>
											    </form>
										    </div>
				        				</uib-accordion>
				        			</div>
				        			
				        		</div>
				        	</div>
				        	<div class="col-md-12">
				        		<button class="btn btn-primary" ng-click="filterArsip()">Filter</button>
				        		<button class="btn btn-default" ng-click="resetFilter()">Reset Filter</button>
				        	</div>
						</div>
        			</div>
        		</div>
        	</div>
	    </div>
    </div>
  <div class="row">
    <div ng-class="{'col-sm-12 col-xs-12 no-padding':isMobile,'col-sm-12 col-xs-12':!isMobile }">
      <div class="box">
        <div class="box-header with-border" ng-if="!isMobile">
	        <div class="row">
	        	<div class="col-md-12">
	                <div class="hidden-sm hidden-xs col-md-6 col-lg-4 push-right col-md-offset-6 col-lg-offset-8">
	                	<ul ng-hide="datas.length <= 0" uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm no-margin pull-right" boundary-link-numbers="true" rotate="false" ng-change="filterArsip()"></ul>
	              	</div>
				</div>
			</div>
		</div>
        <!-- /.box-header -->
        
        <!-- Mobile -->
        <div class="hidden-md hidden-lg"> 
        	<table ng-show="datas.length > 0" class="table table-hover table-responsive">
        		<tbody >
                    <tr ng-repeat="data in datas" is-read="{{data.isread}}" ng-click="lihatSurat(data)">                    
						<td>
	                     	<span class="pull-left">
	              				<img ng-src='{{data.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
	              			</span>
							<div style="padding-left:70px;">
				                <span date-formater="{{data.createddate}}"></span><br />
				                <span class="text-muted">{{data.nomor}}</span><br />
				                <span class="description">{{data.subject | characters:70}}</span><br />
				                <span>{{data.fromtitle | characters:25}}</span>
							</div>
              			</td>
					</tr>
				</tbody>
            </table>
            
            <table ng-show="datas.length <= 0" class="table table-responsive">
            	<tr class="box text-center text-muted" >
		      		<td collspan="4"><br><br><br><br><br>
		      			<i class="fa fa-inbox fa-5x"></i>
		      			<h3>Belum ada surat masuk</h3>
		      			<br><br><br><br><br>
		      		</td>
		      	</tr>
		   	</table>
       		<div align="center">
				<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="filterArsip()"></ul>
			</div>
        </div>
        
        <!-- Desktop -->
        <div class="box-body table-responsive no-padding hidden-xs hidden-sm">
        	<table class="table table-hover">
        		<thead>
        			<tr>
        				<th>Tanggal</th>
        				<th>No.Surat</th>
        				<th>Perihal</th>
        				<th>Dari</th>
        			</tr>
        		</thead>
        		<tbody ng-show="datas.length > 0">
                    <tr ng-repeat="data in datas" is-read="{{data.isread}}" style="cursor:pointer;">
                        <td ng-click="lihatSurat(data)" date-formater="{{data.createddate}}"></td>                    
                     	<td ng-click="lihatSurat(data)">{{data.nomor}}</td>
                     	<td ng-click="lihatSurat(data)">{{data.subject | characters:70}}</td>
                     	<td ng-click="lihatSurat(data)">{{data.fromtitle}}</td>
                     </tr>
                </tbody>
	                <tr ng-show="datas.length <= 0" class="box text-center text-muted">
				      	<td colspan="5"><br><br><br><br><br>
					      	<i class="fa fa-inbox fa-5x"></i>
					      	<h3>Tidak ada surat</h3>
					      	<br><br><br><br><br>
				      	</td>
				    </tr>
            </table>
        </div>
        
        <!-- /.box-body -->
      </div>
      
      <!-- /.box -->
    </div>
    
    
  </div>

</section>
<!-- /.content -->