<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Daftar Pendelegasian <a ng-href="#!/tambah-delegasi" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Pendelegasian</a>
  </h1>
</section>

<!-- Main content -->
<section class="content" ng-controller="userCtrl">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box box-solid">
        <!-- /.box-header -->
        <div class="box-body">
          <table class="table table-striped table-hover no-border">
            <tr ng-repeat = "delegasi in dataDelegasi">
              <td ng-click = "click(delegasi.id)" style="cursor: pointer;">
              	<div class="row">
              		<div class="col-sm-12 col-md-3"><strong>Pendelegasi</strong> <span class="pull-right hidden-xs">:</span></div>
              		<div class="col-sm-12 col-md-9 clearfix">{{delegasi.delegator}}</div>
              	</div>
              	<div class="row">
              		<div class="col-sm-12 col-md-3"><strong>Penerima Delegasi</strong> <span class="pull-right hidden-xs">:</span></div>
              		<div class="col-sm-12 col-md-9">{{delegasi.delegated}}</div>
              	</div>
              	<div class="row">
              		<div class="col-sm-12 col-md-3"><strong>Periode</strong> <span class="pull-right hidden-xs">:</span></div>
              		<div class="col-sm-12 col-md-9"><span>{{delegasi.date_start | amParse:'MM/DD/YYYY hh:mm:ss a' | amDateFormat: isMobile ? 'DD MMM \'YY' : 'DD MMM YYYY'}}</span> - <span>{{delegasi.date_stop | amParse:'MM/DD/YYYY hh:mm:ss a' | amDateFormat: 'DD MMM YYYY'}}</span></div>
              	</div>
              	<div class="row">
              		<div class="col-sm-12 col-md-3"><strong>Alasan</strong> <span class="pull-right hidden-xs">:</span></div>
              		<div class="col-sm-12 col-md-9" style="white-space: pre-wrap;" ng-bind-html="delegasi.reason"></div>
              	</div>
              </td>
              <td>
              	<button ng-if="profile.jabatan == delegasi.delegator" ng-click="batal(delegasi)" class="btn btn-danger btn-sm pull-right"><i class="fa fa-power-off fa-lg" aria-hidden="true"></i></button>
              </td>
            </tr>
          </table>
        <!-- /.box-body -->
      </div>
      
      <!--  
      <div class="box-footer">
      	<div class="text-center">
      		<a ng-href="#!/tambah-delegasi" class="btn btn-primary"><i class="fa fa-user-plus"></i> Tambah Delegasi</a>
      	</div>
      </div>
      -->
      <!-- /.box -->
    </div>
  </div>
</section>