<!-- Content Header Page header) -->
<section class="content-header">
  <h1>
    Disposisi Masuk
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="box-title">
            <div class="input-group input-group-sm">
              <input ng-model="searchText" placeholder="Search" class="form-control">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding" ng-repeat="disposisi in dataDisposisi | limitTo:limit | filter:searchText">
          <div class="info-box">
            <a ng-href="#!/detail-disposisi/{{disposisi.id}}">
              <span class="info-box-icon"><img ng-src="{{disposisi.pictunid}}" class="img-circle img-responsive" style="width:80px;height:80px"></span>
              <div class="info-box-content">
                <span class="info-box-text pull-left">{{disposisi.fromtitle}}</span>
                <span class="pull-right" date-formater='{{disposisi.createddate}}'></span><br>
                <p>{{disposisi.subject}}</p>
                <p>{{disposisi.body}}</p>
              </div>
            </a>
            <!-- /.info-box-content -->
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-sm-12 col-xs-12">
      <div class="col-sm-12 col-xs-12 btn btn-info" ng-click="loadmore()">Load More</div>
    </div>
  </div>
</section>
<!-- /.content -->