<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Disposisi Keluar
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="box-title">
            <div class="input-group input-group-sm">
              <input ng-model="searchText" placeholder="Search" class="form-control">
              <div class="input-group-addon"><i class="fa fa-search"></i></div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding" ng-repeat="disposisi in dataDispoKlr | limitTo:limit | filter:searchText">
          <div class="info-box">
            <a href="#!/detail-disposisi/{{disposisi.id}}">
              <span class="info-box-icon"><img ng-src='{{disposisi.pictunid}}' class="img-circle img-responsive"></span>
              <div class="info-box-content">
                <span class="info-box-text pull-left">{{disposisi.fromtitle}}</span>
                <span class="pull-right" date-formater='{{disposisi.createddate}}'></span><br>
                <p>{{disposisi.subject}}</p>
                <p>{{disposisi.nomor}}</p>
              </div>
            </a>
            <!-- /.info-box-content -->
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-sm-12 col-xs-12">
      <div class="col-sm-12 col-xs-12 btn btn-info" ng-click="loadmore()">Load More</div>
    </div>
    
    <!-- Desktop -->
        
        <div ng-if="!isMobile" class="box-body table-responsive no-padding">
        	<table class="table table-hover">
        		<thead>
        			<tr>
        				<th>Dari</th>
        				<th>No. Surat</th>
        				<th>Perihal</th>
        				<th>Tanggal</th>
        			</tr>
        		</thead>
        		<tbody>
                    <tr ng-repeat="surat in dataSuratAll | limitTo:limit" is-read="{{surat.isread}}">                    
                     	<td>{{surat.fromtitle}}</td>
                     	<td><a ng-href="#!/detail-inbox/{{surat.id}}">{{surat.nomor}}</a></td>
                     	<td>{{surat.subject | characters:70}}</td>
                        <td date-formater="{{surat.createddate}}"></td>
                     </tr>
                </tbody>
            </table>
        </div>
  </div>
</section>
<!-- /.content -->