<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    {{pageTitle}}
  </h1>
</section>
<!-- Main content-->
<section class="content">
  <div class="row">
    <div ng-class="{'col-sm-12 col-xs-12 no-padding':isMobile,'col-sm-12 col-xs-12':!isMobile }">
      <div class="box">
        <div class="box-header with-border">
        <div class="row">
        	<div class="col-md-12">
                <div class="col-sm-12 col-md-6 col-lg-8">
                
                <div class="input-group">
                <div class="input-group-btn">
                	<button class="btn btn-success btn-sm" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
                 </div> 
                  <input type="text" ng-model="searchKey" ng-change="search()" placeholder="Cari {{pageTitle}}" class="form-control input-sm">
                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                </div>
                </div>
                <div class="hidden-sm hidden-xs col-md-6 col-lg-4">
                	<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm no-margin pull-right" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
              	</div>
              </div>
       	</div>
	</div>
        <!-- /.box-header -->
        
        
        <!-- Mobile -->
        
        <div class="hidden-md hidden-lg"> 
        	<table ng-show="dataSuratAll.length > 0" class="table table-hover table-responsive">
        		<tbody>
                    <tr ng-repeat="surat in dataSuratAll" ng-click="click(surat.id)">                    
                     	<td >
                     		<!-- 
	                		<ul style="list-style:none" class="no-margin no-padding pull-left">
	                    		<li class="dropdown" >
	      							{{surat.sendto[0] | characters:25}} 
	      								<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" class="label label-default"><i class="fa fa-users"></i></a>
	      							
	      							<ul class="dropdown-menu" role="menu">
	      								<li ng-repeat="kepada in surat.sendto"> <a href="">{{kepada}}</a></li>
	      							</ul>
	      						</li>
	      					</ul> -->
			                <span class="pull-left">{{surat.sendto[0]}}<span ng-show="surat.sendto.length > 1">&nbsp;...</span></span>
			                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
			                <span class="description">{{surat.subject | characters:70}}</span><br>
			                <span class="text-muted">{{surat.nomor}}</span>
	              		</td>
                     </tr>
                     
                </tbody>
            </table>
            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
            	<tr class="box text-center text-muted" >
		      		<td collspan="4"><br><br><br><br><br>
		      			<i class="fa fa-inbox fa-5x"></i>
		      			<h3>Anda tidak memiliki surat yang disimpan</h3>
		      			<br><br><br><br><br>
		      		</td>
		      	</tr>
		   	</table>
       		<div align="center">
				<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
			</div>
        </div>

        <!-- Desktop -->
        
        <div class="box-body no-padding hidden-xs hidden-sm">
        	<table class="table table-responsive table-hover">
        		<thead>
        			<tr>
        				<th>Kepada</th>
        				<th>Perihal</th>
        				<th>No. Surat</th>
        				<th>Tanggal</th>
        			</tr>
        		</thead>
        			<tbody ng-show="dataSuratAll.length > 0">
	                    <tr ng-repeat="surat in dataSuratAll" style="cursor:pointer">
	                    	<td ng-click="click(surat.id)">
	                    	<!-- 
	                    	<ul style="list-style:none" class="no-margin no-padding">
	                    		<li class="dropdown" >
	      							{{surat.sendto[0]}} <a ng-show="surat.sendto.length > 1" href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
	      								<span class="label label-default"><i class="fa fa-users"></i></span>
	      							</a>
	      							<ul class="dropdown-menu" role="menu">
	      								<li ng-repeat="kepada in surat.sendto"> <a href="">{{kepada}}</a></li>
	      							</ul>
	      						</li>
	      					</ul> -->
	      					{{surat.sendto[0]}}<span ng-show="surat.sendto.length > 1">&nbsp;...</span>
	                        </td>
	                     	<td ng-click="click(surat.id)">{{surat.subject | characters:70}}</td> 
	                     	<td ng-click="click(surat.id)">{{surat.nomor}}</td>
	                     	<td ng-click="click(surat.id)" date-formater="{{surat.createddate}}"></td>
	                     	
						</tr>
                	</tbody>
                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
			      	<td colspan="4"><br><br><br><br><br>
				      	<i class="fa fa-inbox fa-5x"></i>
				      	<h3>Anda tidak memiliki surat yang disimpan</h3>
				      	<br><br><br><br><br>
			      	</td>
			    </tr>
            </table>
        </div>
        
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    
    
  </div>

</section>
<!-- /.content -->
