<!-- Content Header (Page header) -->
<section class="content-header">
	<div style="float:left;width:30px">
		<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
	<div style="padding-top:7px">
		<h3 class="no-margin" >Ubah PIN</h3>
	</div>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12 col-sm-12">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
        	<div class="row">
        		<div class="col-md-12">
        			<div ng-class="alertClass" role="alert">{{message}}</div>
        			<form name="pinForm" novalidate ng-submit="pinForm.$valid && updatePin()">
					  	<div class="form-group">
						    <label for="new_pin">Password</label>
						    <input type="password" class="form-control" id="new_pin" name="pin1" ng-model="pin1" placeholder="PIN" required>
						    <div style="color:maroon" role="alert" ng-show="passwordForm.pin1.$error['required']">Harap diisi</div>
					  	</div>
					  	<div class="form-group">
					    	<label for="confirm_pin">Konfirmasi Password</label>
					    	<input type="password" class="form-control" id="confirm_pin" name="pin2" ng-model="pin2" placeholder="Konfirmasi PIN" compare-to="pin1" required>
					    	<div style="color:maroon" role="alert" ng-show="pinForm.pin2.$error['compareTo']">Password tidak sama</div>
					    	<div style="color:maroon" role="alert" ng-show="pinForm.pin2.$error['required']">Harap diisi</div>
					  	</div>
					  	
  						<button type="submit" class="btn btn-primary" ng-disabled="pinForm.$invalid">Ubah</button>
  						<button type="button" class="btn btn-link" ng-click="cancel()">Batal</button>
        			</form>
        		</div>
        	</div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->