<!-- Content Header (Page header) -->
<section class="content-header text-center">
  <h4>
  	Selamat datang
  </h4>
  <h1>
    {{profile.full_name}}
  </h1>
</section>
<!-- Main content-->
<section class="content">
	<div class="row">
	<div class="col-md-6 col-xs-12">
        <div class="col-md-6 col-sm-6 col-xs-12">
        	<a ng-href="{{linkSurat}}">
	            <div class="small-box bg-aqua">
	              <div class="inner">
	              	<h3 ng-bind="profile.counts.letter_unread">0</h3>
	              	<p>Surat Masuk</p>
	              </div>
	              <div class="icon">
	              	<i class="fa fa-inbox"></i>
	              </div>
	            </div>
            </a>
        </div>
        <!-- /.col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <a ng-href="{{linkDispo}}">
            <div class="small-box bg-red">
              <div class="inner">
              	<h3 ng-bind="profile.counts.disposisi_unread">0</h3>
              	<p>Disposisi</p>
              </div>
              <div class="icon">
              	<i class="fa fa-share-alt"></i>
              </div>
            </div>
          </a>
        </div>
        <!-- /.col -->
		
        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <a ng-href="#!/involved/perlu-persetujuan">
            <div class="small-box bg-green">
              <div class="inner">
              	<h3 ng-bind="profile.counts.process_unread">0</h3>
              	<p>Perlu Persetujuan</p>
              </div>
              <div class="icon">
              	<i class="fa fa-check-circle-o"></i>
              </div>
            </div>
          </a>
        </div>
        <!-- /.col -->
        <div class="col-md-6 col-sm-6 col-xs-12">
          <a ng-href="#!/delegasi">
            <div class="small-box bg-yellow">
              <div class="inner">
              	<h3>{{profile.delegator || 'No'}}</h3>
              	<p>Status Delegasi</p>
              </div>
              <div class="icon">
              	<i class="fa fa-user"></i>
              </div>
            </div>
          </a>
        </div>
		<div class="col-md-12 col-xs-12">
          <!-- Line chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-calendar"></i>
              <h3 class="box-title">Jadwal Undangan</h3>
            </div>
            <div class="box-body">
            <br />
            <br />
            <center>Under construction</center>
            <br />
            <br />
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->
		</div>
        </div>
      <!-- /.col -->
        <div class="col-md-6 hidden-xs">
          <!-- Line chart -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <i class="fa fa-bar-chart-o"></i>
              <h3 class="box-title">Ringkasan Rekapitulasi Surat</h3>
            </div>
            <div class="box-body"> 
            <div style="height:350px" ng-hide="hideChart">
            <pie-chart ng-model="data"></pie-chart>
			</div>
			<div style="text-align:center" ng-if="hideChart">
            	<br /><br />This browser is doesnt support 
			</div>
            </div>
            <!-- /.box-body-->
          </div>
          <!-- /.box -->
		</div>
		
      </div>
	<!-- Desktop -->
  <div class="row">
    <div ng-class="{'col-sm-12 col-xs-12 no-padding':isMobile,'col-sm-12 col-xs-12':!isMobile }" id="agendaunread">
      <div class="box with-border hidden-xs">
        <div class="box-header with-border"><i class="fa fa-inbox"></i>
	        <h3 class="box-title"> Surat Belum Dibaca</h3>
	        <div class="box-tools pull-right">
	        <!-- 
	        	<span class="badge bg-yellow">{{agendaUnread.length}}</span>
	        -->
	        	<button class="btn btn-box-tool" ng-click="refresh('agenda')"><i class="fa fa-refresh"></i></button>
	        	 
	        </div>
	        
	        
		</div>
        <!-- /.box-header -->
        
        <!-- Mobile --> 
      <!--   <div class="hidden-md hidden-lg"> 
        	<table ng-show="agendaUnread.length >0" class="table table-hover table-responsive">
        		<tbody >
                    <tr ng-repeat="surat in agendaUnread" is-read="{{surat.isread}}" ng-click="detailAgenda(surat.id)">                    
						<td>
	                     	<span class="pull-left">
	              				<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
	              			</span>
							<div style="padding-left:70px;">
				                <span class="pull-left">{{surat.fromtitle | characters:25}}</span>
				                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
				                <span class="description pull-left">{{surat.subject | characters:70}}</span><br>
				                <span class="text-muted">{{surat.nomor}}</span>
							</div>
              			</td>
					</tr>
				</tbody>
            </table>
            
            <table ng-show="agendaUnread.length <= 0" class="table table-responsive">
            	<tr class="box text-center text-muted" >
		      		<td collspan="4"><br><br><br><br><br>
		      			<i class="fa fa-inbox fa-5x"></i>
		      			<h3>Belum ada surat masuk</h3>
		      			<br><br><br><br><br>
		      		</td>
		      	</tr>
		   	</table>
        </div> -->
        <!-- Desktop -->
        
        <div class="box-body no-padding hidden-xs">
        	<table class="table table-responsive table-hover">
        		<thead>
        			<tr>
        				<th>Dari</th>
        				<th>Perihal</th>
        				<th>No. Surat</th>
        				<th>Tanggal</th>
        			</tr>
        		</thead>
        		<tbody ng-show="agendaUnread.length >0">
                    <tr ng-repeat="surat in agendaUnread" is-read="{{surat.isread}}" style="cursor:pointer;">                    
                     	<td ng-click="detailAgenda(surat)" class="truncate"><span class="progress-description">{{surat.fromtitle}}</span></td>
                     	<td ng-click="detailAgenda(surat)" class="truncate"><span class="progress-description">{{surat.subject}}</span></td>
                        <td ng-click="detailAgenda(surat)">{{surat.nomor}}</td>
                        <td ng-click="detailAgenda(surat)" date-formater="{{surat.createddate}}"></td>
                     </tr>
                </tbody>
                <tr ng-show="agendaUnread.length <= 0" class="box text-center text-muted">
			      	<td colspan="4"><br><br><br><br><br>
				      	<i class="fa fa-inbox fa-5x"></i>
				      	<h3>Belum ada surat masuk</h3>
				      	<br><br><br><br><br>
			      	</td>
			    </tr>
            </table>
        </div>
        
        <!-- /.box-body -->
      </div>
      
      <div class="box with-border hidden-xs" id="disposisiunread">
        <div class="box-header">
        	<i class="fa fa-share-alt"></i>
	        <h3 class="box-title">Disposisi Belum Dibaca</h3>
	        
	        <div class="box-tools pull-right">
	         <!-- 
	        	<span class="badge bg-yellow">{{dispoUnread.length}}</span>
	        -->
	        	<button class="btn btn-box-tool" ng-click="refresh('disposisi')"><i class="fa fa-refresh"></i></button>
	         
	        </div>
		</div>
        <!-- /.box-header -->
        
        <!-- Mobile --> 
        <!-- <div class="hidden-md hidden-lg"> 
        	<table ng-show="dispoUnread.length >0" class="table table-hover table-responsive">
        		<tbody >
                    <tr ng-repeat="surat in dispoUnread" is-read="{{surat.isread}}" ng-click="detailDispo(surat.id)">                    
						<td>
	                     	<span class="pull-left">
	              				<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
	              			</span>
							<div style="padding-left:70px;">
				                <span class="pull-left">{{surat.fromtitle | characters:25}}</span>
				                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
				                <span class="description pull-left">{{surat.subject | characters:70}}</span><br>
				                <span class="text-muted pull-right">
				                	<i class="fa fa-share-alt text-info" ng-show="surat.dispostatus == 1" aria-hidden="true"></i> &nbsp;
                        			<i class="fa fa-reply text-info" ng-show="surat.tanggapanstatus == 1" aria-hidden="true"></i>
                        		</span>
				                <span class="text-muted">{{surat.notatindakandisp[0] | characters:15}}</span><br>
				                <span class="text-muted">{{surat.catatandisp}}</span>
							</div>
              			</td>
					</tr>
				</tbody>
            </table>
            
            <table ng-show="dispoUnread.length <= 0" class="table table-responsive">
            	<tr class="box text-center text-muted" >
		      		<td collspan="4"><br><br><br><br><br>
		      			<i class="fa fa-inbox fa-5x"></i>
		      			<h3>Belum ada disposisi masuk</h3>
		      			<br><br><br><br><br>
		      		</td>
		      	</tr>
		   	</table>
        </div> -->
        <!-- Desktop -->
        
        <div class="box-body no-padding hidden-xs">
        	<table class="table table-responsive table-hover">
        		<thead>
        			<tr>
        				<th>Dari</th>
        				<th>Perihal</th>
        				<th>Tanggal</th>
        				<th>Nota Tindakan</th>
        				<th>Catatan</th>
        				<th></th>
        			</tr>
        		</thead>
        		<tbody ng-show="dispoUnread.length >0">
                    <tr ng-repeat="surat in dispoUnread" is-read="{{surat.isread}}" style="cursor:pointer;">                    
                     	<td ng-click="detailDispo(surat.id)">{{surat.fromtitle}}</td>
                     	<td ng-click="detailDispo(surat.id)" class="truncate">{{surat.subject}}</td>
                        <td ng-click="detailDispo(surat.id)" date-formater="{{surat.createddate}}"></td>
                        <td ng-click="detailDispo(surat.id)" class="truncate"><span class="progress-description">{{surat.notatindakandisp[0]}}</span></td>
                        <td ng-click="detailDispo(surat.id)" class="truncate"><span class="progress-description" ng-bind-html="surat.catatandisp | limitTo:100"></span></td>
                        <td>
                        	<i class="fa fa-share-alt text-info" ng-show="surat.dispostatus == 1" aria-hidden="true"></i> &nbsp;
                        	<i class="fa fa-reply text-info" ng-show="surat.tanggapanstatus == 1" aria-hidden="true"></i>
                        </td>
                     </tr>
                </tbody>
                <tr ng-show="dispoUnread.length <= 0" class="box text-center text-muted">
			      	<td colspan="6"><br><br><br><br><br>
				      	<i class="fa fa-inbox fa-5x"></i>
				      	<h3>Belum ada disposisi masuk</h3>
				      	<br><br><br><br><br>
			      	</td>
			    </tr>
            </table>
        </div>
        
        <!-- /.box-body -->
      </div>
      
      <!-- /.box -->
    </div>
    
    
  </div>

</section>
<!-- /.content -->
