<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Pemesan
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <uib-tabset active="active">
              <uib-tab index="0" heading="In Progress" ng-click="pemesan('requestedIP')">
                <!-- 
                <div class="box-header with-border">
			        <div class="row">
			        	<div class="col-md-12">
			                <div class="col-sm-12 col-md-6 col-lg-8">
			                
			                <div class="input-group">
			                <div class="input-group-btn">
			                	<button class="btn btn-success btn-sm" ng-click="refresh('requestedIP')"><i class="fa fa-refresh"></i></button>
			                 </div> 
			                  <input type="text" ng-model="searchKey" ng-change="search('requestedIP')" placeholder="Cari di Kotak Pemesan In Progress" class="form-control input-sm">
			                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			                </div>
			                 
			                </div>
			                
			                <div class="hidden-sm hidden-xs col-md-6 col-lg-4">
			                	<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm no-margin pull-right" boundary-link-numbers="true" rotate="false" ng-change="pageChanged('requestedIP')"></ul>
			              	</div>
			              </div>
			       	</div>
				</div>
				--> 
                <!-- Mobile -->
        
		        <div class="hidden-md hidden-lg"> 
		        	<table class="table table-hover table-responsive" ng-show="dataSuratAll.length > 0">
		        		<tbody>
		                    <tr ng-repeat="surat in dataSuratAll" ng-click="click(surat.id)">                    
		                     	<td >
			                    	<span class="pull-left">
						              	<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
						        	</span>
						            <div style="padding-left:70px;">
						                <span class="pull-left">{{surat.fromtitle | characters:25}}</span>
						                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
						                <span class="description">{{surat.subject | characters:70}}</span><br>
						                <span class="text-muted">{{surat.nomor}}</span>
						            </div>
					              </td>
		                     </tr>
		                     
		                </tbody>
		            </table>
		            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
		            	<tr class="box text-center text-muted" >
				      		<td collspan="4"><br><br><br><br><br>
				      			<i class="fa fa-inbox fa-5x"></i>
				      			<h3>Tidak ada surat yang dipesan dalam proses</h3>
				      			<br><br><br><br><br>
				      		</td>
				      	</tr>
				   	</table>
		        </div>
		        <!-- Desktop -->
		        
		        <div class="box-body no-padding hidden-xs hidden-sm">
		        	<table class="table table-responsive table-hover">
		        		<thead>
		        			<tr>
		        				<th>Tanggal</th>
		        				<th>Perihal</th>
		        				<th>Menunggu Persetujuan</th>
		        				<th>Sisa Step</th>
		        				<th></th>
		        			</tr>
		        		</thead>
		        		<tbody ng-show="dataSuratAll.length > 0">
		                    <tr ng-repeat="surat in dataSuratAll" style="cursor: pointer">    
		                        <td ng-click="click(surat.id)" date-formater="{{surat.createddate}}"></td>  
		                     	<td ng-click="click(surat.id)">{{surat.subject | characters:50}}</td>              
		                     	<td ng-click="click(surat.id)">{{surat.letter_pos}}</td>
		                     	<td ng-click="click(surat.id)">{{surat.sisastep}}</td>
		                        <td><i class="fa fa-info-circle text-info" ng-click="showInfo()"></td>
		                     </tr>
		                </tbody>
		                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
					      	<td colspan="5"><br><br><br><br><br>
						      	<i class="fa fa-inbox fa-5x"></i>
						      	<h3>Tidak ada surat yang dipesan dalam proses</h3>
						      	<br><br><br><br><br>
					      	</td>
					    </tr>
		            </table>
		        </div>
		      <div align="center">
			  	<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged('requestedIP')"></ul>
		      </div>
              </uib-tab>
              <uib-tab index="1" heading="Returned" ng-click="pemesan('requestedRet')">
              <!-- 
                <div class="box-header with-border">
			        <div class="row">
			        	<div class="col-md-12">
			                <div class="col-sm-12 col-md-6 col-lg-8">
			                
			                <div class="input-group">
			                <div class="input-group-btn">
			                	<button class="btn btn-success btn-sm" ng-click="refresh('requestedRet')"><i class="fa fa-refresh"></i></button>
			                 </div> 
			                  <input type="text" ng-model="searchKey" ng-change="search('requestedRet')" placeholder="Cari di Kotak Pemesan Dikembalikan" class="form-control input-sm">
			                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			                </div>
			                
			                </div>
			                <div class="hidden-sm hidden-xs col-md-6 col-lg-4">
			                	<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm no-margin pull-right" boundary-link-numbers="true" rotate="false" ng-change="pageChanged('requestedRet')"></ul>
			              	</div>
			              </div>
			       	</div>
				</div>
				-->
                <!-- Mobile -->
        
		        <div class="hidden-md hidden-lg"> 
		        	<table class="table table-hover table-responsive" ng-show="dataSuratAll.length > 0">
		        		<tbody>
		                    <tr ng-repeat="surat in dataSuratAll" ng-click="click(surat.id)">                    
		                     	<td >
			                     	<span class="pull-left">
					              		<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
					              	</span>
					              <div style="padding-left:70px;">
					                <span class="pull-left">{{surat.fromtitle | characters:25}}</span>
					                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
					                <span class="description">{{surat.subject | characters:70}}</span>
					                <span class="text-muted">{{surat.nomor}}</span>
					                
					              </div>
				              </td>
		                     </tr>
		                </tbody>
		            </table>
		            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
		            	<tr class="box text-center text-muted" >
				      		<td collspan="4"><br><br><br><br><br>
				      			<i class="fa fa-inbox fa-5x"></i>
				      			<h3>Tidak ada surat pesanan yang dikembalikan</h3>
				      			<br><br><br><br><br>
				      		</td>
				      	</tr>
				   	</table>
		       		
		        </div>
        
		        <!-- Desktop -->
		        
		        <div class="box-body no-padding hidden-xs hidden-sm">
		        	<table class="table table-responsive table-hover">
		        		<thead>
		        			<tr>
		        				<th>Dari</th>
		        				<th>Perihal</th>
		        				<th>No. Surat</th>
		        				<th>Tanggal</th>
		        				<th></th>
		        			</tr>
		        		</thead>
		        		<tbody ng-show="dataSuratAll.length > 0">
		                    <tr ng-repeat="surat in dataSuratAll" style="cursor: pointer" >                    
		                     	<td ng-click="click(surat.id)">{{surat.fromtitle}}</td>
		                     	<td ng-click="click(surat.id)">{{surat.subject | characters:70}}</td>
		                     	<td ng-click="click(surat.id)">{{surat.nomor}}</td>
		                        <td ng-click="click(surat.id)" date-formater="{{surat.createddate}}"></td>
		                        <td><i class="fa fa-info-circle text-info" ng-click="showInfo()"></td>
		                     </tr>
		                </tbody>
		                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
					      	<td colspan="5"><br><br><br><br><br>
						      	<i class="fa fa-inbox fa-5x"></i>
						      	<h3>Tidak ada surat pesanan yang dikembalikan</h3>
						      	<br><br><br><br><br>
					      	</td>
					    </tr>
		            </table>
		        </div>
		        <div align="center">
					<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged('requestedRet')"></ul>
				</div>
              </uib-tab>
              <uib-tab index="2" heading="Batal" ng-click="pemesan('requestedCa')">
              <!-- 
                <div class="box-header with-border">
			        <div class="row">
			        	<div class="col-md-12">
			                <div class="col-sm-12 col-md-6 col-lg-8">
			                
			                <div class="input-group">
			                <div class="input-group-btn">
			                	<button class="btn btn-success btn-sm" ng-click="refresh('requestedCa')"><i class="fa fa-refresh"></i></button>
			                 </div> 
			                  <input type="text" ng-model="searchKey" ng-change="search('requestedCa')" placeholder="Cari di Kotak Pemesan Batal" class="form-control input-sm">
			                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
			                </div>
			                
			                </div>
			                <div class="hidden-sm hidden-xs col-md-6 col-lg-4">
			                	<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm no-margin pull-right" boundary-link-numbers="true" rotate="false" ng-change="pageChanged('requestedCa')"></ul>
			              	</div>
			              </div>
			       	</div>
				</div>
				-->
                <!-- Mobile -->
        
		        <div class="hidden-md hidden-lg"> 
		        	<table class="table table-hover table-responsive" ng-show="dataSuratAll.length > 0">
		        		<tbody>
		                    <tr ng-repeat="surat in dataSuratAll" ng-click="click(surat.id)">                    
		                     	<td >
			                     	<span class="pull-left">
						              	<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
						            </span>
						            <div style="padding-left:70px;">
						            	<span class="info-box-text pull-left">{{surat.fromtitle | characters:25}}</span>
						                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
						                <span class="description">{{surat.subject | characters:70}}</span><br>
						                <span class="text-muted">{{surat.nomor}}</span>
						            </div>
					              </td>
		                     </tr>
		                </tbody>
		            </table>
		            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
		            	<tr class="box text-center text-muted" >
				      		<td collspan="4"><br><br><br><br><br>
				      			<i class="fa fa-inbox fa-5x"></i>
				      			<h3>Tidak ada surat pesanan yang dibatalkan</h3>
				      			<br><br><br><br><br>
				      		</td>
				      	</tr>
				   	</table>
		       		
		        </div>
		        
        		<!-- Desktop -->
        
		        <div class="box-body no-padding hidden-xs hidden-sm">
		        	<table class="table table-responsive table-hover">
		        		<thead>
		        			<tr>
		        				<th>Dari</th>
		        				<th>Perihal</th>
		        				<th>No. Surat</th>
		        				<th>Tanggal</th>
		        				<th></th>
		        			</tr>
		        		</thead>
		        		<tbody ng-show="dataSuratAll.length > 0">
		                    <tr ng-repeat="surat in dataSuratAll" style="cursor: pointer" >                    
		                     	<td ng-click="click(surat.id)">{{surat.fromtitle}}</td>
		                     	<td ng-click="click(surat.id)">{{surat.subject | characters:70}}</td>
		                     	<td ng-click="click(surat.id)">{{surat.nomor}}</td>
		                        <td ng-click="click(surat.id)" date-formater="{{surat.createddate}}"></td>
		                        <td><i class="fa fa-info-circle text-info" ng-click="showInfo()"></td>
		                     </tr>
		                </tbody>
		                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
					      	<td colspan="5"><br><br><br><br><br>
						      	<i class="fa fa-inbox fa-5x"></i>
						      	<h3>Tidak ada surat pesanan yang dibatalkan</h3>
						      	<br><br><br><br><br>
					      	</td>
					    </tr>
		            </table>
		        </div>
		        <div align="center">
					<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged('requestedCa')"></ul>
				</div>
              </uib-tab>
            </uib-tabset>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
    </div>
  </div>
</section>
<!-- /.content -->