<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Profil User
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12 col-sm-12">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
        	<div class="row">
        		<div class="col-md-2 text-center">
        			<a ui-sref="profil-photo">
        				<img class="profile-user-img img-responsive img-circle" ng-src="{{profile.profile_picture}}" alt="User profile picture">
        			</a>
        			<a ui-sref="profil-photo">Ubah Photo Profil</a><br />
        			<a ui-sref="ganti-password">Ganti Password</a><br />
        			<a ui-sref="ganti-pin">Ganti PIN</a>
        		</div>
        		<div class="col-md-10">
			  		<div class="row">
			  			<div class="col-md-12"><h2>{{profile.full_name}}</h2></div>
			  			<div class="col-md-12"><i class="fa fa-briefcase" aria-hidden="true">&nbsp;</i>{{profile.jabatan}}</div>
			  			<div class="col-md-12"><i class="fa fa-building" aria-hidden="true">&nbsp;</i>{{profile.unit_kerja}}</div>
			  			<div class="col-md-12"><i class="fa fa-map-marker" aria-hidden="true">&nbsp;</i>{{profile.kota_kedudukan}}</div>
			  		</div>
		        	<div class="row">
		        		<div class="col-md-12"><h2>Tanda Tangan</h2></div>
		        		<div class="col-md-12">
		        			<img ng-show="tandaTangan.urlfoto" ng-src="{{tandaTangan.urlfoto}}" class="img-responsive" style="width:100px"/>
		        			<p>{{ttd.name}}</p>
		        			<button class="btn btn-sm" ngf-select="uploadTtd($file)" accept="image/*" type="file" name="">Unggah tanda tangan</button>
		        			<button type="button" class="btn btn-sm btn-primary" ng-click="unggahTtd()" ng-disabled="ttd === null">Simpan</button>
		        		</div>
		        	</div>
			  	</div>
        	</div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->