<!-- Content Header (Page header) -->
<section class="content-header">
	<div style="float:left;width:30px">
		<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
	<div style="padding-top:7px">
		<h3 class="no-margin" >Photo Profil</h3>
	</div>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
    <div class="col-md-12 col-sm-12">

      <!-- Profile Image -->
      <div class="box box-primary">
        <div class="box-body box-profile">
        	<div class="row">
        		<div class="col-md-12">
		        	Unggah Photo : <i class="fa fa-spinner fa-pulse fa-fw" style="color:blue;" ng-show="loading"></i>
		        	<input id="photo" type="file" accept="image/*" capture="camera" ngf-select="selectPhoto($file, 'preview')" />
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-12">
        			<div id="preview" style="width: 300px;"></div>
        		</div>
        	</div>
        	<div class="row">
        		<div class="col-md-12">
        			<button type="submit" id="submit" class="btn btn-primary" ng-click="updatePhoto()">Ganti Photo</button>
        		</div>
        	</div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->

</section>
<!-- /.content -->