<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="padding-top:7px">
			<h3 class="no-margin">Riwayat Disposisi</h3>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box">
      	<div class="box-header with-border">
      		<h3 class="box-title">Riwayat Disposisi</h3>
      	</div>
        <div class="box-body no-padding" ng-if="riwayatDispo.length > 0">
          <div class="info-box" ng-repeat="riwayatDispo in riwayatDispo">
              <span class="info-box-icon"><img ng-src="{{riwayatDispo.pictunid}}" class="img-circle img-responsive"></span>
              <div class="info-box-content">
                <span class="info-box-text" ng-bind-html="riwayatDispo.disptanggal"></span>
                <dl>
                  <dt>Dari :</dt>
                  <dd>{{riwayatDispo.pengirim}}</dd>
                  <dt>Kepada : </dt>
                  <dd>
                  	<ol>
                  		<li ng-repeat="kepada in riwayatDispo.penerimavalue track by $index">
                  			{{kepada}}
                  		</li>
                  	</ol>
                  </dd>
                  <dt>Nota Tindakan : </dt>
                  <dd>
                  	<ul class="list-unstyled" ng-repeat="tindakan in riwayatDispo.tindakanvalue track by $index">
            			<li><i class="fa fa-check text-green"></i> <span ng-bind-html ="tindakan"></span></li>
            		</ul>
            	  </dd>
                  <dt>Catatan : </dt>
                  <dd ng-bind-html="riwayatDispo.catatanvalue"></dd>
                </dl>
              </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <div class="box-body no-padding text-center text-muted" ng-if="riwayatDispo.length <= 0">
        	<br><br><br><br><br>
			<i class="fa fa-file-o fa-5x"></i>
			<h3>Tidak ada riwayat disposisi</h3>
			<br><br><br><br><br>
        </div>
        <!-- /.box-body -->
        </div>
      <!-- /.box -->
      
      <!-- Box Riwayat Balasan -->
      
       <div class="box">
	      	<div class="box-header with-border">
	      		<h3 class="box-title">Riwayat Surat Balasan</h3>
	      	</div>
	        <div class="box-body no-padding" ng-if="riwayatBalasan.length > 0">
	          <div class="info-box" >
	              <ul style='list-style:none;padding-left:10px'>
	              	<li ng-repeat='riwayat in riwayatBalasan track by $index'>{{riwayat}}</li>
	              </ul>
	            <!-- /.info-box-content -->
	          </div>
	        </div>
	        <div class="box-body no-padding text-center text-muted" ng-if="riwayatDispo.length <= 0">
	        	<br><br><br><br><br>
				<i class="fa fa-file-o fa-5x"></i>
				<h3>Tidak ada riwayat surat balasan</h3>
				<br><br><br><br><br>
	        </div>
        </div>
      
    </div>
</section>
<!-- /.content -->