<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="padding-top:7px">
			<h3 class="no-margin">Riwayat Surat</h3>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box">
        <div class="box-body table-responsive no-padding">
          <div class="info-box" ng-repeat="riwayat in dataRiwayat">
            <span class="info-box-icon"><img ng-src="{{riwayat.pictunid}}" class="img-circle img-responsive" style="width:90px;height:80px"></span>
            <div class="info-box-content">
              <span class="info-box-text">{{riwayat.fromtitle}}</span>
              <span>{{riwayat.processdate}}</span><br>
              <p>{{riwayat.fromname}} <br> {{riwayat.action}} <br> {{riwayat.komen}}</p>
            </div>
            <!-- /.info-box-content -->
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
</section>
<!-- /.content -->