<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Status
  </h1>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div ng-class="{'col-sm-12 col-xs-12 no-padding':isMobile,'col-sm-12 col-xs-12':!isMobile }">
      <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <uib-tabset active="active" vertical="isMobile">
              <uib-tab index="0" heading="Menunggu Persetujuan ({{counter.inprogress}})" ng-click="status('inprogress')" ng-init="status('inprogress')">
                <!-- Mobile -->
		        <div class="hidden-md hidden-lg"> 
		        	<table ng-show="dataSuratAll.length > 0" class="table table-hover table-responsive">
		        		<tbody>
		                    <tr ng-repeat="surat in dataSuratAll" ng-click="click(surat)">                    
		                     	<td >
									<span class="pull-left">
					              		<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
					              	</span>
					              	<div style="padding-left:70px;">
						                <span class="info-box-text pull-left">{{surat.letter_pos | characters:25}}</span>
						                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
						                <span class="description">{{surat.subject | characters:50}}</span><br>
						                <span class="text-muted">{{surat.nomor}}</span>  
					              	</div>
					              </td>
		                     </tr>
		                </tbody>
		            </table>
		            
		            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
		            	<tr class="box text-center text-muted" >
				      		<td collspan="4"><br><br><br><br><br>
				      			<i class="fa fa-inbox fa-5x"></i>
				      			<h3>Tidak ada surat yang menunggu persetujuan</h3>
				      			<br><br><br><br><br>
				      		</td>
				      	</tr>
				   	</table>
		        </div>
		        
        		<!-- Desktop -->
		        <div class="box-body no-padding hidden-xs hidden-sm">
		        	<table class="table table-responsive table-hover">
		        		<thead>
		        			<tr>
		        				<th>Tanggal</th>
		        				<th>Perihal</th>
		        				<th>Menunggu Persetujuan</th>
		        				<th>Sisa Step</th>
		        				<th>Penandatangan</th>
		        				<th></th>
		        			</tr>
		        		</thead>
		        		<tbody ng-show="dataSuratAll.length > 0">
		                    <tr ng-repeat="surat in dataSuratAll" style="cursor: pointer">    
		                        <td ng-click="click(surat)" date-formater="{{surat.createddate}}"></td> 
		                     	<td ng-click="click(surat)">{{surat.subject | characters:50}}</td>               
		                     	<td ng-click="click(surat)">{{surat.letter_pos}}</td>
		                     	<td ng-click="click(surat)">{{surat.sisastep}}</td>
		                     	<td ng-click="click(surat)">{{surat.penandatangan}}</td>
								<td><i class="fa fa-info-circle text-info" ng-click="showInfo()"></td>
		                     </tr>
		                </tbody>
		                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
					      	<td colspan="5"><br><br><br><br><br>
						      	<i class="fa fa-inbox fa-5x"></i>
						      	<h3>Tidak ada surat yang menunggu disetujui</h3>
						      	<br><br><br><br><br>
					      	</td>
					    </tr>
		            </table>
		        </div>
		        <div align="center">
					<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged('inprogress')"></ul>
				</div>
              </uib-tab>
              <uib-tab index="1" heading="Terkirim ({{counter.completed}})" ng-click="status('completed')">
                <!-- Mobile -->
		        <div class="hidden-md hidden-lg"> 
		        	<table ng-show="dataSuratAll.length > 0" class="table table-hover table-responsive">
		        		<tbody>
		                    <tr ng-repeat="surat in dataSuratAll" ng-click="clickCompleted(surat)">                    
		                     	<td >
									<span class="pull-left">
					              		<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
					              	</span>
					              	<div style="padding-left:70px;">
						                <span class="info-box-text pull-left">{{surat.fromtitle | characters:25}}</span>
						                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
						                <span class="description">{{surat.subject | characters:50}}</span><br>
						                <span class="text-muted">{{surat.nomor}}</span>  
					              	</div>
					              </td>
		                     </tr>
		                </tbody>
		            </table>
		            
		            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
		            	<tr class="box text-center text-muted" >
				      		<td collspan="4"><br><br><br><br><br>
				      			<i class="fa fa-inbox fa-5x"></i>
				      			<h3>Tidak ada surat </h3>
				      			<br><br><br><br><br>
				      		</td>
				      	</tr>
				   	</table>
		        </div>
		        
        		<!-- Desktop -->
		        <div class="box-body no-padding hidden-xs hidden-sm">
		        	<table class="table table-responsive table-hover">
		        		<thead>
		        			<tr>
		        				<th>Dari</th>
		        				<th>Perihal</th>
		        				<th>No. Surat</th>
		        				<th>Tanggal</th>
		        				<th></th>
		        			</tr>
		        		</thead>
		        		<tbody ng-show="dataSuratAll.length > 0">
		                    <tr ng-repeat="surat in dataSuratAll" style="cursor: pointer">    
		                     	<td ng-click="clickCompleted(surat)">{{surat.fromtitle}}</td>
		                     	<td ng-click="clickCompleted(surat)">{{surat.subject | characters:50}}</td>
		                     	<td ng-click="clickCompleted(surat)">{{surat.nomor}}</td>               
		                        <td ng-click="clickCompleted(surat)" date-formater="{{surat.createddate}}"></td> 
								<td><i class="fa fa-info-circle text-info" ng-click="showInfo()"></td>
		                     </tr>
		                </tbody>
		                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
					      	<td colspan="5"><br><br><br><br><br>
						      	<i class="fa fa-inbox fa-5x"></i>
						      	<h3>Tidak ada surat</h3>
						      	<br><br><br><br><br>
					      	</td>
					    </tr>
		            </table>
		        </div>
		        <div align="center">
					<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged('completed')"></ul>
				</div>
              </uib-tab>
              <uib-tab index="2" heading="Dikembalikan ({{counter.returned}})" ng-click="status('returned')">
              <!-- Mobile -->
		        <div class="hidden-md hidden-lg"> 
		        	<table class="table table-hover table-responsive" ng-show="dataSuratAll.length > 0">
		        		<tbody>
		                    <tr ng-repeat="surat in dataSuratAll" ng-click="click(surat)">                    
		                     	<td>
				                	<span class="pull-left">
					              	<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
					              </span>
					              <div style="padding-left:70px;">
					                <span class="pull-left">{{surat.letter_pos | characters:25}}</span>
					                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
					                <span class="description">{{surat.subject | characters:50}}</span>
					                <span class="text-muted">{{surat.nomor}}</span>
					              </div>
								</td>
		                     </tr>
		                     
		                </tbody>
		            </table>
		            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
		            	<tr class="box text-center text-muted" >
				      		<td collspan="4"><br><br><br><br><br>
				      			<i class="fa fa-inbox fa-5x"></i>
				      			<h3>Tidak ada surat yang dikembalikan</h3>
				      			<br><br><br><br><br>
				      		</td>
				      	</tr>
				   	</table>
		        </div>
		        
		        <!-- Desktop -->
		        <div class="box-body no-padding hidden-xs hidden-sm">
		        	<table class="table table-responsive table-hover">
		        		<thead>
		        			<tr>
		        				<th>Tanggal</th>
		        				<th>Kepada</th>
		        				<th>Perihal</th>
		        				<th>No. Surat</th>
		        				<th></th>
		        			</tr>
		        		</thead>
		        		<tbody ng-show="dataSuratAll.length > 0">
		                    <tr ng-repeat="surat in dataSuratAll" style="cursor: pointer">  
		                        <td ng-click="click(surat)" date-formater="{{surat.createddate}}"></td>                  
		                     	<td ng-click="click(surat)">{{surat.fromtitle}}</td>
		                     	<td ng-click="click(surat)">{{surat.subject | characters:50}}</td>
		                     	<td ng-click="click(surat)">{{surat.nomor}}</td>
		                        <td><i class="fa fa-info-circle text-info" ng-click="showInfo()"></td>
		                     </tr>
		                </tbody>
		                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
					      	<td colspan="5"><br><br><br><br><br>
						      	<i class="fa fa-inbox fa-5x"></i>
						      	<h3>Tidak ada surat yang dikembalikan</h3>
						      	<br><br><br><br><br>
					      	</td>
					    </tr>
		            </table>
		        </div>
		        <div align="center">
					<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged('returned')"></ul>
				</div>
              </uib-tab>
            </uib-tabset>
            <!-- /.tab-content -->
          </div>
          <!-- nav-tabs-custom -->
    </div>
  </div>
</section>
<!-- /.content -->