<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="padding-top:7px">
			<h3 class="no-margin">Riwayat Disposisi</h3>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box">
      	<div class="box-header with-border">
      		<em>
      			<h3 class="box-title">{{detailSurat.subject}}</h3><br>
      			<span class="text-muted">{{detailSurat.nosurat}}</span>
      		</em>
      	</div>
        <div class="box-body no-padding" ng-if="daftarDisposisi.length > 0">
          <div class="info-box" ng-repeat="disposisi in daftarDisposisi">
              <span class="info-box-icon"><img ng-src="{{disposisi.pictunid}}" class="img-circle img-responsive"></span>
              <div class="info-box-content">
              	<span class="pull-right" date-formater='{{disposisi.createddate}}'></span>
              	<dl>
              		<dt>Dari :</dt>
              		<dd>{{disposisi.fromtitle}}</dd>
              		<dt>Kepada : </dt>
              		<dd>
              			<ul class="list-unstyled" ng-init ="limitKepada = disposisi.disposendto.length > 3? 3:disposisi.disposendto.length">
	                  		<li ng-repeat="kepada in disposisi.disposendto | limitTo: limitKepada as results">
	                  			{{kepada}}
	                  		</li>
	                  		<a href ng-show="results.length < disposisi.disposendto.length && disposisi.disposendto.length > 3" ng-click="limitKepada = disposisi.disposendto.length">...tampilkan</a>
	            			<a href ng-show="results.length === disposisi.disposendto.length && disposisi.disposendto.length > 3" ng-click="limitKepada = 3">sembunyikan</a>
	                  	</ul>
              		</dd>
              		<dt>Nota Tindakan : </dt>
              		<dd>
              			<ul class="list-unstyled" ng-init ="limitTindakan = disposisi.notatindakan.length > 3? 3:disposisi.notatindakan.length">
	            			<li  ng-repeat="tindakan in disposisi.notatindakan | limitTo: limitTindakan as resultTindakan">
	            				<i class="fa fa-check text-green"></i> {{tindakan}}
	            			</li>
	            		</ul>
	            		<a href ng-show="resultTindakan.length < disposisi.notatindakan.length && disposisi.notatindakan.length > 3" ng-click="limitTindakan = disposisi.notatindakan.length">...tampilkan</a>
	            		<a href ng-show="resultTindakan.length === disposisi.notatindakan.length && disposisi.notatindakan.length > 3" ng-click="limitTindakan = 3">sembunyikan</a>
              		</dd>
              	</dl>
                <!-- <span class="info-box-text pull-left">{{disposisi.fromtitle}}</span>
                <span class="pull-right" date-formater='{{disposisi.createddate}}'></span><br>
                <p>{{disposisi.subject}}</p> -->
              </div>
            <!-- /.info-box-content -->
          </div>
        </div>
		<div class="box-body no-padding text-center text-muted" ng-if="daftarDisposisi.length <= 0">
        	<br><br><br><br><br>
			<i class="fa fa-file-o fa-5x"></i>
			<h3>Tidak ada disposisi</h3>
			<br><br><br><br><br>
        </div>
        <!-- /.box-body -->
      </div>
      
      <!-- /.box -->
      
      <!-- Box Riwayat Balasan -->
      
       <div class="box">
	      	<div class="box-header with-border">
	      		<h3 class="box-title">Riwayat Surat Balasan</h3>
	      	</div>
	        <div class="box-body no-padding" ng-if="riwayatBalasan.length > 0">
	          <div class="info-box" >
	              <ul style='list-style:none;padding-left:10px'>
	              	<li ng-repeat='riwayat in riwayatBalasan track by $index'>{{riwayat}}</li>
	              </ul>
	            <!-- /.info-box-content -->
	          </div>
	        </div>
	        <div class="box-body no-padding text-center text-muted" ng-if="riwayatDispo.length <= 0">
	        	<br><br><br><br><br>
				<i class="fa fa-file-o fa-5x"></i>
				<h3>Tidak ada riwayat surat balasan</h3>
				<br><br><br><br><br>
	        </div>
        </div>
    </div>
</section>
<!-- /.content -->