<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    <span ng-show="displaySurat">Surat Belum Dibaca</span>
    <span ng-show="displayDispo">Disposisi Belum Dibaca</span>
  </h1>
</section>
<!-- Main content-->
<section class="content">
<!-- Desktop -->
  <div class="row">
    <div ng-class="{'col-sm-12 col-xs-12 no-padding':isMobile,'col-sm-12 col-xs-12':!isMobile }">
      <div class="box with-border" ng-show="displaySurat">
       <!-- <div class="box-header with-border"><i class="fa fa-inbox"></i>
	        <h3 class="box-title"> Surat Belum Dibaca</h3>
	        <div class="box-tools pull-right">
	        	<span class="badge bg-yellow">{{agendaUnread.length}}</span>
	        	<button class="btn btn-box-tool" ng-click="refresh('agenda')"><i class="fa fa-refresh"></i></button>
	        </div>
	        
	        
		</div> -->
        <!-- /.box-header -->
        
        <!-- Mobile --> 
         <div class="hidden-md hidden-lg"> 
        	<table ng-show="agendaUnread.length >0" class="table table-hover table-responsive">
        		<tbody >
                    <tr ng-repeat="surat in agendaUnread" is-read="{{surat.isread}}" ng-click="detailAgenda(surat.id)">                    
						<td>
	                     	<span class="pull-left">
	              				<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
	              			</span>
							<div style="padding-left:70px;">
				                <span class="pull-left">{{surat.fromtitle | characters:25}}</span>
				                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
				                <span class="description pull-left">{{surat.subject | characters:70}}</span><br>
				                <span class="text-muted">{{surat.nomor}}</span>
							</div>
              			</td>
					</tr>
				</tbody>
            </table>
            
            <table ng-show="agendaUnread.length <= 0" class="table table-responsive">
            	<tr class="box text-center text-muted" >
		      		<td collspan="4"><br><br><br><br><br>
		      			<i class="fa fa-inbox fa-5x"></i>
		      			<h3>Belum ada surat masuk</h3>
		      			<br><br><br><br><br>
		      		</td>
		      	</tr>
		   	</table>
        </div> 
      </div>
      
      <div class="box with-border" ng-show="displayDispo">
       <!-- <div class="box-header">
        	<i class="fa fa-share-alt"></i>
	        <h3 class="box-title">Disposisi Belum Dibaca</h3>
	        
	        <div class="box-tools pull-right">
	        	<span class="badge bg-yellow">{{dispoUnread.length}}</span>
	        	<button class="btn btn-box-tool" ng-click="refresh('disposisi')"><i class="fa fa-refresh"></i></button>
	        </div>
		</div> -->
        <!-- /.box-header -->
        
        <!-- Mobile --> 
        <div class="hidden-md hidden-lg"> 
        	<table ng-show="dispoUnread.length >0" class="table table-hover table-responsive">
        		<tbody >
                    <tr ng-repeat="surat in dispoUnread" is-read="{{surat.isread}}" ng-click="detailDispo(surat.id)">                    
						<td>
	                     	<span class="pull-left">
	              				<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
	              			</span>
							<div style="padding-left:70px;">
				                <span class="pull-left">{{surat.fromtitle | characters:25}}</span>
				                <span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
				                <span class="description pull-left">{{surat.subject | characters:70}}</span><br>
				                <span class="text-muted pull-right">
				                	<i class="fa fa-share-alt text-info" ng-show="surat.dispostatus == 1" aria-hidden="true"></i> &nbsp;
                        			<i class="fa fa-reply text-info" ng-show="surat.tanggapanstatus == 1" aria-hidden="true"></i>
                        		</span>
				                <span class="text-muted">{{surat.notatindakandisp[0] | characters:15}}</span><br>
				                <span class="text-muted">{{surat.catatandisp}}</span>
							</div>
              			</td>
					</tr>
				</tbody>
            </table>
            
            <table ng-show="dispoUnread.length <= 0" class="table table-responsive">
            	<tr class="box text-center text-muted" >
		      		<td collspan="4"><br><br><br><br><br>
		      			<i class="fa fa-inbox fa-5x"></i>
		      			<h3>Belum ada disposisi masuk</h3>
		      			<br><br><br><br><br>
		      		</td>
		      	</tr>
		   	</table>
        </div>
        <!-- Desktop -->
      </div>
      
      <!-- /.box -->
    </div>
    
    
  </div>

</section>
<!-- /.content -->
