<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Kotak Proses {{pageTitle}}
  </h1>
</section>
<!-- Main content-->
<section class="content">
  <div class="row">
    <div ng-class="{'col-sm-12 col-xs-12 no-padding':isMobile,'col-sm-12 col-xs-12':!isMobile }">
      <!-- Custom Tabs -->
          <div class="nav-tabs-custom">
            <uib-tabset active="active">
              <uib-tab index="0" heading="Perlu Persetujuan ({{counter['involved']}})" ng-click="perluPersetujuan('involved')" ng-init="perluPersetujuan('involved')">
      
	      <!-- Fitur search & pagination
	      <div class="box">
		    <div class="box-header with-border">
		        <div class="row">
		        	<div class="col-md-12">
		                <div class="col-sm-12 col-md-6 col-lg-8">
		                
		                <div class="input-group">
		                <div class="input-group-btn">
		                	<button class="btn btn-success btn-sm" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
		                 </div> 
		                  <input type="text" ng-model="searchKey" ng-change="search()" placeholder="Cari Surat di {{pageTitle}}" class="form-control input-sm">
		                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
		                </div>
		                </div>
		                <div class="hidden-sm hidden-xs col-md-6 col-lg-4">
		                	<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm no-margin pull-right" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
		              	</div>
		              </div>
		       	</div>
			</div> -->
	        <!-- /.box-header -->
         
	        <!-- Mobile -->
	        
	        <div class="hidden-md hidden-lg"> 
	        	<table ng-show="dataSuratAll.length > 0" class="table table-hover table-responsive">
	        		<tbody>
	                    <tr ng-repeat="surat in dataSuratAll" is-read="{{surat.isread}}" ng-click="click(surat.id, surat.status)">                    
	                     	<td>
	                     		<span class="pull-left">
				              		<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
				              	</span>
				              	<div style="padding-left:70px;">
				                	<span class="pull-left" ng-show="{{display}}">{{surat.fromtitle | characters:25}}</span>
				                	<span class="pull-left" ng-show="!{{display}}">{{surat.penandatangan | characters:25}}</span>
				                	<span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
				                	<span class="description">{{surat.subject | characters:70}}</span><br>
				                	<span class="text-muted">{{surat.nomor}}</span>
				              </div>
				            </td>
	                     </tr>
	                     
	                </tbody>
	            </table>
	            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
	            	<tr class="box text-center text-muted" >
			      		<td collspan="4"><br><br><br><br><br>
			      			<i class="fa fa-inbox fa-5x"></i>
			      			<h3>Tidak ada surat yang perlu disetujui</h3>
			      			<br><br><br><br><br>
			      		</td>
			      	</tr>
			   	</table>
			   	<!-- 
	       		<div align="center">
					<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
				</div> -->
	        </div>
	        <!-- Desktop -->
	        
	        <div class="box-body no-padding hidden-xs hidden-sm">
	        	<table class="table table-responsive table-hover">
	        		<thead>
	        			<tr>
	        				<!-- <th ng-show="{{display}}">No. Tiket</th>-->
	        				<th>Tanggal</th>
	        				<th>Perihal</th>
	        				<th ng-show="{{display}}">Pemeriksa Sebelumnya</th>
	        				<th ng-show="{{display}}">Sisa Step</th>
	        				<th>Penandatangan</th>
	        				<th></th>
	        			</tr>
	        		</thead>
	        		<tbody ng-show="dataSuratAll.length > 0">
	                    <tr ng-repeat="surat in dataSuratAll" is-read="{{surat.isread}}" style="cursor: pointer">
	                    	<!-- <td ng-click="click(surat.id, surat.status)" ng-show="{{display}}">{{surat.nomortiket}}</td> -->                   	                    
	                        <td ng-click="click(surat.id, surat.status)" date-formater="{{surat.createddate}}"></td>
	                        
	                     	<td ng-click="click(surat.id, surat.status)">{{surat.subject | characters:70}}</td>
	                     	<td ng-click="click(surat.id, surat.status)" ng-show="{{display}}">{{surat.fromtitle}}</td>
	                     	<td ng-click="click(surat.id, surat.status)" ng-show="{{display}}">{{surat.sisastep}}</td>
	                     	<td ng-click="click(surat.id, surat.status)">{{surat.penandatangan}}</td>
	                        <td><i class="fa fa-info-circle"></td>
	                     </tr>
	                </tbody>
	                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
				      	<td colspan="6"><br><br><br><br><br>
					      	<i class="fa fa-inbox fa-5x"></i>
					      	<h3>Tidak ada surat yang perlu disetujui</h3>
					      	<br><br><br><br><br>
				      	</td>
				    </tr>
	            </table>
	        </div>
        <!-- box tab footer -->
        <!-- </div>  -->
        <div align="center">
			<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
		</div>
        </uib-tab>
        <uib-tab index="1" heading="Akan Disetujui ({{counter['tobeapproved']}})" ng-click="perluPersetujuan('tobeapproved')">
      
      <!-- Fitur search & pagination
      <div class="box">
	    <div class="box-header with-border">
	        <div class="row">
	        	<div class="col-md-12">
	                <div class="col-sm-12 col-md-6 col-lg-8">
	                
	                <div class="input-group">
	                <div class="input-group-btn">
	                	<button class="btn btn-success btn-sm" ng-click="refresh()"><i class="fa fa-refresh"></i></button>
	                 </div> 
	                  <input type="text" ng-model="searchKey" ng-change="search()" placeholder="Cari Surat di {{pageTitle}}" class="form-control input-sm">
	                  <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
	                </div>
	                </div>
	                <div class="hidden-sm hidden-xs col-md-6 col-lg-4">
	                	<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm no-margin pull-right" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
	              	</div>
	              </div>
	       	</div>
		</div>
        <!-- /.box-header -->
         
        <!-- Mobile -->
        
        <div class="hidden-md hidden-lg"> 
        	<table ng-show="dataSuratAll.length > 0" class="table table-hover table-responsive">
        		<tbody>
                    <tr ng-repeat="surat in dataSuratAll">                    
                     	<td>
                     		<span class="pull-left">
			              		<img ng-src='{{surat.pictunid}}' class="img-circle img-responsive" style="width:50px; height:50px; margin:7px">
			              	</span>
			              	<div style="padding-left:70px;">
			                	<span class="pull-left" ng-show="{{display}}">{{surat.fromtitle | characters:25}}</span>
			                	<span class="pull-left" ng-show="!{{display}}">{{surat.penandatangan | characters:25}}</span>
			                	<span class="pull-right" date-formater="{{surat.createddate}}"></span><br>
			                	<span class="description">{{surat.subject | characters:70}}</span><br>
			                	<span class="text-muted">{{surat.nomor}}</span>
			              </div>
			            </td>
                     </tr>
                     
                </tbody>
            </table>
            <table ng-show="dataSuratAll.length <= 0" class="table table-responsive">
            	<tr class="box text-center text-muted" >
		      		<td collspan="4"><br><br><br><br><br>
		      			<i class="fa fa-inbox fa-5x"></i>
		      			<h3>Tidak ada surat yang akan disetujui</h3>
		      			<br><br><br><br><br>
		      		</td>
		      	</tr>
		   	</table>
		   	<!-- 
       		<div align="center">
				<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
			</div>
			 -->
        </div>
        <!-- Desktop -->
        
        <div class="box-body no-padding hidden-xs hidden-sm">
        	<table class="table table-responsive table-striped">
        		<thead>
        			<tr>
        				<!-- <th ng-show="{{display}}">No. Tiket</th> -->
        				<th>Tanggal</th>
        				<th>Perihal</th>
        				<th ng-show="{{display}}">Pemeriksa Sebelumnya</th>
        				<th ng-show="{{display}}">Sisa Step</th>
        				<th>Penandatangan</th>
        				<th></th>
        			</tr>
        		</thead>
        		<tbody ng-show="dataSuratAll.length > 0">
                    <tr ng-repeat="surat in dataSuratAll">
                    	<!-- <td ng-show="{{display}}">{{surat.nomortiket}}</td>-->                    	                    
                        <td date-formater="{{surat.createddate}}"></td>
                        
                     	<td>{{surat.subject | characters:70}}</td>
                     	<td ng-show="{{display}}">{{surat.fromtitle}}</td>
                     	<td ng-show="{{display}}">{{surat.sisastep}}</td>
                     	<td>{{surat.penandatangan}}</td>
                        <td><!--  <i class="fa fa-info-circle">--></td>
                     </tr>
                </tbody>
                <tr ng-show="dataSuratAll.length <= 0" class="box text-center text-muted">
			      	<td colspan="6"><br><br><br><br><br>
				      	<i class="fa fa-inbox fa-5x"></i>
				      	<h3>Tidak ada surat yang akan disetujui</h3>
				      	<br><br><br><br><br>
			      	</td>
			    </tr>
            </table>
        </div>
        <!-- box tab footer -->
        <!-- </div>  -->
        <div align="center">
			<ul uib-pagination total-items="params.total" ng-model="params.currPage" max-size="params.maxSize" items-per-page="params.perPage" class="pagination-sm" boundary-link-numbers="true" rotate="false" ng-change="pageChanged()"></ul>
		</div>
        </uib-tab>
        </uib-tabset>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    
    
  </div>

</section>
<!-- /.content -->
