		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
			<h3 class="modal-title" id="modal-title" ng-show="showAddressBook">Address Book <i class="fa fa-spinner fa-spin" ng-show="loading"></i></h3>
			<h3 class="modal-title" id="modal-title" ng-hide="showAddressBook">Daftar Pejabat Terpilih </h3>
			
		</div>
          <div class="modal-body" id="modal-body" ng-init ="showAddressBook = true">
            <div class="row" ng-show="showAddressBook">              
            <div ng-class="{'col-md-6':ab_mode=='multiple', 'col-md-12':ab_mode=='single'}" >
				  <uib-tabset active="active">
       			    <uib-tab index="0" heading="Jabatan">
				    <div class="input-group input-group-sm" style="margin:5px 0;">
                      <input type="text" placeholder="Cari jabatan" ng-model="addressbook.searchKeyApi" ng-change="search()"  class="form-control" />
                     		<span class="input-group-btn">
       	 						<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      						</span> 
                 	</div>
					<div class="box box-info no-margin" style="height: 300px;overflow-y: auto;" ng-controller="ContentCtrl">		

					<ul class="nav nav-pills nav-stacked" ng-if="addressbook.searchKeyApi == ''">
						<li ng-repeat="node in maincat | orderBy : 'category'">
							<a href="" ng-click="toggle(node, null, null, null, null)">
								<b><i ng-class="{'glyphicon glyphicon-triangle-right': !node.expanded,'glyphicon glyphicon-triangle-bottom': node.expanded}"></i>
								{{node.category}}</b>
							</a>
							<div style="padding-left:10px"> 
							<ul class="nav nav-pills nav-stacked" ng-if="node.nodes.length > 0">
								<li ng-repeat="nodex in node.nodes">
								
									<a ng-if="nodex.type=='cat'" href="" ng-click="toggle(nodex, node.category, null, null, null)">
										<b><i ng-class="{'glyphicon glyphicon-triangle-right': !nodex.expanded,'glyphicon glyphicon-triangle-bottom': nodex.expanded}"></i>
										{{nodex.jabatan}}
										</b>
									</a>
									<a ng-if="nodex.type=='doc'" href="" ng-click="tambah_pilihan(nodex)" title="{{nodex.fullname}} ({{nodex.user_id}})">
										{{nodex.jabatan}}
										<i ng-class="{'fa fa-circle-thin pull-right':!isSelected(nodex) && ab_mode == 'multiple','fa fa-check pull-right':isSelected(nodex) && ab_mode == 'multiple'}" aria-hidden="true"></i>
									</a>
									<div style="padding-left:10px"> 
										<ul class="nav nav-pills nav-stacked" ng-if="nodex.nodes.length > 0">
											<li ng-repeat="nodey in nodex.nodes">
												<a ng-if="nodey.type=='cat'" href="" ng-click="toggle(nodey, node.category, nodex.jabatan,null,null)">
													<b><i ng-class="{'glyphicon glyphicon-triangle-right': !nodey.expanded,'glyphicon glyphicon-triangle-bottom': nodey.expanded}"></i>
													{{nodey.jabatan}}</b>
												</a>
												<a ng-if="nodey.type=='doc'" href="" ng-click="tambah_pilihan(nodey)" title="{{nodey.fullname}} ({{nodey.user_id}})">
													{{nodey.jabatan}}
													<i ng-class="{'fa fa-circle-thin pull-right':!isSelected(nodey) && ab_mode == 'multiple','fa fa-check pull-right':isSelected(nodey) && ab_mode == 'multiple'}" aria-hidden="true"></i>
												</a>
												<div style="padding-left:10px"> 
													<ul class="nav nav-pills nav-stacked" ng-if="nodey.nodes.length > 0">
														<li ng-repeat="nodez in nodey.nodes">
															<a ng-if="nodez.type=='cat'" href="" ng-click="toggle(nodez, node.category, nodex.jabatan,nodey.jabatan,null)">
																<b><i ng-class="{'glyphicon glyphicon-triangle-right': !nodez.expanded,'glyphicon glyphicon-triangle-bottom': nodez.expanded}"></i>
																{{nodez.jabatan}}</b>
															</a>
															<a ng-if="nodez.type=='doc'" href="" ng-click="tambah_pilihan(nodez)" title="{{nodez.fullname}} ({{nodez.user_id}})">
																{{nodez.jabatan}}
																<i ng-class="{'fa fa-circle-thin pull-right':!isSelected(nodez) && ab_mode == 'multiple','fa fa-check pull-right':isSelected(nodez) && ab_mode == 'multiple'}" aria-hidden="true"></i>
															</a>
															<div style="padding-left:10px"> 
																<ul class="nav nav-pills nav-stacked" ng-if="nodez.nodes.length > 0">
																	<li ng-repeat="nodezz in nodez.nodes">
																		<a ng-if="nodezz.type=='cat'" href="" ng-click="toggle(nodezz, node.category, nodex.jabatan,nodey.jabatan,nodez.jabatan)">
																			<b><i ng-class="{'glyphicon glyphicon-triangle-right': !nodezz.expanded,'glyphicon glyphicon-triangle-bottom': nodezz.expanded}"></i>
																			{{nodezz.jabatan}}</b>
																		</a>
																		<a ng-if="nodezz.type=='doc'" href="" ng-click="tambah_pilihan(nodezz)" title="{{nodezz.fullname}} ({{nodezz.user_id}})">
																			{{nodezz.jabatan}}
																			<i ng-class="{'fa fa-circle-thin pull-right':!isSelected(nodezz) && ab_mode == 'multiple','fa fa-check pull-right':isSelected(nodezz) && ab_mode == 'multiple'}" aria-hidden="true"></i>
																		</a>
																	</li> 
																</ul>
															</div>
														</li> 
													</ul>
												</div>
											</li> 
										</ul>
									</div>
								</li> 
							</ul>
							</div>
						</li>
					</ul>                   	  
					<ul class="nav nav-pills nav-stacked" ng-if="addressbook.searchKeyApi != ''">
						<li ng-repeat="node in searchResult">
							<a href="" ng-click="tambah_pilihan(node)" title="{{node.fullname}} ({{node.user_id}})">
								{{node.jabatan}}
								<i ng-class="{'fa fa-circle-thin pull-right':!isSelected(node) && ab_mode == 'multiple','fa fa-check pull-right':isSelected(node) && ab_mode == 'multiple'}" aria-hidden="true"></i>
							</a>
						</li> 
					</ul>
													
												
					</div>
                 </uib-tab>

				<!-- Personal Address Book-->
				<uib-tab index="1" heading="Personal" ng-click="personal()">
                    <div class="input-group input-group-sm" style="margin:5px 0;">
                      <input ng-model="searchPerson" placeholder="Cari personal" class="form-control">
                    	
						<span class="input-group-btn">
                     		<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                    	</span>
                 	</div>
					<div class="box box-info no-margin" style="height: 300px;overflow-y: auto;" ng-controller="ContentCtrl" scrolly="loadmore()">		
                    	<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="node in persons | filter : searchPerson | orderBy : 'fullname' | limitTo : limitListPersonal">
								<a class="item" href="" ng-click="tambah_pilihan(node)" title="{{node.fullname}} ({{node.user_id}})">
									<i ng-class="{'fa fa-circle-thin pull-right':!isSelected(node) && ab_mode == 'multiple','fa fa-check pull-right':isSelected(node) && ab_mode == 'multiple'}" aria-hidden="true"></i>
									{{node.fullname}} <br/>
									{{node.jabatan}}
								</a> 
							</li>
                   		</ul>
					</div>
                 </uib-tab>
            </div>
            <!--<div class="clearfix visible-xs-block"></div>-->
            <div class="col-md-6 hidden-xs hidden-sm" ng-show="ab_mode == 'multiple'">
			  Pejabat terpilih :
              <div class="box box-success" style="max-height: 380px;overflow-y: auto;" ng-controller="ContentCtrl" >		
              	<ul ui-sortable="{ 'ui-floating': false, 'handle': '> .sortingHandler' }" ng-model="pilihan" class="nav nav-pills nav-stacked">
					<li ng-repeat="node in pilihan" style="padding:10px 0px">
						<!-- <a href=""> -->
						<div class="sortingHandler pull-left" style="cursor:move;padding:0px 10px 10px 15px">
							<i class="fa fa-exchange" style="transform: rotate(90deg)"></i>
						</div>
						<div ng-click="hapus_pilihan($index)" class="pull-right clear-fix" style="z-index:10002;padding:0px 15px 10px 10px;cursor:pointer">
							<i class="fa fa-remove text-danger"></i>
						</div>
						<div style="padding-left:20px">
							{{node}}
						</div>
						<!-- </a> -->
					</li>
            	</ul>
			</div>
            <!--</div>-->
          </div>
        </div>
        <div class="row hidden-md hidden-lg" ng-show="!showAddressBook && ab_mode == 'multiple'" style="height: 300px">
        	<div class="col-xs-12 hidden-md hidden-lg">
              <div class="box box-success" style="max-height: 380px;overflow-y: auto;" ng-controller="ContentCtrl" >		
              	<ul ui-sortable="{ 'ui-floating': false, 'handle': '> .sortingHandler' }" ng-model="pilihan" class="nav nav-pills nav-stacked">
					<li ng-repeat="node in pilihan" style="padding:10px 0px">
						<!-- <a href=""> -->
						<div class="sortingHandler pull-left" style="cursor:move;padding:0px 10px 10px 15px">
							<i class="fa fa-exchange" style="transform: rotate(90deg)"></i>
						</div>
						<div ng-click="hapus_pilihan($index)" class="pull-right clear-fix" style="z-index:10002;padding:0px 15px 10px 10px;cursor:pointer">
							<i class="fa fa-remove text-danger"></i>
						</div>
						<div style="padding-left:20px">
							{{node}}
						</div>
						<!-- </a> -->
					</li>
            	</ul>
			</div>
            <!--</div>-->
          </div>
        </div>
        </div>
        <div class="modal-footer hidden-xs hidden-sm" ng-show="ab_mode == 'multiple'">
				<button class="btn btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
				<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
		</div>
		<div class="modal-footer hidden-md hidden-lg" ng-show="showAddressBook && ab_mode == 'multiple'">
			<button class="btn btn-info" type="button" ng-click="showAddressBook = false">Daftar Pejabat Terpilih ( {{pilihan.length}} ) <i class="fa fa-arrow-right"></i></button>
		</div>
		<div class="modal-footer hidden-md hidden-lg" ng-hide="showAddressBook">
        		<button class="btn btn-info pull-left" type="button" ng-click="showAddressBook = true"><i class="fa fa-angle-left"></i> Address Book </button>
				<button class="btn btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
				<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
		</div>
		
