<!-- Main content -->
<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="padding-top:7px">
			<h3 class="no-margin" >Buat Disposisi</h3>
	  	</div>
	</div>
</section> 

<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-sm-12 col-xs-12" ng-controller="userCtrl">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <!-- <h3 class="box-title">Disposisi dari : <i>{{infoUser.full_name}}</i> sebagai <i>{{infoUser.jabatan}}</i></h3> -->
        	<em><h3 class="box-title">{{detailSurat.subject}}</h3><br>
        	<span class="text-muted">{{detailSurat.nosurat}}</span></em>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <form role="form" name="disposisi">
          <div class="box-body">
            <div class="form-group" ng-controller="ModalDemoCtrl as $ctrl">
              <label for="exampleInputEmail1">Diteruskan kepada</label>
              <textarea 
              	class="form-control" 
              	ng-required="true" 
              	ng-model="buatDisposisi.kepada" 
              	id="kepada" 
              	ng-list 
              	name="kepada" 
              	ng-click="$ctrl.open('multiple', 'kepada', buatDisposisi.kepada)" 
              	placeholder="Klik disini untuk membuka Address Book" 
              	readonly></textarea>
            </div>
            <div class="form-group">
              <label>Nota tindakan</label>
            </div>
            <div class="checkbox">
              <label ng-repeat="tindakan in Notatindakan.tindakan">
                <input 
                	type="checkbox" 
                	checklist-model="buatDisposisi.tindakan" 
                	checklist-value="tindakan"
                	name="tindakan[]"> {{tindakan}}
              </label>
            </div>
            <div class="form-group">
              <label>Catatan</label>
              <textarea class="form-control" ng-model="buatDisposisi.catatan"></textarea>
            </div>
            
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <center>
              <button 
              	type="submit" 
              	class="btn btn-primary col-lg-offset-4 col-lg-3 col-md-offset-4 col-md-3 col-sm-12 col-xs-12" 
              	ng-disabled="buatDisposisi.tindakan.length <= 0 || buatDisposisi.kepada.length <= 0"
              	ng-click="save(profile.jabatan)">
              	<i class="fa fa-paper-plane-o">&nbsp;</i> 
              	Kirim
              </button>&nbsp;
            </center>
          </div>
        </form>
      </div>
      <!-- /.box -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->