<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="padding-top:7px">
			<h3 class="no-margin" >Form Delegasi</h3>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary" ng-controller="userCtrl">
        <!-- form start -->
        
          <div class="box-body">
          <form role="form" name="delegasiForm" class="form-horizontal" novalidate ng-submit="delegasiForm.$valid && delegate()">
          	
          	<div uib-alert ng-show="showAlert" ng-class="'alert-' + (alert.type || 'warning')" class="ng-hide" close="">{{alert.msg}}</div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Jabatan</label>
              <div class="col-sm-8">
              	<p class="form-control-static">{{profile.jabatan}}</p>
              </div>
            </div>
            <div class="form-group ng-class:{'has-error':(delegasiForm.$submitted && delegasiForm.delegated.$invalid)}" ng-controller="ModalDemoCtrl as $ctrl">
              <label class="col-sm-2 control-label">Pejabat Pengganti</label>
              <div class="col-sm-8">
              	<input type="text" 
	              	id="delegated" 
	              	name="delegated"
	              	class="form-control" 
	              	ng-model="delegasi.delegated[0]" 
	              	ng-click="$ctrl.open('single','delegated',delegasi.delegated)" 
	              	readonly 
	              	placeholder="Klik di sini untuk membuka Address Book"
	              	ng-required="true">
	              	<span class="help-block" ng-show="delegasiForm.delegated.$error.required && (delegasiForm.delegated.$touched || delegasiForm.$submitted)">Pilih penerima delegasi</span>
              </div>
            </div>
            <div class="form-group ng-class:{'has-error':(delegasiForm.$submitted && (delegasiForm.tglMulai.$error.required  || delegasiForm.tglSelesai.$error.required))}">
              <label class="col-sm-2 control-label">Periode</label>
              <div class="col-sm-8">
              <div class="row">
              <div class="col-sm-5">
              
              	<div class="input-group">
			      <input type="text" 
			      		name="tglMulai"
			            class="form-control" 
			            uib-datepicker-popup="dd-MMM-yyyy" 
			            ng-model="delegasi.date_start" 
			            is-open="popup1.opened" 
			            datepicker-options="dateOptions"
			            close-text="Close"
			            popup-placement="auto bottom"
			            placeholder="Tanggal Mulai (dd-MMM-yyyy)"
			            ng-required="true"
			            ng-change="updateStartDate()"/>
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar fa-lg"></i></button>
			          </span>
			      </div>
			      <span class="help-block" ng-show="delegasiForm.tglMulai.$error.required && (delegasiForm.tglMulai.$touched || delegasiForm.$submitted)">Tanggal Mulai harus diisi</span>
			      <span class="help-block" ng-show="delegasiForm.tglMulai.$error.date && (delegasiForm.tglMulai.$touched || delegasiForm.$submitted)">Format <strong>dd-MMM-yyyy</strong> (co: 12-Mar-2017)</span>
			      
			   </div>
			   <div class="col-sm-1 text-center form-control-static">s/d</div>
			   <div class="col-sm-6">
			      <div class="input-group">
			          <input type="text"
			          	name="tglSelesai" 
			            class="form-control" 
			            uib-datepicker-popup="dd-MMM-yyyy" 
			            ng-model="delegasi.date_stop" 
			            is-open="popup2.opened" 
			            datepicker-options="dateOptions2" 
			            close-text="Close" 
			            popup-placement="auto bottom"
			            placeholder="Tanggal Selesai (dd-MMM-yyyy)"
			            ng-required="true"/>
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar fa-lg"></i></button>
			          </span>
			      	</div>
			      <span class="help-block" ng-show="delegasiForm.tglSelesai.$error.required && (delegasiForm.tglSelesai.$touched || delegasiForm.$submitted)">Tanggal Selesai harus diisi</span>
			      <span class="help-block" ng-show="delegasiForm.tglSelesai.$error.date && (delegasiForm.tglSelesai.$touched || delegasiForm.$submitted)">Format <strong>dd-MMM-yyyy</strong> (co: 15-Mar-2017)</span>
			      <span class="help-block" ng-show="delegasi.date_start > delegasi.date_stop">Tanggal Selesai harus setelah Tanggal Mulai</span>
			    </div>
			   </div>
			      	
              </div>
            </div>
            <div class="form-group ng-class:{'has-error':(delegasiForm.alasan.$error.required && delegasiForm.$submitted)}">
              <label class="col-sm-2 control-label">Alasan Delegasi</label>
              <div class="col-sm-8">
              	<textarea type="text" name="alasan" class="form-control" ng-model="delegasi.reason" ng-required="true"></textarea>
              	<span class="help-block" ng-show="delegasiForm.alasan.$error.required && (delegasiForm.alasan.$touched || delegasiForm.$submitted)">Alasan pendelegasian harus diisi</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-8 col-sm-offset-2">
              	<button type="submit" class="btn btn-primary" ng-disabled="delegasiForm.$invalid || (delegasi.date_start > delegasi.date_stop)"><i class="fa fa-power-off">&nbsp;</i> Aktifkan</button>
              </div>
            </div>
        </form>
          </div>
          <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>