<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="padding-top:7px">
			<h3 class="no-margin" >Finalisasi Surat</h3>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- form start -->
        
          <div class="box-body" ng-controller="userCtrl">
			<form role="form" name="finalisasiForm" class="form-horizontal" novalidate ng-submit="suratManualForm.$valid && surat.attachment.length > 0 && compose('Submit')">
				<div class="form-group">
					<label for="MDJenisSMM" class="col-sm-2 control-label">Diupload oleh</label>
    				<div class="col-sm-8">
      					<p class="form-control-static">{{profile.full_name}}</p>
      					<p class="form-control-static">{{profile.jabatan}}</p>
    				</div>
  				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Catatan Pengiriman<span class="text-red">*</span></label>
    				<div class="col-sm-8">
    					<textarea ng-model="finalisasi.catatan" class="form-control" required></textarea>
    				</div>
  				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Lampiran<span class="text-red">*</span></label>
    				<div class="col-sm-8">
      					<button class="btn btn-default btn-sm" ngf-select="uploadFiles($files)" ngf-multiple="true">
		                	<i class="fa fa-cloud-upload" aria-hidden="true">&nbsp;</i>Unggah Lampiran
		                </button>
		                <h5>Files: </h5>
		                <ul>
		                	<li ng-repeat="file in finalisasi.attachment track by $index">
		                		{{file.name}}&nbsp;
		                		<a href rel="delete" ng-click="deleteFile($index)" title="hapus attachment {{file.name}}" class="text-red"><i class="fa fa-trash"></i></a>
		                	</li>
		                </ul>
    				</div>
  				</div>
  				<div class="form-group">
  					<label class="col-sm-2 control-label">Tandai Lengkap<span class="text-red">*</span></label>
  					<div class="radio">
					  <label class="radio-inline">
					    <input type="radio" name="complete" ng-model="finalisasi.complete" required>
					    Ya
					  </label>
					  <label class="radio-inline">
					    <input type="radio" name="complete" ng-model="finalisasi.complete" required>
					    Tidak
					  </label>
					</div>
  				</div>
	            <div class="form-group">
	              <div class="col-sm-8 col-sm-offset-2">
	              	<button type="submit" class="btn btn-primary" ng-disabled="finalisasiForm.$invalid || surat.attachment.length <= 0 "><i class="fa fa-paper-plane-o">&nbsp;</i> Kirim</button>
	              </div>
	            </div>
			</form>          
          </div>
          <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>