<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="padding-top:7px">
			<h3 class="no-margin" >Teruskan</h3>
	  	</div>
	</div>
</section> 
<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-sm-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- form start -->
        <form role="form" ng-controller="userCtrl">
          <div class="box-body form-horizontal">
            <div class="form-group">
              <label class="col-sm-2 col-md-1 control-label">Dari : </label>
              <div class="col-sm-10 col-md-10">
              	<input type="text" ng-model="infoUser.jabatan" disabled class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 col-md-1 control-label">Catatan :</label>
              <div class="col-sm-10 col-md-10">
              	<textarea class="form-control" ng-model="forward.catatan"></textarea>
              </div>
            </div>
            <div class="form-group" style="background-color:#F5F5F5;margin:0px -10px;">
              <div style="margin:10px">
                <h3>{{detailForward.subject}}</h3>
                <span>{{detailForward.nosurat}}</span>
              </div>
              <div class="user-block" style="margin:10px">
                <img ng-src="{{detailForward.pictunid}}" class="img-circle">
                <span class="username">{{detailForward.fromname}}</span>
                <span class="description">{{detailForward.fromtitle}}</span><br>
                
                <table border="0" class="description no-margin">
		            <tr>
		            	<td valign="top">Kepada </td>
		            	<td valign="top">:</td>
		            	<td><ul class="list-unstyled" ng-init ="limitKepada = detailForward.kepada.length > 3? 3:detailForward.kepada.length">
		            			<li ng-repeat="kepada in detailForward.kepada | limitTo: limitKepada as results">
		            				{{kepada}}
		            			</li>
		            			<a href ng-show="results.length < detailForward.kepada.length && detailForward.kepada.length > 3" ng-click="limitKepada = detailForward.kepada.length">...tampilkan</a>
		            			<a href ng-show="results.length === detailForward.kepada.length && detailForward.kepada.length > 3" ng-click="limitKepada = 3">sembunyikan</a>
		            		</ul>
		            		
		            	</td>
		            </tr>
		            <tr>
		            	<td valign="top">Tembusan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
		            	<td valign="top">:</td>
		            	<td ng-show="detailInbox.tembusan.length > 0">
		            		<ul class="list-unstyled" ng-init ="limitTembusan = detailForward.tembusan.length > 3? 3:detailForward.tembusan.length">
		            			<li ng-repeat="tembusan in detailForward.tembusan | limitTo: limitTembusan as results" >
		            				{{tembusan}}
		            			</li>
		            			<a href ng-show="results.length < detailForward.tembusan.length && detailForward.tembusan.length > 3" ng-click="limitTembusan = detailForward.tembusan.length">...tampilkan</a>
		            			<a href ng-show="results.length === detailForward.tembusan.length && detailForward.tembusan.length > 3" ng-click="limitTembusan = 3">sembunyikan</a>
		            			
		            		</ul>
		            	</td>
		            	<td ng-show="detailInbox.tembusan.length == null">
		            		&nbsp; -
		            	</td>
		            </tr>
		            <tr>
		            	<td>Tanggal </td>
		            	<td valign="top">:</td>
		            	<td><span date-formater="{{detailForward.createddate}}" format="DD MMMM YYYY HH:mm"></span></td>
		            </tr>
	            </table>
              </div>
              <div class="mailbox-read-message" ng-bind-html="detailForward.body">
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <center>
              <button type="submit" class="btn btn-primary col-lg-offset-4 col-lg-3 col-md-offset-4 col-md-3 col-sm-12 col-xs-12" ng-click="kirim(forward.catatan)"><i class="fa fa-paper-plane-o">&nbsp;</i> Kirim</button>&nbsp;
            </center>
          </div>
        </form>
      </div>
      <!-- /.box -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->