<div class="modal-header">	
<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
            <h3 class="modal-title" id="modal-title">Klasifikasi <i class="fa fa-spinner fa-spin" ng-show="loading"></i></h3>
          </div>
          <div class="modal-body" id="modal-body">
            <div class="row">              
				<div class="col-md-12">
				  
                    <div class="input-group input-group-sm">
                      <input ng-model="klasifikasi.searchKey" placeholder="Cari klasifikasi" ng-change="search()" class="form-control">
                     		<span class="input-group-btn">
       	 						<button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      						</span> 
                 	</div>
					<br/>

					<div class="box box-info no-margin" style="height: 300px;overflow-y: auto;">		

					<ul class="nav nav-pills nav-stacked" ng-if="klasifikasi.searchKey == ''">
						<li ng-repeat="node in maincat | filter : searchKlasifikasi">
							<a href="" ng-click="toggle(node, null, null, null, null)">
								<i ng-class="{'glyphicon glyphicon-triangle-right': !node.expanded,'glyphicon glyphicon-triangle-bottom': node.expanded}"></i>
								{{node.category}}
							</a>
							<div style="padding-left:10px"> 
							<ul class="nav nav-pills nav-stacked" ng-if="node.nodes.length > 0">
								<li ng-repeat="nodex in node.nodes">
								
									<a ng-if="nodex.type=='cat'" href="" ng-click="toggle(nodex, node.category, null, null, null)">
										<i ng-class="{'glyphicon glyphicon-triangle-right': !nodex.expanded,'glyphicon glyphicon-triangle-bottom': nodex.expanded}"></i>
										{{nodex.kode}}
									</a>
									<a ng-if="nodex.type=='doc'" ng-click="tambah_pilihan(nodex)" href="">
										{{nodex.kode}} {{nodex.topik}}
									</a>
									<div style="padding-left:10px"> 
										<ul class="nav nav-pills nav-stacked" ng-if="nodex.nodes.length > 0">
											<li ng-repeat="nodey in nodex.nodes">
												<a ng-if="nodey.type=='cat'" href="" ng-click="toggle(nodey, node.category, nodex.kode,null,null)">
													<i ng-class="{'glyphicon glyphicon-triangle-right': !nodey.expanded,'glyphicon glyphicon-triangle-bottom': nodey.expanded}"></i>
													{{nodey.kode}}
												</a>
												<a ng-if="nodey.type=='doc'" href="" ng-click="tambah_pilihan(nodey)">
													{{nodey.kode}} {{nodey.topik}}
												</a>
												<div style="padding-left:10px"> 
													<ul class="nav nav-pills nav-stacked" ng-if="nodey.nodes.length > 0">
														<li ng-repeat="nodez in nodey.nodes">
															<a ng-if="nodez.type=='cat'" href="" ng-click="toggle(nodez, node.category, nodex.kode,nodey.kode,null)">
																<i ng-class="{'glyphicon glyphicon-triangle-right': !nodez.expanded,'glyphicon glyphicon-triangle-bottom': nodez.expanded}"></i>
																{{nodez.kode}}
															</a>
															<a ng-if="nodez.type=='doc'" href="" ng-click="tambah_pilihan(nodez)">
																{{nodez.kode}} {{nodez.topik}}
															</a>
														</li> 
													</ul>
												</div>
											</li> 
										</ul>
									</div>
								</li> 
							</ul>
							</div>
						</li>
						
					</ul>      
					
					<ul class="nav nav-pills nav-stacked" ng-if="klasifikasi.searchKey != ''">
						<li ng-repeat="node in searchResult">
							<a href="" ng-click="tambah_pilihan(node)">
								{{node.kode}} {{node.topik}}
							</a>
						</li> 
					</ul>             	  
					
					</div>
                 
            </div>
        </div>
        