<form ng-submit="submitForm()">
	<div class="modal-body">
		<div class="form-group">
			<label>Masukkan Komentar</label>
			<textarea class="form-control"></textarea>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-info" ng-click="sendForm()"><i class="fa fa-paper-plane-o">&nbsp;</i> Kirim</button>
        <button class="btn btn-danger" ng-click="cancelForm()"><i class="fa fa-times-circle">&nbsp;</i> Cancel</button>
	</div>
</form>