<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Laporan Agenda
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box box-primary">
        <!-- form start -->
        <form role="form" name="laporanReqForm" class="form-horizontal" method="post" novalidate ng-submit="laporanReqForm.$valid && (laporanRequest.mulai <= laporanRequest.selesai) && unduh()">
          <div ng-class="alertClass" role="alert">{{message}}</div>
          <div class="box-body">
            <div class="form-group">
              <label class="col-sm-2 control-label">Pemohon</label>
              <div class="col-sm-10">
              	<input type="text" class="form-control" id="pemohon" name="pemohon" ng-model="laporanRequest.name" placeholder="Nama Pemohon" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tipe Dokumen</label>
              <div class="col-sm-10">
              	<select id="agenda" name="agenda" class="form-control" ng-model="laporanRequest.agenda" required ng-change="laporanRequest.surat = ''">
              		<option value="masuk">Surat Masuk</option>
              		<option value="keluar">Surat Keluar</option>
              		<option value="disposisi">Disposisi</option>
              	</select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tipe Surat</label>
              <div class="col-sm-10">
              	<select id="surat" name="surat" class="form-control" ng-model="laporanRequest.surat">
              		<option ng-show="laporanRequest.agenda == 'masuk'" ng-repeat="item in inbox | filter: {title: '!Disposisi'} track by $index" ng-selected="$index === 0" value="{{item.name}}">{{item.title}}</option>
              		<option ng-show="laporanRequest.agenda == 'keluar'" ng-repeat="item in outbox | filter: {title: '!Disposisi'} track by $index" ng-selected="$index === 0" value="{{item.name}}">{{item.title}}</option>
              		
              		<option ng-show="laporanRequest.agenda == 'disposisi'" value="masuk">Masuk</option>
	              	<option ng-show="laporanRequest.agenda == 'disposisi'" value="keluar">Keluar</option>
              	</select>
              </div>
            </div>
            <!-- field bentuk laporan tidak digunakan, gunakan nilai default -->
            <input type="hidden" ng-model="laporanRequest.bentuk" value="standar" />
            <!--  
            <div class="form-group">
              <label class="col-sm-2 control-label">Bentuk Laporan</label>
              <div class="col-sm-10">
              	<select id="bentuk" name="bentuk" class="form-control" ng-model="laporanRequest.bentuk">
              		<option value="standar">Standar</option>
              		<option value="gabungan" disabled>Gabungan</option>
              	</select>
              </div>
            </div>
            -->
            <div class="form-group">
              <label class="col-sm-2 control-label">Tanggal Awal</label>
              <div class="col-sm-10">
              	<div class="input-group">
		          <input type="text" id="mulai" name="mulai"
		            class="form-control" 
		            uib-datepicker-popup="dd-MMM-yyyy" 
		            ng-model="laporanRequest.mulai" 
		            is-open="popup1" 
		            datepicker-options="dateOptions" 
		            close-text="Close" 
		            popup-placement="auto bottom"
		            placeholder="dd-MMM-yyyy"
		            ng-required="dateOnlyOne"
		            ng-change="cekStatus()" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open1()"><i class="fa fa-calendar fa-lg"></i></button>
		          </span>
		      	</div>
		      	<span class="help-block" ng-show="laporanReqForm.mulai.$error.date && laporanReqForm.mulai.$touched">Format <strong>dd-MMM-yyyy</strong> (co: 12-Mar-2017)</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Tanggal Akhir</label>
              <div class="col-sm-10">
              	<div class="input-group">
		          <input type="text" id="selesai" name="selesai"
		            class="form-control" 
		            uib-datepicker-popup="dd-MMM-yyyy" 
		            ng-model="laporanRequest.selesai" 
		            is-open="popup2" 
		            datepicker-options="dateOptions2" 
		            close-text="Close" 
		            popup-placement="auto bottom"
		            placeholder="dd-MMM-yyyy"
		            ng-required="dateOnlyOne"
		            ng-change="cekStatus()" />
		          <span class="input-group-btn">
		            <button type="button" class="btn btn-default" ng-click="open2()"><i class="fa fa-calendar fa-lg"></i></button>
		          </span>
		      	</div>
		      	<span class="help-block" ng-show="laporanReqForm.selesai.$error.date && laporanReqForm.mulai.$touched">Format <strong>dd-MMM-yyyy</strong> (co: 12-Mar-2017)</span>
		      	<span class="help-block" ng-show="laporanRequest.mulai > laporanRequest.selesai">Tanggal Selesai harus setelah Tanggal Mulai</span>
		      	
              </div>
            </div>
            <div class="form-group">
            	<div class="col-sm-10 col-sm-offset-2">
            		<button type="submit" class="btn btn-primary btn-sm" ng-disabled="laporanReqForm.$invalid || (laporanRequest.mulai > laporanRequest.selesai)"><i class="fa fa-file-excel-o">&nbsp;</i> Unduh Laporan</button>
            	</div>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>