<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title" style="color:#000;font-weight:bold">
          <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              {{heading}}
            </span>
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
      </div>
    </div>
  </script>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1 style="margin-bottom:10px;">
    Nota Dinas
  </h1>
  <small>
  	<button type="button" class="btn btn-primary btn-sm" ng-click="alertKirim()"><i class="fa fa-paper-plane-o">&nbsp;</i> Kirim</button>&nbsp;
    <button type="button" class="btn btn-default btn-sm" ng-click="alertSimpan()"><i class="fa fa-floppy-o">&nbsp;</i> Simpan</button>&nbsp;
  </small>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-body pad">
          <form class="tab-form-demo" ng-controller="formSuratCtrl">
            <uib-tabset active="activeForm">
              <uib-tab index="0" heading="Informasi Surat">
                <ng-form name="nestedForm" class="form-horizontal">
                  <div class="form-group" style="margin-top:10px">
                    <label class="col-md-1 col-sm-2control-label">Kepada</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea ng-model="detailDraft.kepada" class="form-control">{{detailDraft.kepada}}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2control-label">Tembusan</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea ng-model="detailDraft.tembusan" class="form-control">{{detailDraft.tembusan}}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2control-label">Pengirim</label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" ng-model="detailDraft.fromtitle" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2control-label">Pemeriksa</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea ng-model="detailDraft.pemeriksa" class="form-control">{{detailDraft.pemeriksa}}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2control-label">Pemesan</label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" ng-model="detailDraft.pemesan" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2control-label">Perihal</label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" class="form-control" ng-model="detailDraft.subject">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2control-label">Pola Klasifikasi</label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" class="form-control">
                    </div>
                  </div>                  
                </ng-form>
              </uib-tab>
              <uib-tab index="1" heading="Isi">
                <ng-form name="nestedForm">
                  <div class="form-group" style="margin-top:10px;">
                    <label>Isi Surat</label>
                    <textarea ui-tinymce="tinymceOptions" ng-model="detailDraft.body" class="form-control">{{detailDraft.body}}</textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Lampiran</label>
                    <input type="file" id="exampleInputFile" ng-model="detailDraft.fileattname">
                  </div>
                </ng-form>
              </uib-tab>
              <uib-tab index="2" heading="Atribut">
                <ng-form name="nestedForm">
                  <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
                      <uib-accordion-heading>
                        Detail Atribut Surat <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                      </uib-accordion-heading>
                      <div class="form-group">
                        <label>Lampiran</label>
                        <p class="form-control-static">{{detailDraft.fileattname}}</p>
                      </div>
                      <div class="form-group">
                        <label>Prioritas</label>
                        <select class="form-control" ng-model="detailDraft.docpriority">
                          <option value="Biasa">Biasa</option>
                          <option value="Segera">Segera</option>
                          <option value="Sangat Segera">Sangat Segera</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Sifat</label>
                        <select class="form-control">
                          <option>Biasa</option>
                          <option>Rahasia</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label>Tahun</label>
                        <p class="form-control-static">-</p>
                      </div>
                      <div class="form-group">
                        <label>Nomor Surat</label>
                        <p class="form-control-static">...</p>
                      </div>
                    </div>
                  </uib-accordion>
                  <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html" style="margin-top:20px">
                      <uib-accordion-heading>
                        Data Pengirim Surat <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                      </uib-accordion-heading>                      
                      <div class="panel-heading">
                        <h3 class="panel-title">Data Pengirim</h3>
                      </div>
                      <div class="panel-body">
                        <div class="form-group">
                          <label>Kode Direksi/SM</label>
                          <input type="text" disabled class="form-control">
                        </div>
                        <div class="form-group">
                          <label>Nama Pejabat</label>
                          <input type="text" disabled class="form-control">
                        </div>
                        <div class="form-group">
                          <label>NUP</label>
                          <input type="text" disabled class="form-control">
                        </div>
                        <div class="form-group">
                          <label>Direktorat</label>
                          <input type="text" disabled class="form-control">
                        </div>
                        <div class="form-group">
                          <label>Sub Direktorat</label>
                          <input type="text" disabled class="form-control">
                        </div>
                        <div class="form-group">
                          <label>Atas Nama</label>
                          <select class="form-control">
                            <option>-</option>
                            <option>A.n</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label>Lokasi Kedudukan</label>
                          <p class="form-control-static">--</p>
                        </div>
                        <div class="form-group">
                          <label>Kode Unit</label>
                          <p class="form-control-static">--</p>
                        </div>
                        <div class="form-group">
                          <label>Kota</label>
                          <p class="form-control-static">--</p>
                        </div>
                      </div>
                    </div>
                  </uib-accordion>
                </ng-form>
              </uib-tab>
            </uib-tabset>
          </form>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col-->
  </div>
  <!-- ./row -->
</section>
<!-- /.content -->