<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-info">
	  <div class="panel-heading">
		<a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
        	<h4 class="panel-title" style="color:#3C8DBC;font-weight:bold">
          		<span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              		{{heading}}
          		</span>
       		</h4>
        </a>
      </div>

      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
      </div>
    </div>
  </script>
<!-- Content Header (Page header) -->
<form class="tab-form-demo" role="form" name="nodin" ng-controller="userCtrl" novalidate>
<section class="content-header">
  <div>
		<div style="float:left;width:30px" ng-if="'detail-draft' | isState">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1>
		</div>
		<div style="padding-top:7px" ng-if="'detail-draft' | isState">
			<h3 class="no-margin" >{{surat.subject}}</h3>
	  	</div>
	  	<div style="padding-top:7px" ng-if="'nodin' | isState">
			<h3 class="no-margin" >{{title}}</h3>
	  	</div>
	</div>
  <br>
  <small>
  	  <button 
	  	class="btn btn-primary btn-sm" 
	  	ng-click="compose('Submit',1)" 
	  	ng-if="'nodin' | includedByState"
	  	ng-disabled="nodin.nestedForm1.$invalid || nodin.nestedForm2.$invalid">
	  	<i class="fa fa-paper-plane-o">&nbsp;</i> 
	  	Kirim
	  </button>&nbsp;
	  <button 
	  	type="button" 
	  	class="btn btn-default btn-sm" 
	  	ng-click="compose('Draft',0)" 
	  	ng-if="'nodin' | includedByState">
	  	<i class="fa fa-floppy-o">&nbsp;</i> 
	  	Simpan
	  </button>&nbsp;
	  <button 
	  	type="button" 
	  	class="btn btn-primary btn-sm" 
	  	ng-click="composeDraft('Submit',1)" 
	  	ng-if="'detail-draft' | includedByState"
	  	ng-disabled="nodin.nestedForm1.$invalid || nodin.nestedForm2.$invalid">
	  	<i class="fa fa-paper-plane-o">&nbsp;</i> 
	  	Kirim
	  </button>&nbsp;
	  <button 
	  	type="button" 
	  	class="btn btn-default btn-sm" 
	  	ng-click="composeDraft('Draft',0)" 
	  	ng-if="'detail-draft' | includedByState">
	  	<i class="fa fa-floppy-o">&nbsp;</i> 
	  	Simpan
	  </button>&nbsp;
  </small>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-body">
            <uib-tabset active="activeForm">
              <uib-tab index="0" heading="Informasi Surat">
                <ng-form name="nestedForm1" class="form-horizontal" ng-controller="ModalDemoCtrl as $ctrl">
                  <input type="hidden" ng-model="infoUser.jabatan">
                  <div class="form-group" style="margin-top:20px;">
                    <label class="col-md-1 col-sm-2 control-label" ng-show="surat.tipeGenerik !== 'SuratUndangan'">
                    	Kepada<span class="text-red">*</span>
                    </label>
                    <label class="col-md-1 col-sm-2 control-label" ng-show="surat.tipeGenerik === 'SuratUndangan'">
                    	Kepada Internal<span class="text-red">*</span>
                    </label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea 
                    		rows="4" 
                    		class="form-control" 
                    		ng-model="surat.kepada"
                    		id="kepada" 
                    		name="kepada"
                    		ng-list="&#10;"
                    		ng-required="kepadaRequired() && surat.manualSendTo.length <= 0" 
                    		ng-click="$ctrl.open('multiple', 'kepada', surat.kepada)" 
                    		placeholder="Klik disini untuk membuka Address Book" 
                    		readonly>
                    	</textarea>
                    </div>
                  </div>
                  <div class="form-group" style="margin-top:20px;"  ng-show="surat.tipeGenerik === 'SuratUndangan'">
                    <label class="col-md-1 col-sm-2 control-label">Kepada Eksternal<span class="text-red">*</span></label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea class="form-control" ng-model="surat.manualSendTo" name="manualSendTo" id="kpdEks" ng-list="&#10;" ng-required="kepadaRequired() && surat.manualSendTo.length <= 0" ng-trim="false"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                  	<label class="col-md-11 col-sm-11 control-label">
                  		<div class="checkbox no-margin no-padding">
                  			<label class="checkbox-inline" ng-hide="tembusanToggle">
                  				<input type="checkbox" ng-model="tembusanToggle" ng-disabled="tembusanToggle">
                  					Tembusan
                  			</label>
                  			<label class="checkbox-inline" ng-hide="pemesanToggle"><input type="checkbox" ng-model="pemesanToggle" ng-disabled="pemesanToggle">Pemesan</label>
                  		</div>
                   	</label>
                  </div>
                  <div class="form-group" ng-show="tembusanToggle">
                    <label class="col-md-1 col-sm-2 control-label" ng-show="surat.tipeGenerik !== 'SuratUndangan'">
                    	Tembusan<span class="text-red">*</span>
                    </label>
                    <label class="col-md-1 col-sm-2 control-label" ng-show="surat.tipeGenerik === 'SuratUndangan'">
                    	Tembusan Internal
                    </label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea 
                    		rows="4" 
                    		class="form-control" 
                    		ng-model="surat.tembusanIn" 
                    		id="tembusan" 
                    		ng-list="&#10;" 
                    		ng-click="$ctrl.open('multiple', 'tembusan', surat.tembusanIn)" 
                    		placeholder="Klik disini untuk membuka Address Book" 
                    		readonly>
                    	</textarea>
                    </div>
                  </div>
                  <div class="form-group"  ng-if="surat.tipeGenerik === 'SuratUndangan' && tembusanToggle">
                    <label class="col-md-1 col-sm-2 control-label">Tembusan Eksternal</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea class="form-control" ng-model="surat.tembusanEks" name="tembusanEks" id="temEks" ng-list="&#10;" ng-trim="false"></textarea>
                    </div>
                  </div>
                  <div class="form-group" ng-show="pemesanToggle">
                    <label class="col-md-1 col-sm-2 control-label">Pemesan</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea 
	                    	rows="1" 
	                    	class="form-control" 
	                    	ng-model="surat.pemesan[0]" 
	                    	ng-blur="blur()"
	                    	id="pemesan" 
	                    	ng-click="$ctrl.open('single', 'pemesan', surat.pemesan)" 
	                    	placeholder="Klik disini untuk membuka Address Book"
	                    	readonly>
                    	</textarea>
                    </div>
                  </div>
                  <div class="form-group" ng-show="pemesanToggle">
                  	<label class="col-md-1 col-sm-2 control-label">Catatan Pemesan</label>
                  	<div class="col-md-10 col-sm-10">
                  		<textarea 
                  			rows="4" 
                  			class="form-control" 
                  			ng-model="surat.pemesanCatt">
                  		</textarea>
                  	</div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Pengirim<span class="text-red">*</span></label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea 
                    		rows="1" 
                    		class="form-control" 
                    		ng-blur="blur()" 
                    		ng-model="surat.fromtitle" 
                    		id="pengirim" 
                    		name="pengirim"
                    		ng-required="surat.fromtitle <= 0" 
                    		ng-click="$ctrl.open('single', 'pengirim', surat.fromtitle)" 
                    		placeholder="Klik disini untuk membuka Address Book" 
                    		readonly>
                    	</textarea>                	
                   	</div>
                    
                  </div>                  
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Pemeriksa</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea 
                    		class="form-control" 
                    		ng-model="surat.pemeriksa" 
                    		rows="3" 
                    		id="pemeriksa" 
                    		ng-list="&#10;" 
                    		ng-click="$ctrl.open('multiple', 'pemeriksa', surat.pemeriksa)" 
                    		placeholder="Klik disini untuk membuka Address Book" 
                    		readonly>
                    	</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Perihal<span class="text-red">*</span></label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" class="form-control" ng-model="surat.subject"  ng-required="true">
                    </div>
                  </div>
                  <div class="form-group" ng-controller="KlasifikasiCtrl as $ctrl">
                    <label class="col-md-1 col-sm-2 control-label">Pola Klasifikasi<span class="text-red">*</span></label>
                    <div class="col-md-10 col-sm-10" ng-controller="KlasifikasiCtrl as $ctrl">
                    	<input 
                    		type="text" 
                    		class="form-control" 
                    		id="klasifikasi" 
                    		name="klasifikasi"
                    		ng-model="surat.classificationText"
                    		ng-required="surat.classificationText == ''"
                    		ng-click="$ctrl.open(surat)"
                    		placeholder="Klik disini untuk membuka Daftar Klasifikasi" readonly />
                    </div>
                    <input type="hidden" id="kode" ng-model="surat.kode"/>
                    <input type="hidden" id="topik" ng-model="surat.topik"/>
                  </div>                      
                </ng-form>
              </uib-tab>
              <uib-tab index="1" heading="Penjelasan Isi Surat">
                <ng-form name="nestedForm2" ng-controller='TinyMceController'>
                	<div class="form-group" style="margin-top:20px;">
	                    <label>Penjelasan Isi Surat<span class="text-red">*</span></label>
	                    <textarea ui-tinymce="tinymceOptions" ng-model="surat.abstrak" class="form-control" name="abstrak" required></textarea>
	                </div> 
                </ng-form>
              </uib-tab>
              <uib-tab index="2" heading="Isi">
                <ng-form name="nestedForm2" ng-controller='TinyMceController'>
                  <div class="form-group" style="margin-top:20px;">
                    <label>Isi Surat<span class="text-red">*</span></label>
                    <textarea ui-tinymce="tinymceOptions" ng-model="surat.body" class="form-control" name="body" required></textarea>
                  </div>                  
                  <div class="form-group">
                  	<label>Catatan<span class="text-red">*</span></label>
                  	<textarea ng-model="surat.catatan" class="form-control" name="catatan" required></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Lampiran</label>
                    <button class="btn btn-primary btn-sm" ngf-select="uploadFiles($files)" ngf-multiple="true">
	                	<i class="fa fa-cloud-upload" aria-hidden="true">&nbsp;</i>Unggah Lampiran
	                </button>
                    <span>
                    	<ul>
		                	<li ng-repeat="file in surat.attachment track by $index">
		                		{{file.name}}&nbsp;
		                		<a href rel="delete" ng-click="deleteFile($index)" title="hapus attachment {{file.name}}" class="text-red"><i class="fa fa-trash"></i></a>
		                	</li>
		                </ul>
	                   	<ol ng-show="attFile != undefined">
	                   		<li ng-repeat="attachment in attFile" ng-show="attachment.aktif">
	                   			<a ng-href="{{attachment.url}}" target="_blank">{{attachment.name}}</a>
	                   			<button type="button" class="btn btn-box-tool text-red" ng-click="removeAttDraft(attachment.name, $index)">
			                   		<i class="fa fa-trash fa-lg"></i>
			                   	</button>
	                   		</li>
	                   	</ol>
                    </span>
                  </div>
                  <div class="form-group" ng-controller="ReferensiModal as $ref">
                  	<label ng-click="$ref.open(resolveReferences, surat.referensiNo, surat.referensi)" style="cursor: pointer;">Referensi Surat <a title="Tambah referensi"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></label>
                  	<input type="hidden" ng-model="surat.referensi" class="form-control">
                  	<input type="hidden" ng-model="surat.referensiNo" class="form-control">
                  	<ol>
                  		<li ng-show="mainRefDocsNo"><strong>{{mainRefDocsNo}}</strong></li>
                  		<li ng-repeat="subject in surat.referensiNo">{{subject}}</li>
                  	</ol>
                  </div>
                </ng-form>
              </uib-tab>
              <uib-tab index="3" heading="Atribut">
                <ng-form name="nestedForm">
                  <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-info" is-open="status.isCustomHeaderOpen" template-url="group-template.html" style="margin-top:20px">
                      <uib-accordion-heading>
                        Detail Atribut Surat <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                      </uib-accordion-heading>
                      <div class="panel-body form-horizontal">
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Lampiran</label>
	                        <div class="col-sm-10 col-md-10">
	                        	<input type="text" class="form-control" ng-model="surat.attCount" ng-value="surat.attCount == 0 ? '-' : surat.attCount">
	                        	<!-- <p class="form-control-static" ng-show="surat.attachment.length + attFile.length > 0">{{surat.attachment.length + attFile.length}} berkas</p>
	                        	<p class="form-control-static" ng-show="surat.attachment.length + attFile.length == 0">-</p>-->
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Butuh aksi balasan</label>
	                        <div class="col-sm-8 col-md-8">
		                        <select class="form-control" ng-model="surat.balas" ng-selected="surat.balas" ng-init="surat.balas = 'Tidak'">
		                          <option value="Ya">Ya</option>
		                          <option value="Tidak">Tidak</option>
		                        </select>
		                    </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Tanda Tangan</label>
	                        <div class="col-sm-8 col-md-8">
		                        <select class="form-control" ng-model="surat.tandaTangan" ng-selected="surat.tandaTangan" ng-init="surat.tandaTangan = 'Scan'">
		                          <option value="Basah">Tanda Tangan Basah</option>
		                          <option value="Scan">Tanda Tangan Scan</option>
		                        </select>
		                    </div>
	                      </div>
	                      <!-- <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Prioritas</label>
	                        <div class="col-sm-10 col-md-10">
		                        <select class="form-control" ng-model="surat.prioritas">
		                          <option value="Biasa">Biasa</option>
		                          <option value="Segera">Segera</option>
		                          <option value="Sangat Segera">Sangat Segera</option>
		                        </select>
		                    </div>
	                      </div> -->
						<div class="form-group">
							<label for="MDDueDate" class="col-sm-2 col-md-2 control-label">Tenggat Waktu</label>
		    				<div class="col-sm-8">
		      					<div class="input-group">
		      					<input type="text" 
						      		name="MDDueDate"
						            class="form-control" 
						            uib-datepicker-popup="dd-MMM-yyyy" 
						            ng-model="surat.MDDueDate" 
						            is-open="isDueDateOpen" 
						            datepicker-options="dateOptions2"
						            close-text="Close"
						            popup-placement="auto bottom"
						            placeholder="Tenggat Waktu (dd-MMM-yyyy)"
						            ng-change="dueDateChange()" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="isDueDateOpen = true;"><i class="fa fa-calendar fa-lg"></i></button>
						          </span>
						        </div>
		    				</div>
		  				</div>
						<div class="form-group">
							<label for="MDType" class="col-sm-2 col-md-2 control-label">Sifat</label>
		    				<div class="col-sm-8">
		      					<select class="form-control" id="MDType" ng-model="surat.sifat" ng-selected="surat.sifat">
				                	<option value="Biasa">Biasa</option>
				                	<option value="Rhs">Rahasia</option>
				                    <option value="Segera">Segera</option>
				                    <option value="Sangat Segera">Sangat Segera</option>
				                </select>
		    				</div>
		  				</div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Tahun</label>
	                        <div class="col-sm-10 col-md-10">
	                        	<p class="form-control-static" ng-hide="surat.status === 'Draft'">{{date | date:'yyyy'}}</p>
	                        	<p class="form-control-static" ng-show="surat.status === 'Draft'">{{surat.tahun[2]}}</p>
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Nomor Surat</label>
	                        <div class="col-sm-10 col-md-10">
	                        	<p class="form-control-static">{{surat.nosurat}}</p>
	                        </div>
	                      </div>
	                  </div>
                    </div>
                  </uib-accordion>
                  <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-info" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
                      <uib-accordion-heading>
                        Data Pengirim Surat <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                      </uib-accordion-heading>                      
                      <div class="panel-body form-horizontal">
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kode Direksi/SM</label>
                          <div class="col-md-10 col-sm-10">
                          	<input type="text" disabled class="form-control" ng-model="detailPengirim.kodeunit">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Nama Pejabat</label>
                          <div class="col-md-10 col-sm-10">
                          	<input type="text" disabled class="form-control" ng-model="detailPengirim.nama_pejabat">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">NUP</label>
                          <div class="col-md-10 col-sm-10">
                          	<input type="text" disabled class="form-control" ng-model="detailPengirim.NUP">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Direktorat</label>
                          <div class="col-md-10 col-sm-10">
                          	<input type="text" disabled class="form-control" ng-model="detailPengirim.direktorat">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Sub Direktorat</label>
                          <div class="col-md-10 col-sm-10">
                          	<input type="text" disabled class="form-control" ng-model="detailPengirim.sub_direktorat">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kode Jabatan</label>
                          <div class="col-md-10 col-sm-10">
                          	<input type="text" disabled class="form-control" ng-model="detailPengirim.positionID">
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Atas Nama</label>
                          <div class="col-md-10 col-sm-10">
	                          <select class="form-control" ng-model="surat.atasnama" ng-selected="surat.atasnama" ng-init="surat.atasnama = '-'">
	                            <option value="-">-</option>
	                            <option value="A.n">A.n</option>
	                          </select>
	                      </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Lokasi Kedudukan</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailPengirim.lokasi_1}} - {{detailPengirim.lokasi_2}}</p> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kode Unit</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailPengirim.kodeunit}}</p> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kota</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailPengirim.kota}}</p> 
                          </div>
                        </div>
                      </div>
                  </uib-accordion>
                </ng-form>
              </uib-tab>
            </uib-tabset>
          </form>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col-->
  </div>
  <!-- ./row -->
</section>
<!-- /.content -->