<style><!--
	.modal-body {
		max-height: 74vh;
	}
		
	.table-fixed {
	  width: 100%;
	  max-height: 80vh;
	}
	.table-fixed tbody {
	  max-height: 58vh;
	  overflow-y: auto;
	  width: 100%;
	}
	.table-fixed thead,
	.table-fixed tbody,
	.table-fixed tr,
	.table-fixed td,
	.table-fixed th {
	  display: block;
	}
	.table-fixed tbody td {
	  float: left;
	}
	.table-fixed thead tr th {
	  float: left;
	  background-color: #f39c12;
	  border-color: #e67e22;
	}
	
	.preview-pane {
		z-index: 999; 
		min-height: 100%; 
		position: absolute; 
		top: 0; 
		background-color: white; 
		width: 100%;
		padding: 1rem;
	}
	
	.preview-pane .box {
		float: left;
	}
	
	#referenceList i.fa-times {
		color: red;
	}
	
@media screen and (max-width: 767px) {
}
@media screen and (min-width: 768px) {
	.modal-body div div {
		border-right: 1px solid #ddd
	}
}
</style>
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$ctrl.cancel()"><span aria-hidden="true">&times;</span></button>
	<h3 class="modal-title" id="modal-title">Pilih Referensi Surat</h3>
</div>
<div class="modal-body container-fluid" id="modal-body">
	<div class="row">
		<div class="col-md-6 col-xs-12">
	    	<!-- untuk sementara, search dihide dulu -->
	    	<div class="input-group" ng-hide="true">
	    		<input type="search" name="q" class="form-control"/>
	    		<span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button></span>
	    	</div>
	    	<ul uib-pager style="margin: 0;" ng-model="currentPage" ng-change="changeContent()" total-items="totalItems" items-per-page="20" next-text="Next &raquo;" previous-text="&laquo; Previous"></ul>
		</div>
	</div>
	<div class="row">
	    <div id="inboxItems" ng-show="showReferencePanel" class="col-md-6 col-xs-12">
	    	<table class="table table-hover table-fixed" style="margin-top: 1rem;">
	    		<thead>
	    			<tr>
	    				<th class="col-xs-9">Kotak Masuk <i class="fa fa-spinner fa-spin" ng-show="loading"></i></th>
	    				<th class="col-xs-3 text-center"><i class="fa fa-check" aria-hidden="true"></i></th>
	    			</tr>
	    		</thead>
	    		<tbody>
		    		<tr ng-repeat="item in items" style="cursor:pointer;">
		    			<td class="col-xs-9" ng-click="$ctrl.previewDoc(item)">
		    				{{item.nomor}}<br />
				    		{{item.subject}}<br />
				    		{{item.fromtitle}}<br />
				    		{{item.createddate | amParse:'MM/DD/YYYY hh:mm:ss a' | amDateFormat: isMobile ? 'DD MMM \'YY' : 'DD MMM YYYY'}}
		    			</td>
		    			<td class="col-xs-3 text-center" ng-click="$ctrl.selectRef(item.id, item.nomor)">
		    				<i class="fa fa-circle-thin" aria-hidden="true" ng-hide="$ctrl.isSelected(item.nomor)"></i>
		    				<i class="fa fa-check" aria-hidden="true" ng-show="$ctrl.isSelected(item.nomor)"></i>
		    			</td>
		    		</tr>
	    		</tbody>
	    	</table>
	    	
	    </div>
	    
	    <div id="referenceList" ng-show="showSelectedRefPanel" class="col-md-6 col-xs-12">
	    	<table class="table table-hover table-fixed" style="margin-top: 1rem;">
	    		<thead>
	    			<tr>
	    				<th class="col-xs-2 text-center">No.</th>
	    				<th class="col-xs-8">Referensi Terpilih</th>
	    				<th class="col-xs-2 text-center">&nbsp;</th>
	    			</tr>
	    		</thead>
		    	<tbody>
		    		<tr ng-repeat="subject in referenceSubject track by $index">
						<td class="col-xs-2 text-right">{{$index+1}}</td>
		    			<td class="col-xs-8">{{subject}}</td>
		    			<td class="col-xs-2 text-right" ng-click="$ctrl.selectRef(referenceList[$index], subject)" style="cursor: pointer;">
		    				<i rel="delete" class="fa fa-times" aria-hidden="true"></i>
		    			</td>
		    		</tr>
		    	</tbody>
	    	</table>
	    </div>
	</div>
</div>

<div class="modal-footer" ng-if="mobileView() && showReferencePanel">
	<button class="btn btn-info" type="button" ng-click="$ctrl.selectedRefs()">Referensi Terpilih ({{referenceSubject.length}})&nbsp;&rarr;</button>
</div>
<div class="modal-footer" ng-if="showSelectedRefPanel">
	<button class="btn btn-info pull-left" type="button" ng-click="$ctrl.viewRefList()" ng-if="mobileView() && showSelectedRefPanel">&larr;&nbsp;Kotak Masuk</button>
	
	<button class="btn btn-success" type="button" ng-click="$ctrl.ok()">OK</button>
	<button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>

<!-- preview panel -->
<div ng-show="showPreview" class="preview-pane">
	<button type="button" class="close" aria-label="Close" ng-click="$ctrl.closePreview()"><span aria-hidden="true">&times;</span></button>
	<div class="box box-widget" ng-if="mobileView()">
		<div class="box-header with-border hidden-md hidden-lg">
          <div class="user-block">
            <img ng-src="{{selectedDoc.pictunid}}" class="img-circle" style="width:40px; height:40px">
            <span class="username">{{selectedDoc.fromname}}</span>
            <span class="description">{{selectedDoc.fromtitle}}</span>
            <br>
            <table border="0" class="description no-margin">
	            <tbody>
	            	<tr>
		            	<td valign="top" width:="">Kepada</td>
		            	<td valign="top">:</td>
		            	<td>
		            		<ul class="list-unstyled">
		            			<li ng-repeat="kepada in selectedDoc.kepada">{{kepada}}</li>
		            		</ul>
		            	</td>
		            </tr>
		            <tr>
		            	<td valign="top">Tembusan </td>
		            	<td valign="top">:</td>
		            	<td ng-show="detailInbox.tembusan.length > 0" class="ng-hide">
		            		<ul class="list-unstyled">
		            			<li ng-repeat="tembusan in selectedDoc.tembusan">{{tembusan}}</li>
		            		</ul>
		            	</td>
		            	<td ng-show="detailInbox.tembusan.length == 0">&nbsp; -</td>
		            </tr>
		            <tr>
		            	<td>Tanggal </td>
		            	<td valign="top">:</td>
		            	<td>
		            		{{selectedDoc.createddate | amParse:'MM/DD/YYYY hh:mm:ss a' | amDateFormat: isMobile ? 'DD MMM \'YY' : 'DD MMM YYYY'}}
		            	</td>
		            </tr>
	            </tbody>
	        </table>
            
            <div class="pull-right">
    			<label><input type="checkbox" ng-click="$ctrl.selectRef(selectedDoc.id, selectedDoc.nosurat)" ng-checked="$ctrl.isSelected(selectedDoc.nosurat)"> Jadikan Referensi</label>
			</div>
          </div>
        </div>
        
        <div class="box-body no-padding">
          <div class="mailbox-read-message" ng-bind-html="selectedDoc.body | trusted"></div>
        </div>
	</div>
	
	<div class="box box-widget" ng-if="!mobileView()">
		<div class="box-header with-border">
			<div class="pull-right">
    			<label><input type="checkbox" ng-click="$ctrl.selectRef(selectedDoc.id, selectedDoc.nosurat)" ng-checked="$ctrl.isSelected(selectedDoc.nosurat)"> Jadikan Referensi</label>
			</div>
		</div>
		<div class="box-body no-padding">
          <div class="mailbox-read-message" ng-bind-html="selectedDoc.takah | trusted"></div>
        </div>
	</div>
	
</div>