<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Asisten
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box box-primary">
        <!-- form start -->
        <form role="form" class="form-horizontal">
          <div class="box-body">
        	<div uib-alert class="alert-danger" ng-show="errormsg.length > 0">{{errormsg}}</div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Jabatan</label>
              <div class="col-sm-8">
              	<p class="form-control-static">{{sekretaris.jabatan}}</p>
              </div>
            </div>
            <div class="form-group" ng-controller="ModalDemoCtrl as $ctrl">
              <label class="col-sm-2 control-label">Nama Asisten</label>
              <div class="col-sm-8">
              	<p class="form-control-static" ng-show="sekretaris.status == 'set'">{{sekretaris.sekretaris}}</p>
              	<textarea ng-show="sekretaris.status == 'unset'" 
              		rows="1"
              		class="form-control" 
              		ng-model="sekretaris.jabatansec" 
              		id="jabatansec" 
              		ng-click="$ctrl.open('single','jabatansec',sekretaris.jabatansec)" 
              		placeholder="Klik disini untuk membuka Address Book" 
              		ng-required="true"
              		readonly>
              		</textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Status</label>
              <div class="col-sm-8">
              	<p class="form-control-static" ng-show="sekretaris.status == 'unset'">Asisten belum diaktifkan</p>
              	<p class="form-control-static" ng-show="sekretaris.status == 'set'">Asisten sudah diaktifkan</p>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label"></label>
              <div class="col-sm-8">
              	<button type="submit" class="btn btn-primary btn-sm" ng-show="sekretaris.status == 'unset'" ng-click="aktif()"><i class="fa fa-power-off">&nbsp;</i> Aktifkan</button>
            	<button type="submit" class="btn btn-danger btn-sm" ng-show="sekretaris.status == 'set'" ng-click="batal()"><i class="fa fa-power-off">&nbsp;</i> Batalkan</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>