<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="padding-top:7px">
			<h3 class="no-margin" >Surat Manual</h3>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <!-- form start -->
        
          <div class="box-body">
			<form role="form" name="suratManualForm" class="form-horizontal" novalidate>
				<h4>Informasi Surat</h4>
				<div class="form-group">
					<label for="MDJenisSMM" class="col-sm-2 control-label">Jenis Surat</label>
    				<div class="col-sm-8">
      					<select class="form-control" id="MDJenisSMM" ng-model="surat.MDJenisSMM" ng-selected="surat.MDJenisSMM">
		                	<option ng-repeat="jenis in jenis.jenisSuratMasukManual" value="{{jenis}}">{{jenis}}</option>
		                </select>
    				</div>
  				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Nomor Agenda</label>
    				<div class="col-sm-8"><p class="form-control-static" ng-bind="noAgenda"></p></div>
  				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">Tanggal Terima</label>
    				<div class="col-sm-8"><p class="form-control-static">{{tglTerima}}</p></div>
  				</div>
				<div class="form-group">
					<label for="MDNoFull" class="col-sm-2 control-label">Nomor Surat<span class="text-red">*</span></label>
    				<div class="col-sm-8">
      					<input type="text" class="form-control" id="MDNoFull" ng-model="surat.MDNoFull" ng-model-options="{ debounce: 1000 }" ng-change="cekNoIsExisting()" ng-required="true">
      					<span ng-if="isNumExist=='yes'" class="text-red"><i class="fa fa-files-o text-red"></i> Nomor surat sudah ada</span>
    				</div>
  				</div>
				<div class="form-group">
					<label for="MDTanggalSurat" class="col-sm-2 control-label">Tanggal Surat<span class="text-red">*</span></label>
    				<div class="col-sm-8">
      					<div class="input-group">
      					<input type="text" 
				      		name="MDTanggalSurat"
				            class="form-control" 
				            uib-datepicker-popup="dd-MMM-yyyy" 
				            ng-model="surat.MDTanggalSurat" 
				            is-open="isDatePickerOpen" 
				            datepicker-options="dateOptions"
				            close-text="Close"
				            popup-placement="auto bottom"
				            placeholder="Tanggal Surat (dd-MMM-yyyy)"
				            ng-required="true"/>
				          <span class="input-group-btn">
				            <button type="button" class="btn btn-default" ng-click="isDatePickerOpen = true;"><i class="fa fa-calendar fa-lg"></i></button>
				          </span>
				        </div>
    				</div>
  				</div>
				<div class="form-group">
					<label for="MDKlasifikasiMasalah" class="col-sm-2 control-label">Pola Klasifikasi<span class="text-red">*</span></label>
    				<div class="col-sm-8" ng-controller="KlasifikasiCtrl as $ctrl">
	                    	<input 
	                    		type="text" 
	                    		class="form-control" 
	                    		id="MDKlasifikasiMasalah" 
	                    		name="MDKlasifikasiMasalah"
	                    		ng-model="surat.classificationText"
	                    		ng-click="$ctrl.open(surat)"
	                    		placeholder="Klik disini untuk membuka Daftar Klasifikasi" 
	                    		ng-required="true" readonly />
	                    <input type="hidden" id="kode" ng-model="surat.kode"/>
	                    <input type="hidden" id="topik" ng-model="surat.topik"/>
    				</div>
  				</div>
  				<div ng-if="surat.MDJenisSMM === 'Surat Undangan'">
  					<h4>Informasi Undangan</h4>
	  				<div class="form-group">
						<label class="col-sm-2 control-label">Hari<span class="text-red">*</span></label>
	    				<div class="col-sm-8">
	    					<input type="text" class="form-control" id="hari" ng-model="surat.hari" ng-required="true" name="hari">
	    				</div>
	  				</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">Tanggal<span class="text-red">*</span></label>
	    				<div class="col-sm-8">
	    					<div class="input-group">
	      					<input type="text" 
					      		name="tanggal"
					            class="form-control" 
					            uib-datepicker-popup="dd-MMM-yyyy" 
					            ng-model="surat.tanggal" 
					            is-open="isDateInvitation" 
					            datepicker-options="dateOptions3"
					            close-text="Close"
					            popup-placement="auto bottom"
					            placeholder="Tanggal Surat (dd-MMM-yyyy)"
					            ng-required="true"/>
					          <span class="input-group-btn">
					            <button type="button" class="btn btn-default" ng-click="isDateInvitation = true;"><i class="fa fa-calendar fa-lg"></i></button>
					          </span>
					        </div>
	    				</div>
	  				</div>
					<div class="form-group">
						<label for="MDNoFull" class="col-sm-2 control-label">Waktu<span class="text-red">*</span></label>
	    				<div class="col-sm-8">
	      					<input type="text" class="form-control" id="waktu" ng-model="surat.waktu" name="waktu" ng-required="true">
	    				</div>
	  				</div>
	  				<div class="form-group">
						<label for="MDNoFull" class="col-sm-2 control-label">Tempat<span class="text-red">*</span></label>
	    				<div class="col-sm-8">
	      					<textarea class="form-control" id="tempat" ng-model="surat.tempat" name="waktu" ng-required="true"></textarea>
	    				</div>
	  				</div>
  				</div>
  				
  				<h4>Alamat Surat</h4>
				<div class="form-group">
					<label for="MDFromName" class="col-sm-2 control-label">Dari<span class="text-red">*</span></label>
    				<div class="col-sm-8">
      					<input type="text" class="form-control" id="MDFromName" ng-model="surat.MDFromName" ng-required="true">
    				</div>
  				</div>
				<div class="form-group" ng-controller="ModalDemoCtrl as $ctrl">
					<label for="MDSendTo" class="col-sm-2 control-label">Kepada<span class="text-red">*</span></label>
    				<div class="col-sm-8">
      					<textarea 
                    		row="4"
                    		class="form-control" 
                    		id="MDSendTo" 
                    		name="MDSendTo"
                    		ng-model="surat.MDSendTo"
                    		ng-list = '&#10;'
                    		ng-required="surat.MDSendTo.length <= 0" 
                    		ng-click="$ctrl.open('multiple', 'MDSendTo', surat.MDSendTo)" 
                    		placeholder="Klik disini untuk membuka Address Book" 
                    		readonly></textarea>
    				</div>
  				</div>
				<div class="form-group" ng-controller="ModalDemoCtrl as $ctrl">
					<label for="MDCopyTo" class="col-sm-2 control-label">Tembusan</label>
    				<div class="col-sm-8">
      					<textarea 
                    		row="4"
                    		class="form-control" 
                    		id="MDCopyTo" 
                    		name="MDCopyTo"
                    		ng-model="surat.MDCopyTo"
                    		ng-list = '&#10;'
                    		ng-click="$ctrl.open('multiple', 'MDCopyTo', surat.MDCopyTo)" 
                    		placeholder="Klik disini untuk membuka Address Book" 
                    		readonly></textarea>
    				</div>
  				</div>
  				
  				<h4>Perihal Surat</h4>
				<div class="form-group">
					<label for="Subject" class="col-sm-2 control-label">Perihal<span class="text-red">*</span></label>
    				<div class="col-sm-8">
      					<input type="text" class="form-control" id="Subject" ng-model="surat.Subject" ng-required="true">
    				</div>
  				</div>
				<div class="form-group">
					<label for="MDAttachCount" class="col-sm-2 control-label">Lampiran</label>
    				<div class="col-sm-8">
      					<input type="text" class="form-control" id="MDAttachCount" ng-model="surat.MDAttachCount" placeholder="">
    				</div>
  				</div>
				<div class="form-group">
					<label for="MDDueDate" class="col-sm-2 control-label">Tenggat Waktu</label>
    				<div class="col-sm-8">
      					<div class="input-group">
      					<input type="text" 
				      		name="MDDueDate"
				            class="form-control" 
				            uib-datepicker-popup="dd-MMM-yyyy" 
				            ng-model="surat.MDDueDate" 
				            is-open="isDueDateOpen" 
				            datepicker-options="dateOptions2"
				            close-text="Close"
				            popup-placement="auto bottom"
				            placeholder="Tenggat Waktu (dd-MMM-yyyy)"
				            ng-change="dueDateChange()" />
				          <span class="input-group-btn">
				            <button type="button" class="btn btn-default" ng-click="isDueDateOpen = true;"><i class="fa fa-calendar fa-lg"></i></button>
				          </span>
				        </div>
    				</div>
  				</div>
				<div class="form-group">
					<label for="MDType" class="col-sm-2 control-label">Sifat</label>
    				<div class="col-sm-8">
      					<select class="form-control" id="MDType" ng-model="surat.MDType" ng-selected="surat.MDType">
		                	<option value="Biasa">Biasa</option>
		                	<option value="Rahasia">Rahasia</option>
		                    <option value="Segera">Segera</option>
		                    <option value="Sangat Segera">Sangat Segera</option>
		                </select>
    				</div>
  				</div>
				<div class="form-group">
					<label for="MDInstruksi" class="col-sm-2 control-label">Catatan</label>
    				<div class="col-sm-8">
      					<textarea rows="4" class="form-control" id="MDInstruksi" ng-model="surat.MDInstruksi"></textarea>
    				</div>
  				</div>
  				
  				<h4>
  					Dokumen  
  					<a href=""  uib-tooltip="Lampiran dokumen harus terdapat minimal 1 file PDF">
  						<i class="fa fa-info-circle" aria-hidden="true" style="font-size: 10px;">&nbsp;</i>
  					</a>
  				</h4>
				<div class="form-group">
					<label class="col-sm-2 control-label">Attachment<span class="text-red">*</span></label>
    				<div class="col-sm-8">
      					<button class="btn btn-default btn-sm" ngf-select="uploadFiles($files)" ngf-multiple="true">
		                	<i class="fa fa-cloud-upload" aria-hidden="true">&nbsp;</i>Unggah Lampiran
		                </button>
		                <h5>Files:</h5>
		                <ul>
		                	<li ng-repeat="file in surat.attachment track by $index">
		                		{{file.name}}&nbsp; 
		                		<a href rel="delete" ng-click="deleteFile($index)" title="hapus attachment {{file.name}}" class="text-red"><i class="fa fa-trash"></i></a>
		                	</li>
		                </ul>
    				</div>
  				</div>
	            <div class="form-group">
	              <div class="col-sm-8 col-sm-offset-2">
	              	<button ng-click="compose('Submit')" class="btn btn-primary" ng-disabled="suratManualForm.$invalid || surat.attachment.length <= 0 || ext.indexOf('application/pdf') === -1"><i class="fa fa-paper-plane-o">&nbsp;</i> Kirim</button>
	              	<!-- <button ng-click="dispoManual()" class="btn btn-success" ng-disabled="suratManualForm.$invalid || surat.attachment.length <= 0 || ext.indexOf('application/pdf') === -1"><i class="fa fa-share-alt">&nbsp;</i> Kirim dan Disposisi</button> -->
	              </div>
	            </div>
			</form>          
          </div>
          <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>