<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="padding-top:7px">
			<h3 class="no-margin">Buat Tanggapan</h3>
	  	</div>
	</div>
</section> 
<!-- Main content -->
<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-sm-12">
      <!-- general form elements -->
      <div class="box box-primary" ng-controller="userCtrl">
        <!-- form start -->
        <form role="form" name="tanggapanForm">
          <div class="box-body">
            <div class="form-group">
              <label>Tanggapan dari : </label>
              <p class="form-control-static"><i>{{profile.full_name}}</i> sebagai <i>{{profile.jabatan}}</i></p>
            </div>
            <div class="form-group" ng-controller="ModalDemoCtrl as $ctrl">
              <label>Diteruskan Kepada</label>
              <textarea class="form-control" ng-required="kepadaRequired" ng-model="tanggapan.kepada" id="kepada" ng-list ng-click="$ctrl.open('multiple', 'kepada', tanggapan.kepada)" placeholder="Klik disini untuk membuka Address Book" readonly></textarea>
            </div>
            <div class="form-group">
              <label>Catatan :</label>
              <textarea ng-model="tanggapan.catatan" class="form-control" required></textarea>
            </div>
            <div class="form-group" style="background-color:#F5F5F5">
              <div style="margin:10px">
                <h3>{{detailSuratDispo.subject}}</h3>
                <span>{{detailSuratDispo.nosurat}}</span>
              </div>
              <div class="user-block" style="margin:10px">
                <img src="{{detailSuratDispo.pictunid}}" class="img-circle">
                <span class="username">{{detailSuratDispo.fromname}}</span>
                <span class="description">{{detailSuratDispo.fromtitle}}</span><br>
                <table border="0" class="description">
		            <tr>
		            	<td valign="top">Kepada: </td>
		            	<td>
		            		<ul class="list-unstyled">
		            			<li ng-repeat="kepada in detailSuratDispo.kepada">
		            				{{kepada}}
		            			</li>
		            		</ul>
		            	</td>
		            </tr>
		            <tr>
		            	<td valign="top">Tembusan : </td>
		            	<td><ul class="list-unstyled">
		            			<li ng-repeat="tembusan in detailSuratDispo.tembusan">
		            				{{tembusan}}
		            			</li>
		            		</ul>
		            	</td>
		            </tr>
		            <tr>
		            	<td>Tanggal : </td>
		            	<td><span date-formater="{{detailSuratDispo.createddate}}"></span></td>
		            </tr>
	            </table>
              </div>
              <div class="mailbox-read-message" ng-bind-html="detailSuratDispo.body">
              </div>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <center>
              <button type="submit" 
              ng-disabled="tanggapanForm.$invalid" 
              class="btn btn-primary col-lg-offset-4 col-lg-3 col-md-offset-4 col-md-3 col-sm-12 col-xs-12"
              ng-click="sendTanggapan(infoUser.jabatan)">
              <i class="fa fa-paper-plane-o">&nbsp;</i> Kirim
              </button>&nbsp;
            </center>
          </div>
        </form>
      </div>
      <!-- /.box -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->