<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px" ng-hide="$state.includes('detail-inbox')">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1>
		</div>
		<div style="overflow:hidden" class="col-xs-10 no-padding">
			<h3 class="no-margin" ng-hide="$state.includes('detail-inbox')">{{agenda.headline}}</h3>
			<span ng-hide="$state.includes('detail-inbox')">{{agenda.perihal}}</span>
			<h3 ng-show="$state.includes('detail-inbox')">{{agenda.perihal}}</h3>
	  	</div>
	  	<div style="overflow:hidden" ng-if="agenda.takahtype === 'SuratMasukManual'" ng-hide="$state.includes('detail-inbox')">
	  		<ul class="list-inline pull-right" style="padding-top:10px;position:absolute;right:5px;z-index: 1000">
	  			<li class="dropdown"> 
	      			<a href="" class="dropdown-toggle no-padding" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-reply"></i></a>
	      				<ul class="dropdown-menu" role="menu" style="margin-left:-150px">
	      					<li><a ui-sref="nodin({UNID: agenda.id, noSurat: agenda.nomor, takahType: 'NotaDinas'})">Nota Dinas</a></li>
		      				<li><a ui-sref="nodin({UNID: agenda.id, noSurat: agenda.nomor, takahType: 'SuratTugas'})">Surat Tugas</a></li>
		      				<li><a ui-sref="nodin({UNID: agenda.id, noSurat: agenda.nomor, takahType: 'SuratUndangan'})">Surat Undangan</a></li>
		      				<li><a ui-sref="surat({UNID: agenda.id, noSurat: agenda.nomor})">Surat</a></li>
		      				<li><a ui-sref="memo({UNID: agenda.id, noSurat: agenda.nomor})">Memo</a></li>
	      				</ul>
	      		</li>
	      		<li class="dropdown">
	      			<a href="" class="dropdown-toggle no-padding" data-toggle="dropdown" aria-expanded="true">
	      				<i class="glyphicon glyphicon-option-vertical fa-lg"></i>
	      			</a>
	      			<ul class="dropdown-menu" role="menu" style="margin-left:-150px">
	      				<li><a ng-href="#!/buat-disposisi/{{agenda.id}}/manual"><i class="fa fa-share-alt"></i>Buat Disposisi</a></li>
	      			</ul>
	      		</li>
	      	</ul>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
          <table id="example2" class="table table-responsive table-bordered">
            <thead>
              <tr class="active">
                <th colspan="2">Informasi Surat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
              	<td style="width:25%">Nomor Tiket</td>
              	<td>{{agenda.nomortiket}}</td>
              </tr>
              <tr>
                <td>Nomor Surat</td>
                <td>
                	<span ng-show="agenda.nomanual === ''">{{agenda.nomor}}</span>
                	<span ng-show="agenda.nomanual !== ''">{{agenda.nomanual}}</span>
                </td>
              </tr>
              <tr ng-if="agenda.tgl_surat">
                <td>Tanggal Surat</td>
                <td><p date-formater="{{agenda.tgl_surat}}" format="DD MMM YYYY"></p></td>
              </tr>
              <tr>
                <td>Tanggal Kirim</td>
                <td><p date-formater="{{agenda.tgl_kirim}}"></p></td>
              </tr>
              <!-- <tr>
                <td>Pola Klasifikasi</td>
                <td>{{agenda.klasifikasi}}</td>
              </tr> -->
              <tr>
                <td>Tenggat Waktu</td>
                <td><p ng-show="agenda.tenggat" date-formater="{{agenda.tenggat}}" format="DD MMM YYYY"></p></td>
              </tr>
              <tr>
                <td>Sifat Surat</td>
                <td>{{agenda.sifat}}</td>
              </tr>
            </tbody>
            <thead>
              <tr class="active">
                <th colspan="2">Alamat Surat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pengirim</td>
                <td>{{agenda.pengirim}}</td>
              </tr>
              <tr>
                <td>Penerima</td>
                <td>
                  	<span ng-if="agenda.penerima.length === 0"> - </span>
                	<span ng-if="agenda.penerima.length === 1">{{agenda.penerima[0]}}</span>
                  	<ol style='padding-left: 10px;' ng-if="agenda.penerima.length > 1">
                  		<li ng-repeat='penerima in agenda.penerima track by $index'>{{penerima}}</li>
                  	</ol>
                </td>
              </tr>
              <tr>
                <td>Tembusan</td>
                <td>
                  	<span ng-if="agenda.tembusan.length === 0"> - </span>
                  	<span ng-if="agenda.tembusan.length === 1">{{agenda.tembusan[0]}}</span>
                  	<ol style='padding-left: 10px;' ng-if="agenda.tembusan.length > 1" class="list-unstyled">
                  		<li ng-repeat='tembusan in agenda.tembusan track by $index'>{{tembusan}}</li>
                  	</ol>
                </td>
              </tr>
            </tbody>
            <thead>
              <tr class="active">
                <th colspan="2">Perihal Surat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Perihal</td>
                <td>{{agenda.perihal}}</td>
              </tr>
              <tr>
              	<td>Penjelasan Isi Surat</td>
              	<td ng-show="agenda.abstrak !== ''">
              		<p class="container-text" ng-class="{less: hidden}" ng-bind-html="agenda.abstrak | trusted"></p>
              		<a href="" ng-click="hidden = !hidden">{{hidden ? 'Tampilkan' : 'Sembunyikan'}}</a>
              	</td>
              	<td ng-show="agenda.abstrak === ''">
              		-
              	</td>
              </tr>
              <tr>
                <td>Lampiran</td>
                <td>
	                <span ng-if="agenda.lampiran.length === 0"> - </span>
                  	<span ng-if="agenda.lampiran.length === 1"><a ng-href="{{attFile[0].url}}"  target="_blank">{{agenda.lampiran[0]}}</a></span>
                  	<ol style='padding-left: 10px;' ng-if="agenda.lampiran.length > 1">
                  		<li ng-repeat='lampiran in attFile'>
                  			<a ng-href="{{lampiran.url}}"  target="_blank">{{lampiran.name}}</a>&nbsp;
								<button class="btn btn-xs" ng-if="isPdf(lampiran.url)"
	                  				ng-click="previewPdf(lampiran.url)" 
	                  				data-toggle="modal" data-target="#pdfViewer">
                  						<i class="fa fa-file-pdf-o"></i>&nbsp;Lihat PDF
                  				</button>
                  		</li>
                  	</ol>
                </td>
              </tr>
              <tr>
              	<td>Dokumen </td>
              	<td>
              		<a ng-if="agenda.takahtype !== 'SuratMasukManual'" class="btn btn-sm btn-instagram" ng-href="#!/{{agenda.detailState}}/{{agenda.id}}"><i class="fa fa-file-text-o" aria-hidden="true">&nbsp;</i> Lihat surat</a>
              	</td>
              </tr>
              <tr>
                <td>Referensi</td>
                <td>
                	<ol style='padding-left: 10px;' ng-if='agenda.referensiNo.length > 0'>
	                    <li ng-repeat='referensi in agenda.referensiNo'>{{referensi}}</li>
	                </ol>
	                <span ng-if='agenda.referensiNo.length === 0'> - </span>
                </td>
              </tr>
              <tr>
              	<td>Catatan</td>
              	<td>
              		<span ng-show="agenda.note !== undefined || agenda.note !== ''">{{agenda.note}}</span>
              		<span ng-show="agenda.note === undefined || agenda.note === ''"> - </span>
              	</td>
              </tr>
            </tbody>
            <thead>
              <tr class="active">
                <th colspan="2">Riwayat Konsep Surat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <ul style='list-style:none' class='no-padding'>
                  	<li ng-repeat='riwayat in agenda.riwayat track by $index'>{{riwayat}}</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<div class="modal fade" tabindex="-1" role="dialog" id="pdfViewer">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" ng-show="isPdfLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i> Loading &hellip;</h4>
      </div>
      <div class="modal-body">
        <pdf-viewer delegate-handle="my-pdf-container" show-toolbar="true"></pdf-viewer>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closePreview(this)"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal-title">Preview Referensi</h3>
	</div>
    <div class="modal-body" id="modal-body" ng-bind-html="previewRef | trusted" ng-if="!isMobile"></div>
	<div class="modal-body" id="modal-body" ng-if="isMobile">

		<div class="box box-widget">
        <div class="box-header with-border hidden-sm hidden-md hidden-lg">
        
          <div class="user-block">
			
            <img ng-src="{{previewRef.pictunid}}" class="img-circle" style="width:40px; height:40px">
            <span class="username">{{previewRef.fromname}}</span>
            <span class="description">{{previewRef.fromtitle}}</span>
            
            <br>
            <table border="0" class="description no-margin">
	            <tr>
	            	<td valign="top">Kepada </td>
	            	<td valign="top">:</td>
	            	<td><ul class="list-unstyled" ng-init ="limitKepada = previewRef.kepada.length > 3? 3:previewRef.kepada.length">
	            			<li ng-repeat="kepada in previewRef.kepada | limitTo: limitKepada as results">
	            				{{kepada}}
	            			</li>
	            			<a href ng-show="results.length < previewRef.kepada.length && previewRef.kepada.length > 3" ng-click="limitKepada = previewRef.kepada.length">...tampilkan</a>
	            			<a href ng-show="results.length === previewRef.kepada.length && previewRef.kepada.length > 3" ng-click="limitKepada = 3">sembunyikan</a>
	            		</ul>
	            		
	            	</td>
	            </tr>
	            <tr>
	            	<td valign="top">Tembusan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	            	<td valign="top">:</td>
	            	<td ng-show="previewRef.tembusan.length > 0">
	            		<ul class="list-unstyled" ng-init ="limitTembusan = previewRef.tembusan.length > 3? 3:previewRef.tembusan.length">
	            			<li ng-repeat="tembusan in previewRef.tembusan | limitTo: limitTembusan as results" >
	            				{{tembusan}}
	            			</li>
	            			<a href ng-show="results.length < previewRef.tembusan.length && previewRef.tembusan.length > 3" ng-click="limitTembusan = detailOutbox.tembusan.length">...tampilkan</a>
	            			<a href ng-show="results.length === previewRef.tembusan.length && previewRef.tembusan.length > 3" ng-click="limitTembusan = 3">sembunyikan</a>
	            			
	            		</ul>
	            	</td>
	            	<td ng-show="previewRef.tembusan.length == null">
	            		&nbsp; -
	            	</td>
	            </tr>
	            <tr>
	            	<td>Tanggal </td>
	            	<td valign="top">:</td>
	            	<td><span date-formater="{{previewRef.createddate}}" format="DD MMMM YYYY HH:mm"></span></td>
	            </tr>
            </table>
            
          </div>
        </div>
        
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-read-message hidden-sm hidden-md hidden-lg" ng-bind-html="previewRef.body | trusted">
          </div>
          <div class="mailbox-read-message no-padding hidden-xs" ng-bind-html="previewRef.html_takah | trusted">
          </div>
          <!-- /.mailbox-read-message -->
        </div>
        <!-- /.box-body -->
        
        <div class="box-footer" ng-show="previewRef.referensiNo.length > 0">
           <p>Referensi Surat :</p>
           <ol>
           	  <li ng-repeat="referensi in previewRef.referensiObj track by $index">
           	  	<a href ng-click="this.preventDefault(); previewReferensi(referensi.storage, referensi.id, referensi.takahType)">{{referensi.noSurat}}</a>
           	  </li>
           </ol>
        </div>
        
        <div class="box-footer" ng-show="previewRef.attachments.length > 0">
              <div  ng-repeat="attachment in previewRef.attachments" class="mailbox-attachment-info col-xs-12 col-sm-4 col-md-4 col-lg-3" style="margin-bottom:5px;margin-right:5px;border:1px solid lightgray">
                <a ng-href="{{attachment.url}}" class="btn btn-default btn-xs pull-right" download="{{attachment.name}}"><i class="fa fa-cloud-download"></i></a>
                <a ng-href="{{attachment.url}}" class="mailbox-attachment-name" target="_blank"><i class="fa fa-paperclip"></i> {{attachment.name}}</a>
              </div>
        </div>
      </div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="closePreview(this)">Close</button>
	</div>
</script>