<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Detail Delegasi
  </h1>
</section>

<!-- Main content -->
<section class="content" ng-controller="userCtrl">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-body">
          <div class="form-group">
            <label>Jabatan</label>
            <p class="form-control-static">{{detailDelegasi.delegator}}</p>
          </div>
          <div class="form-group">
            <label>Pejabat Pengganti</label>
            <p class="form-control-static">{{detailDelegasi.delegated}}</p>
          </div>
          <div class="form-group">
            <label>Periode</label>
            <p class="help-block">Tanggal Mulai</p>
            <p class="form-control-static" date-formater="{{detailDelegasi.date_start}}" format="DD MMM YYYY"></p>
            <p class="help-block">Tanggal Selesai</p>
            <p class="form-control-static" date-formater="{{detailDelegasi.date_stop}}" format="DD MMM YYYY"></p>          
          </div>
          <div class="form-group">
            <label>Alasan Delegasi</label>
            <p class="form-control-static" style="white-space: pre-wrap;" ng-bind-html="detailDelegasi.reason"></p>
          </div>
          <center ng-show="detailDelegasi.delegator == infoUser.jabatan">
          	<a class="btn btn-danger" ng-click="batal()"><i class="fa fa-power-off" aria-hidden="true"></i> Akhiri</a>
          </center>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>