<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1>
		</div>
		<div style="overflow:hidden">
			<h3 class="no-margin">{{detailDisposisi.lettertype}}</h3>
		  	<span>{{detailSuratDispo.subject}}</span>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-xs-12">
      <div class="box box-widget">
        <div class="box-header with-border">
        	<ul class="list-inline pull-right" style="padding-top:10px;position:absolute;right:5px;z-index: 1000">
	      		<li class="dropdown"> 
	      			<a href="" class="dropdown-toggle no-padding" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-reply"></i></a>
	      				<ul class="dropdown-menu" role="menu" style="margin-left:-150px">
		      				<li><a ui-sref="nodin({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat, takahType: 'NotaDinas'})">Nota Dinas</a></li>
		      				<li><a ui-sref="nodin({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat, takahType: 'SuratTugas'})">Surat Tugas</a></li>
		      				<li><a ui-sref="nodin({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat, takahType: 'SuratUndangan'})">Surat Undangan</a></li>
		      				<li><a ui-sref="surat({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat})">Surat</a></li>
		      				<li><a ui-sref="memo({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat})">Memo</a></li>
	      				</ul>
	      		</li>
	      		<li class="dropdown">
	      			<a href="" class="dropdown-toggle no-padding" data-toggle="dropdown" aria-expanded="true">
	      				<i class="glyphicon glyphicon-option-vertical fa-lg"></i>
	      			</a>
	      			<ul class="dropdown-menu" role="menu" style="margin-left:-150px">
	      				<li><a ng-href="#!/buat-disposisi/{{detailDisposisi.id}}/{{detailDisposisi.lettertype}}" ng-show="detailDisposisi.tipedispo == 'masuk'" ng-if="profile.is_staf === 'no'"><i class="fa fa-share-alt"></i>Buat Disposisi</a></li>
	    				<li><a ng-href="#!/buat-tanggapan/{{detailSuratDispo.id}}/{{detailDisposisi.mddispfromtitle}}" ng-show="detailDisposisi.tipedispo == 'masuk'"><i class="fa fa-commenting"></i>Tanggapan</a></li>
	    				<li class="divider"></li>
	      				<li><a ui-sref='agenda({location: "inbox", id: detailSuratDispo.id})'><i class="fa fa-info-circle" aria-hidden="true"></i> Agenda Surat</a></li>
	      				<li ng-if="detailSuratDispo.filepdfurl !== ''"><a ng-href="{{detailSuratDispo.filepdfurl}}" target="_blank"><i class="fa fa-file-pdf-o"></i>Surat PDF</a></li>
	      				<li class="divider"></li>
	    				<li><a ng-href="#!/riwayat-disposisi/{{detailDisposisi.id}}"><i class="fa fa-th-list"></i> Riwayat Disposisi</a></li>   				
	      			</ul>
	      		</li>
	      	</ul>
          <div class="user-block">
            <img class="img-circle" ng-src="{{detailDisposisi.pictunid}}" alt="User Image">
            <span class="username"><a ui-sref="#">{{detailDisposisi.mddispfromname}}</a></span>
            <span class="username">{{detailDisposisi.mddispfromtitle}}</span>
            <span class="description" date-formater='{{detailDisposisi.createddate}}'></span>
          </div>
          <!-- /.user-block -->
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <!-- post text -->
          <dl>
            <dt>Kepada</dt>
            <dd>
            	<ol ng-init ="limitKepadaDispo = detailDisposisi.dspmdsendto.length > 3? 3:detailDisposisi.dspmdsendto.length">
            		<li ng-repeat="kepadaDispo in detailDisposisi.dspmdsendto | limitTo: limitKepadaDispo as resultsDispo track by $index">
            			{{kepadaDispo}} ({{detailDisposisi.dspmdsendtoname[$index]}})
            		</li>
            		<a href ng-show="resultsDispo.length < detailDisposisi.dspmdsendto.length && detailDisposisi.dspmdsendto.length > 3" ng-click="limitKepadaDispo = detailDisposisi.dspmdsendto.length">...tampilkan</a>
	            	<a href ng-show="resultsDispo.length === detailDisposisi.dspmdsendto.length && detailDisposisi.dspmdsendto.length > 3" ng-click="limitKepadaDispo = 3">sembunyikan</a>
            	</ol>
            </dd>
            <dt>Nota Tindakan</dt>
            <dd><ul class="list-unstyled" ng-repeat="tindakan in detailDisposisi.tindakan track by $index">
            		<li><i class="fa fa-check text-green"></i> {{tindakan}}</li>
            	</ul>
            </dd>
            <dt>Catatan</dt>
            <dd ><span ng-bind-html="detailDisposisi.catatan"></span></dd>
          </dl>
        </div>
        <!-- /.box-body -->
        <div class="box-footer box-comments">
          <div class="box-comment">
            <h3 class="hidden-sm hidden-md hidden-lg">
              {{detailSuratDispo.subject}}
            </h3>
            <span class="hidden-sm hidden-md hidden-lg">{{detailSuratDispo.nosurat}}</span>
            <hr>
            <div class="user-block hidden-sm hidden-md hidden-lg">
              <img src="{{detailSuratDispo.pictunid}}" class="img-circle">
              <span class="username">{{detailSuratDispo.fromname}}</span>
              <span class="description">{{detailSuratDispo.fromtitle}}</span><br>
              
              <table border="0" class="description">
	            <tr>
	            	<td valign="top">Kepada: </td>
	            	<td>
	            		<ul class="list-unstyled" ng-init ="limitKepada = detailSuratDispo.kepada.length > 3? 3:detailSuratDispo.kepada.length">
	            			<li ng-repeat="kepada in detailSuratDispo.kepada | limitTo: limitKepada as results track by $index">
	            				{{kepada}}
	            			</li>
	            			<a href ng-show="results.length < detailSuratDispo.kepada.length && detailSuratDispo.kepada.length > 3" ng-click="limitKepada = detailSuratDispo.kepada.length">...tampilkan</a>
	            			<a href ng-show="results.length === detailSuratDispo.kepada.length && detailSuratDispo.kepada.length > 3" ng-click="limitKepada = 3">sembunyikan</a>
	            		</ul>
	            	</td>
	            </tr>
	            <tr>
	            	<td valign="top">Tembusan : </td>
	            	<td>
	            		<ul class="list-unstyled" ng-init ="limitTembusan = detailSuratDispo.tembusan.length > 3? 3:detailSuratDispo.tembusan.length">
	            			<li ng-repeat="tembusan in detailSuratDispo.tembusan | limitTo: limitTembusan as resultTembusan track by $index">
	            				{{tembusan}}
	            			</li>
	            			<a href ng-show="resultTembusan.length < detailSuratDispo.tembusan.length && detailSuratDispo.tembusan.length > 3" ng-click="limitTembusan = detailSuratDispo.tembusan.length">...tampilkan</a>
	            			<a href ng-show="resultTembusan.length === detailSuratDispo.tembusan.length && detailSuratDispo.tembusan.length > 3" ng-click="limitTembusan = 3">sembunyikan</a>
	            		</ul>
	            	</td>
	            </tr>
	            <tr>
	            	<td>Tanggal : </td>
	            	<td><span date-formater="{{detailSuratDispo.createddate}}" format="DD MMMM YYYY HH:mm"></span></td>
	            </tr>
              </table>
              
            </div>
            <div class="box-body no-padding">
		        <div class="mailbox-read-message" ng-bind-html="detailSuratDispo.body | trusted" ng-if="isMobile"></div>
		        <div ng-if="detailDisposisi.html_takah" class="mailbox-read-message takah_html" ng-bind-html="detailDisposisi.html_takah | trusted" ng-if="!isMobile"></div>
		        <pdf-viewer ng-if="!detailDisposisi.html_takah" delegate-handle="my-pdf-container" show-toolbar="true" ng-init="viewPdf()"></pdf-viewer>
		        <!-- /.mailbox-read-message -->
	        </div>
            <!-- /.mailbox-read-message -->
          </div>
          <!-- /.box-comment -->
        </div>
        <!-- /.box-footer -->
        
        <div class="box-footer hidden-print" ng-show="detailSuratDispo.attachments.length > 0">
              <div  ng-repeat="attachment in detailSuratDispo.attachments" class="mailbox-attachment-info col-xs-12 col-sm-4 col-md-4 col-lg-3" style="margin-bottom:5px;margin-right:5px;border:1px solid lightgray">
                <a ng-href="{{attachment.url}}" class="btn btn-default btn-xs pull-right" download="{{attachment.name}}"><i class="fa fa-cloud-download"></i></a>
                <a ng-href="{{attachment.url}}" class="mailbox-attachment-name" target="_blank"><i class="fa fa-paperclip"></i> {{attachment.name}}</a>
              </div>
        </div>
        
       <div class="box-footer" ng-show="detailSuratDispo.referensiNo.length > 0">
           <p>Referensi Surat :</p>
           <ol>
           	  <li ng-repeat="referensi in detailSuratDispo.referensiObj track by $index">
           	  	<a href ng-click="this.preventDefault(); previewReferensi(referensi.storage, referensi.id, referensi.takahType)">{{referensi.noSurat}}</a>
           	  </li>
           </ol>
        </div>
        <div class="box-footer">
        	<center>
        	  <span class="btn-group dropup">
          	  		<button type="button" class="btn btn-info btn-sm ">Balas Surat</button>	
          	  		<button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	          	    	<span class="caret"></span>
	          	    	<span class="sr-only">Toggle Dropdown</span>
		      		</button>
		      		<ul class="dropdown-menu" role="menu">
	      				<li><a ui-sref="nodin({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat, takahType: 'NotaDinas'})">Nota Dinas</a></li>
	      				<li><a ui-sref="nodin({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat, takahType: 'SuratTugas'})">Surat Tugas</a></li>
	      				<li><a ui-sref="nodin({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat, takahType: 'SuratUndangan'})">Surat Undangan</a></li>
	      				<li><a ui-sref="surat({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat})">Surat</a></li>
	      				<li><a ui-sref="memo({UNID: detailDisposisi.letterid, noSurat: detailSuratDispo.nosurat})">Memo</a></li>
      				</ul>
          	  </span>
        	  <span class="btn-group">
        	  	<a ng-href="#!/buat-tanggapan/{{detailSuratDispo.id}}/{{detailDisposisi.mddispfromtitle}}" class="btn bg-orange btn-sm" ng-show="detailDisposisi.tipedispo == 'masuk'"><i class="fa fa-commenting fa-lg">&nbsp;</i> <span class="hidden-xs hidden-sm">Tanggapan</span></a>
              	<a ng-href="#!/buat-disposisi/{{detailDisposisi.id}}/{{detailDisposisi.lettertype}}" class="btn btn-primary btn-sm" ng-show="detailDisposisi.tipedispo == 'masuk'" ng-if="profile.is_staf === 'no'"><i class="fa fa-share-alt fa-lg">&nbsp;</i> <span class="hidden-xs hidden-sm">Buat Disposisi</span></a>
        	  </span>
        	  <span class="btn-group">
        	  	<a ng-if="detailSuratDispo.filepdfurl !== ''" class="btn btn-danger btn-sm" ng-href="{{detailSuratDispo.filepdfurl}}" target="_blank"><i class="fa fa-file-pdf-o fa-lg"></i> <span class="hidden-xs hidden-sm">Surat PDF</span></a>
		      	<a class='btn btn-info btn-sm' ui-sref='agenda({location: "inbox", id: detailSuratDispo.id})'><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i> <span class="hidden-xs hidden-sm">Agenda Surat</span></a>
        	  </span>
        	  <span class="btn-group">
              	<a ng-href="#!/riwayat-disposisi/{{detailDisposisi.id}}" class="btn btn-success btn-sm"><i class="fa fa-th-list fa-lg">&nbsp;</i> <span class="hidden-xs hidden-sm">Riwayat Disposisi</span></a>
              </span>            
            </center>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>

<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closePreview(this)"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal-title">Preview Referensi</h3>
	</div>
    <div class="modal-body" id="modal-body" ng-bind-html="previewRef | trusted" ng-if="!isMobile"></div>
	<div class="modal-body" id="modal-body" ng-if="isMobile">

		<div class="box box-widget">
        <div class="box-header with-border hidden-sm hidden-md hidden-lg">
        
          <div class="user-block">
			
            <img ng-src="{{previewRef.pictunid}}" class="img-circle" style="width:40px; height:40px">
            <span class="username">{{previewRef.fromname}}</span>
            <span class="description">{{previewRef.fromtitle}}</span>
            
            <br>
            <table border="0" class="description no-margin">
	            <tr>
	            	<td valign="top">Kepada </td>
	            	<td valign="top">:</td>
	            	<td><ul class="list-unstyled" ng-init ="limitKepada = previewRef.kepada.length > 3? 3:previewRef.kepada.length">
	            			<li ng-repeat="kepada in previewRef.kepada | limitTo: limitKepada as results">
	            				{{kepada}}
	            			</li>
	            			<a href ng-show="results.length < previewRef.kepada.length && previewRef.kepada.length > 3" ng-click="limitKepada = previewRef.kepada.length">...tampilkan</a>
	            			<a href ng-show="results.length === previewRef.kepada.length && previewRef.kepada.length > 3" ng-click="limitKepada = 3">sembunyikan</a>
	            		</ul>
	            		
	            	</td>
	            </tr>
	            <tr>
	            	<td valign="top">Tembusan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	            	<td valign="top">:</td>
	            	<td ng-show="previewRef.tembusan.length > 0">
	            		<ul class="list-unstyled" ng-init ="limitTembusan = previewRef.tembusan.length > 3? 3:previewRef.tembusan.length">
	            			<li ng-repeat="tembusan in previewRef.tembusan | limitTo: limitTembusan as results" >
	            				{{tembusan}}
	            			</li>
	            			<a href ng-show="results.length < previewRef.tembusan.length && previewRef.tembusan.length > 3" ng-click="limitTembusan = detailOutbox.tembusan.length">...tampilkan</a>
	            			<a href ng-show="results.length === previewRef.tembusan.length && previewRef.tembusan.length > 3" ng-click="limitTembusan = 3">sembunyikan</a>
	            			
	            		</ul>
	            	</td>
	            	<td ng-show="previewRef.tembusan.length == null">
	            		&nbsp; -
	            	</td>
	            </tr>
	            <tr>
	            	<td>Tanggal </td>
	            	<td valign="top">:</td>
	            	<td><span date-formater="{{previewRef.createddate}}" format="DD MMMM YYYY HH:mm"></span></td>
	            </tr>
            </table>
            
          </div>
        </div>
        
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-read-message hidden-sm hidden-md hidden-lg" ng-bind-html="previewRef.body | trusted">
          </div>
          <div class="mailbox-read-message no-padding hidden-xs" ng-bind-html="previewRef.html_takah | trusted">
          </div>
          <!-- /.mailbox-read-message -->
        </div>
        <!-- /.box-body -->
        
        <div class="box-footer" ng-show="previewRef.referensiNo.length > 0">
           <p>Referensi Surat :</p>
           <ol>
           	  <li ng-repeat="referensi in previewRef.referensiObj track by $index">
           	  	<a href ng-click="this.preventDefault(); previewReferensi(referensi.storage, referensi.id, referensi.takahType)">{{referensi.noSurat}}</a>
           	  </li>
           </ol>
        </div>
        
        <div class="box-footer" ng-show="previewRef.attachments.length > 0">
              <div  ng-repeat="attachment in previewRef.attachments" class="mailbox-attachment-info col-xs-12 col-sm-4 col-md-4 col-lg-3" style="margin-bottom:5px;margin-right:5px;border:1px solid lightgray">
                <a ng-href="{{attachment.url}}" class="btn btn-default btn-xs pull-right" download="{{attachment.name}}"><i class="fa fa-cloud-download"></i></a>
                <a ng-href="{{attachment.url}}" class="mailbox-attachment-name" target="_blank"><i class="fa fa-paperclip"></i> {{attachment.name}}</a>
              </div>
        </div>
      </div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="closePreview(this)">Close</button>
	</div>
</script>