<!-- Content -->
<div ng-if="takah === 'sk'">
	<ng-include src="'pages/forms/surat.html'"></ng-include>
</div>
<div ng-if="takah === 'nd'">
	<ng-include src="'pages/forms/nodin.html'"></ng-include>
</div>
<div ng-if="takah === 'me'">
	<ng-include src="'pages/forms/memo.html'"></ng-include>
</div>
<!-- /.content -->