<script type="text/ng-template" id="group-template.html">
  <div class="panel panel-info">
    <div class="panel-heading">
      <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
		<h4 class="panel-title" style="color:#3C8DBC;font-weight:bold">
          <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
            {{heading}}
          </span>
      	</h4>
      </a>
    </div>
    <div class="panel-collapse collapse" uib-collapse="!isOpen">
     <div class="panel-body" ng-transclude></div>
    </div>
  </div>
</script>

<div ng-controller="formModalCtrl">
<!-- Modal Komentar -->
<form class="tab-form-demo" name="nodin">
<script type="text/ng-template" id="modalKomentar.html">
	<div class="modal-body" ng-form="nestedForm3">
		<div class="form-group">
			<label>Masukkan Komentar</label>
			<textarea class="form-control" id="komentar" name="comment" ng-model="comment" required></textarea>
		</div>
		<div class="form-group">
			<label>PIN</label>
			<input type="password" class="form-control" id="pin" name="pin" ng-model="pin" required />
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="sendForm()" ng-disabled="nestedForm3.$invalid || disableBtnKirim">
			<i class="fa fa-paper-plane-o">&nbsp;</i> {{ buttonKirimText }}
		</button>
		<button class="btn btn-danger" ng-click="cancelForm()">
			<i class="fa fa-times-circle">&nbsp;</i> Cancel
		</button>
	</div>
</script>


<!-- Content Header (Page header) -->

<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1>
		</div>
		<div style="padding-top:7px">
			<h3 class="no-margin">{{detailWait.subject}}</h3>
	  	</div>
	</div>
	<br>
	<small>
	    <button 
	    	type="button" 
	    	class="btn btn-success btn-sm" 
	    	ng-click="modalKomen('Approve',detailWait.body,detailWait.abstrak,detailWait.kepadaIn,detailWait.tembusanIn,detailWait.attachment,detailWait.attDelete,detailWait.sifat)"
	    	ng-disabled="nodin.nestedForm1.$invalid || nodin.nestedForm2.$invalid">
	    	<i class="fa fa-check-square-o"></i> 
	    	Setuju
	    </button>&nbsp;
	    <button 
	    	type="button" 
	    	class="btn bg-orange btn-sm" 
	    	ng-click="modalKomen('Return',detailWait.body,detailWait.abstrak,detailWait.kepadaIn,detailWait.tembusanIn,detailWait.attachment,detailWait.attDelete,detailWait.sifat)"
	    	ng-disabled="nodin.nestedForm1.$invalid || nodin.nestedForm2.$invalid">
	    	<i class="fa fa-chevron-left"></i> 
	    	Kembalikan
	    </button>&nbsp;
	    <button 
	    	type="button" 
	    	class="btn btn-google btn-sm" 
	    	ng-click="modalKomen('Reject',detailWait.body,detailWait.abstrak,detailWait.kepadaIn,detailWait.tembusanIn,detailWait.attachment,detailWait.attDelete,detailWait.sifat)"
	    	ng-disabled="nodin.nestedForm1.$invalid || nodin.nestedForm2.$invalid">
	    	<i class="fa fa-ban"></i> 
	    	Batal
	    </button>&nbsp;
	    <p class="hidden-md hidden-lg" style="margin: -5px 0 0 0">&nbsp;</p>
	    <button 
	    	type="button" 
	    	class="btn btn-default btn-sm" 
	    	ng-click="draftWait('Draft',detailWait.body,detailWait.abstrak,detailWait.kepadaIn,detailWait.tembusanIn,detailWait.sifat)">
	    	<i class="fa fa-floppy-o fa-lg"></i> 
	    	Simpan
	    </button>
	    <a ng-href="#!/detail-status/{{detailWait.id}}" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> Lihat Surat</a>
	</small>
</section> 


<!-- Main content -->
<section class="content" ng-controller="formModalCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="box" style="border:none;">
        <div class="box-body">
          <div class="tab-form-demo">
          	<uib-tabset active="activeForm">
              <uib-tab index="0" heading="Informasi Umum">
                <ng-form name="nestedForm1" class="form-horizontal" ng-controller="ModalDemoCtrl as $ctrl">
                  <input type="hidden" value="{{detailWait.id}}" id="id_surat">
                  <input type="hidden" value="{{profile.jabatan}}" id="jabatan">
                  <input type="hidden" value="{{profile.cn_full_name}}" id="fullNameJabatan">
                  <div class="form-group" style="margin-top:20px;">
                    <label class="col-md-1 col-sm-2 control-label">Kepada</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea 
                    		rows="4" 
                    		class="form-control" 
                    		ng-model="detailWait.kepadaIn"
                    		id="kepada" 
                    		name="kepada"
                    		ng-list="&#10;"
                    		ng-required="detailWait.kepadaIn <= 0" 
                    		ng-click="$ctrl.open('multiple', 'kepada', detailWait.kepadaIn)" 
                    		placeholder="Klik disini untuk membuka Address Book" 
                    		readonly>
                    	</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Tembusan</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea 
                    		rows="4" 
                    		class="form-control" 
                    		ng-model="detailWait.tembusanIn" 
                    		id="tembusan" 
                    		ng-list="&#10;" 
                    		ng-click="$ctrl.open('multiple', 'tembusan', detailWait.tembusanIn)" 
                    		placeholder="Klik disini untuk membuka Address Book" 
                    		readonly>
                    	</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-md-1 control-label">Pengirim</label>
                    <div class="col-sm-10 col-md-10">
                    	<input type="text" disabled ng-model="detailWait.fromtitle" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-md-1 control-label">Pemeriksa</label>
                    <div class="col-sm-10 col-md-10">
                    	<textarea class="form-control" ng-model="detailWait.pemeriksa" ng-list="&#10;" disabled></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-md-1 control-label">Pemesan</label>
                    <div class="col-sm-10 col-md-10">
                    	<input type="text" disabled ng-model="detailWait.pemesan" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-md-1 control-label">Pemesan Catatan</label>
                    <div class="col-sm-10 col-md-10">
                    	<textarea class="form-control" ng-model="detailWait.pemesanCatt" disabled></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-md-1 control-label">Perihal</label>
                    <div class="col-sm-10 col-md-10">
                    	<input type="text" class="form-control" ng-model="detailWait.subject" id="perihal" ng-required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-sm-2 col-md-1 control-label">Pola Klasifikasi</label>
                    <div class="col-sm-10 col-md-10">
                    	<input type="text" disabled class="form-control" ng-model="detailWait.klasifikasi">
                    </div>
                  </div>                 
                </ng-form>
              </uib-tab>
              <uib-tab index="1" heading="Penjelasan Isi Surat">
                <ng-form name="nestedForm2" ng-controller='TinyMceController'>
                	<div class="form-group" style="margin-top:20px;">
	                    <label>Penjelasan Isi Surat<span class="text-red">*</span></label>
	                    <textarea ui-tinymce="tinymceOptions" id="abstrak_surat" name="abstrak" ng-required="true" ng-model="detailWait.abstrak" class="form-control" ng-bind-html="detailWait.abstrak" style="height:500px">{{detailWait.abstrak}}</textarea>
	                </div> 
                </ng-form>
              </uib-tab>
              <uib-tab index="2" heading="Surat">
                <ng-form name="nestedForm2" ng-controller='TinyMceController'>
                  <div class="form-group" style="margin-top:20px;">
                    <label>Isi Surat</label>
                    <textarea ui-tinymce="tinymceOptions" id="isi_surat" name="body" ng-required="true" ng-model="detailWait.body" class="form-control" ng-bind-html="detailWait.body" style="height:500px">{{detailWait.body}}</textarea>
                  </div>
                  <div class="form-group" style="margin-top:20px;">
                    <label>Catatan</label>
                    <textarea disabled ng-model="detailWait.catatan" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Lampiran</label>
                    <button class="btn btn-primary btn-sm" ngf-select="uploadFiles($files)" ngf-multiple="true">
	                	<i class="fa fa-cloud-upload" aria-hidden="true">&nbsp;</i>Unggah Lampiran
	                </button>
                    <span>
                    	<ul>
		                	<li ng-repeat="file in detailWait.attachment track by $index">
		                		{{file.name}}&nbsp;
		                		<a href rel="delete" ng-click="deleteFile($index)" title="hapus attachment {{file.name}}" class="text-red"><i class="fa fa-trash"></i></a>
		                	</li>
		                </ul>
	                   	<ul ng-show="attFile != undefined">
	                   		<li ng-repeat="attachment in attFile" ng-show="attachment.aktif">
	                   			<a ng-href="{{attachment.url}}" target="_blank">{{attachment.name}}</a>
	                   			<button type="button" class="btn btn-box-tool text-red" ng-click="removeAttDraft(attachment.name, $index)">
			                   		<i class="fa fa-trash fa-lg"></i>
			                   	</button>
	                   		</li>
	                   	</ul>
	                </span>
                  </div>
                  <div class="form-group" ng-controller="ReferensiModal as $ref">
                  	<label ng-click="$ref.open(resolveReferences, detailWait.referensiNo, detailWait.referensi)" style="cursor: pointer;">Referensi Surat <a title="Tambah referensi"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></label>
                  	<input type="hidden" ng-model="detailWait.referensi" value="$ref.getReferences().list" />
                  	<ul>
                  		<li ng-repeat="subject in detailWait.referensiNo">{{subject}}</li>
                  	</ul>
                  </div>
                </ng-form>
              </uib-tab>
              <uib-tab index="3" heading="Detail Surat">
                <ng-form name="nestedForm" class="form-horizontal">
                  <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html" style="margin-top:20px">
                      <uib-accordion-heading>
                        Detail Atribut Surat <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                      </uib-accordion-heading>
                      <div class="panel-body form-horizontal">
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Lampiran</label>
	                        <div class="col-sm-10 col-md-10">
	                        	<p class="form-control-static" ng-show="detailWait.lampiran > 0">{{detailWait.lampiran}}</p>
	                        	<p class="form-control-static" ng-show="detailWait.lampiran == 0">-</p>
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Butuh aksi balasan</label>
	                        <div class="col-sm-8 col-md-8">
		                        <select class="form-control" ng-model="surat.balas" ng-selected="surat.balas" ng-init="surat.balas = 'Tidak'">
		                          <option value="Ya">Ya</option>
		                          <option value="Tidak">Tidak</option>
		                        </select>
		                    </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Tanda Tangan</label>
	                        <div class="col-sm-8 col-md-8">
		                        <select class="form-control" ng-model="agenda.flagttd" ng-selected="agenda.flagttd" ng-init="surat.tandaTangan = 'Scan'">
		                          <option value="Basah">Tanda Tangan Basah</option>
		                          <option value="Scan">Tanda Tangan Scan</option>
		                        </select>
		                    </div>
	                      </div>
						<div class="form-group">
							<label for="MDDueDate" class="col-sm-2 col-md-2 control-label">Tenggat Waktu</label>
		    				<div class="col-sm-8">
		      					<div class="input-group">
		      					<input type="text" 
						      		name="MDDueDate"
						            class="form-control" 
						            uib-datepicker-popup="dd-MMM-yyyy" 
						            ng-model="agenda.tenggat" 
						            is-open="isDueDateOpen" 
						            datepicker-options="dateOptions2"
						            close-text="Close"
						            popup-placement="auto bottom"
						            placeholder="Tenggat Waktu (dd-MMM-yyyy)"
						            ng-change="dueDateChange()" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="isDueDateOpen = true;"><i class="fa fa-calendar fa-lg"></i></button>
						          </span>
						        </div>
		    				</div>
		  				</div>
						<div class="form-group">
							<label for="MDType" class="col-sm-2 col-md-2 control-label">Sifat</label>
		    				<div class="col-sm-8">
		      					<select class="form-control" id="MDType" ng-model="detailWait.sifat" ng-selected="detailWait.sifat">
				                	<option value="Biasa">Biasa</option>
				                	<option value="Rhs">Rahasia</option>
				                    <option value="Segera">Segera</option>
				                    <option value="Sangat Segera">Sangat Segera</option>
				                </select>
				                
		    				</div>
		  				</div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Tahun</label>
	                        <div class="col-sm-10 col-md-10">
	                        	<p class="form-control-static">{{detailWait.tahun}}</p>
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-2 control-label">Nomor Surat</label>
	                        <div class="col-sm-10 col-md-10">
	                        	<p class="form-control-static">{{detailWait.nosurat}}</p>
	                        </div>
	                      </div>
	                  </div>
                    </div>
                  </uib-accordion>
                  <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
                      <uib-accordion-heading>
                        Data Pengirim Surat <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                      </uib-accordion-heading>
                      <div class="panel-body">
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kode Direksi/SM</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.kodedireksi}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Nama Pejabat</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.fromtitle}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">NUP</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.NUP}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Direktorat</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.direktorat}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Sub Direktorat</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.subdirektorat}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kode Jabatan</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.positionID}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Atas Nama</label>
                          <div class="col-md-10 col-sm-10">
	                          <p class="form-control-static">{{detailWait.atasnama}}</p>
	                      </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Lokasi Kedudukan</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.lokasikedudukan1}} - {{detailWait.lokasikedudukan2}}</p> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kode Unit</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.kodeunit}}</p> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kota</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.kota}}</p> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </uib-accordion>
                </ng-form>
              </uib-tab>
              <uib-tab index="4" heading="Riwayat Surat">
              	<ng-form name="nestedForm">              
                  <div class="form-group" style="margin-top:20px;">
                    <label>Riwayat</label>
                    <ul style='list-style:none' class='no-padding'>
	                  	<li ng-repeat='riwayat in agenda.riwayat track by $index'>{{riwayat}}</li>
	                </ul>
                  </div>
               	</ng-form>
              </uib-tab>
            </uib-tabset>
          </div>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col-->
  </div>
  <!-- ./row -->
</section>
<!-- /.content -->
</form>
</div>

<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closePreview(this)"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal-title">Preview Referensi</h3>
	</div>
    <div class="modal-body" id="modal-body" ng-bind-html="previewRef | trusted" ng-if="!isMobile"></div>
	<div class="modal-body" id="modal-body" ng-if="isMobile">

		<div class="box box-widget">
        <div class="box-header with-border hidden-sm hidden-md hidden-lg">
        
          <div class="user-block">
			
            <img ng-src="{{previewRef.pictunid}}" class="img-circle" style="width:40px; height:40px">
            <span class="username">{{previewRef.fromname}}</span>
            <span class="description">{{previewRef.fromtitle}}</span>
            
            <br>
            <table border="0" class="description no-margin">
	            <tr>
	            	<td valign="top">Kepada </td>
	            	<td valign="top">:</td>
	            	<td><ul class="list-unstyled" ng-init ="limitKepada = previewRef.kepada.length > 3? 3:previewRef.kepada.length">
	            			<li ng-repeat="kepada in previewRef.kepada | limitTo: limitKepada as results">
	            				{{kepada}}
	            			</li>
	            			<a href ng-show="results.length < previewRef.kepada.length && previewRef.kepada.length > 3" ng-click="limitKepada = previewRef.kepada.length">...tampilkan</a>
	            			<a href ng-show="results.length === previewRef.kepada.length && previewRef.kepada.length > 3" ng-click="limitKepada = 3">sembunyikan</a>
	            		</ul>
	            		
	            	</td>
	            </tr>
	            <tr>
	            	<td valign="top">Tembusan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	            	<td valign="top">:</td>
	            	<td ng-show="previewRef.tembusan.length > 0">
	            		<ul class="list-unstyled" ng-init ="limitTembusan = previewRef.tembusan.length > 3? 3:previewRef.tembusan.length">
	            			<li ng-repeat="tembusan in previewRef.tembusan | limitTo: limitTembusan as results" >
	            				{{tembusan}}
	            			</li>
	            			<a href ng-show="results.length < previewRef.tembusan.length && previewRef.tembusan.length > 3" ng-click="limitTembusan = detailOutbox.tembusan.length">...tampilkan</a>
	            			<a href ng-show="results.length === previewRef.tembusan.length && previewRef.tembusan.length > 3" ng-click="limitTembusan = 3">sembunyikan</a>
	            			
	            		</ul>
	            	</td>
	            	<td ng-show="previewRef.tembusan.length == null">
	            		&nbsp; -
	            	</td>
	            </tr>
	            <tr>
	            	<td>Tanggal </td>
	            	<td valign="top">:</td>
	            	<td><span date-formater="{{previewRef.createddate}}" format="DD MMMM YYYY HH:mm"></span></td>
	            </tr>
            </table>
            
          </div>
        </div>
        
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-read-message hidden-sm hidden-md hidden-lg" ng-bind-html="previewRef.body | trusted">
          </div>
          <div class="mailbox-read-message no-padding hidden-xs" ng-bind-html="previewRef.html_takah | trusted">
          </div>
          <!-- /.mailbox-read-message -->
        </div>
        <!-- /.box-body -->
        
        <div class="box-footer" ng-show="previewRef.referensiNo.length > 0">
           <p>Referensi Surat :</p>
           <ol>
           	  <li ng-repeat="referensi in previewRef.referensiObj track by $index">
           	  	<a href ng-click="this.preventDefault(); previewReferensi(referensi.storage, referensi.id, referensi.takahType)">{{referensi.noSurat}}</a>
           	  </li>
           </ol>
        </div>
        
        <div class="box-footer" ng-show="previewRef.attachments.length > 0">
              <div  ng-repeat="attachment in previewRef.attachments" class="mailbox-attachment-info col-xs-12 col-sm-4 col-md-4 col-lg-3" style="margin-bottom:5px;margin-right:5px;border:1px solid lightgray">
                <a ng-href="{{attachment.url}}" class="btn btn-default btn-xs pull-right" download="{{attachment.name}}"><i class="fa fa-cloud-download"></i></a>
                <a ng-href="{{attachment.url}}" class="mailbox-attachment-name" target="_blank"><i class="fa fa-paperclip"></i> {{attachment.name}}</a>
              </div>
        </div>
      </div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="closePreview(this)">Close</button>
	</div>
</script>