<!--Content Header (Page header) -->
<section class="content-header" style="height:60px">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div style="overflow:hidden" class="col-xs-10 no-padding">
			<h3 class="no-margin" ng-bind-html="detailOutbox.subject | trusted"></h3>
		  	<span ng-show="detailOutbox.nomanual === ''">{{detailOutbox.nosurat}}</span>
		  	<span ng-show="detailOutbox.nomanual !== ''">{{detailOutbox.nomanual}}</span>
	  	</div>
	  	<div style="overflow:hidden">
	  		<ul class="list-inline pull-right" style="padding-top:10px;position:absolute;right:5px;z-index: 1000">
	      		<li class="dropdown">
	      			<a href="" class="dropdown-toggle no-padding" data-toggle="dropdown" aria-expanded="true">
	      				<i class="glyphicon glyphicon-option-vertical fa-lg"></i>
	      			</a>
	      			<ul class="dropdown-menu" role="menu" style="margin-left:-150px">
	      				<li><a ui-sref='agenda({location: "outbox", id: detailOutbox.id})'><i class="fa fa-info-circle" aria-hidden="true"></i> Agenda Surat</a></li>
	      				<!-- <li><a href="" ng-href="{{detailOutbox.filepdfurl}}"><i class="fa fa-file-pdf-o"></i>Surat PDF</a></li> -->
	      				<li><a href="" ng-click="$event.preventDefault(); print();"><i class="fa fa-print"></i>Print</a></li>
	      			</ul>
	      		</li>
      		</ul>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="box box-widget">
      
        <div class="box-header with-border hidden-sm hidden-md hidden-lg hidden-print">
          <div class="user-block">
            <img ng-src="{{detailOutbox.pictunid}}" class="img-circle" style="height:40px;width:40px;">
            <span class="username">{{detailOutbox.fromname}}</span>
            <span class="description">{{detailOutbox.fromtitle}}</span><br>
            <table border="0" class="description no-margin">
	            <tr>
	            	<td valign="top">Kepada &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	            	<td valign="top">: </td>
	            	<td><ul class="list-unstyled" ng-init ="limitKepada = detailOutbox.kepada.length > 3? 3:detailOutbox.kepada.length">
	            			<li ng-repeat="kepada in detailOutbox.kepada | limitTo: limitKepada as results track by $index">
	            				{{kepada}}
	            			</li>
	            				<a href ng-show="results.length < detailOutbox.kepada.length && detailOutbox.kepada.length > 3" ng-click="limitKepada = detailOutbox.kepada.length">...tampilkan</a>
	            				<a href ng-show="results.length === detailOutbox.kepada.length && detailOutbox.kepada.length > 3" ng-click="limitKepada = 3">sembunyikan</a>
	            		</ul>
	            	</td>
	            </tr>
	            <tr>
	            	<td valign="top">Tembusan </td>
	            	<td valign="top">: </td>
	            	<td>
	            		<ul class="list-unstyled" ng-init ="limitTembusan = detailOutbox.tembusan.length > 3? 3:detailOutbox.tembusan.length">
	            			<li ng-repeat="tembusan in detailOutbox.tembusan | limitTo: limitTembusan as results">
	            				{{tembusan}}
	            			</li>
	            			<a href ng-show="results.length < detailOutbox.tembusan.length && detailOutbox.tembusan.length > 3" ng-click="limitTembusan = detailOutbox.tembusan.length">...tampilkan</a>
	            			<a href ng-show="results.length === detailOutbox.tembusan.length && detailOutbox.tembusan.length > 3" ng-click="limitTembusan = 3">sembunyikan</a>
	            			
	            		</ul>
	            	</td>
	            </tr>
	            <tr>
	            	<td>Tanggal</td>
	            	<td valign="top">: </td>
	            	<td><span date-formater="{{detailOutbox.createddate}}" format="DD MMMM YYYY HH:mm"></span></td>
	            </tr>
            </table>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-read-message" ng-bind-html="detailOutbox.body | trusted" ng-if="isMobile"></div>
          <div class="mailbox-read-message takah_html" ng-bind-html="detailOutbox.html_takah | trusted" ng-if="!isMobile"></div>
          <!-- /.mailbox-read-message -->
        </div>
        <!-- /.box-body -->
        
        <div class="box-footer hidden-print" ng-show="detailOutbox.referensiNo.length > 0">
           <p>Referensi Surat :</p>
           <ol>
           	  <li ng-repeat="referensi in detailOutbox.referensiObj track by $index">
           	  	<a href ng-click="event.preventDefault(); previewReferensi(referensi.storage, referensi.id, referensi.takahType)">{{referensi.noSurat}}</a>
           	  </li>
           </ol>
        </div>
        
        <div class="box-footer hidden-print" ng-show="detailOutbox.attachments.length > 0">
              <div  ng-repeat="attachment in detailOutbox.attachments" class="mailbox-attachment-info col-xs-12 col-sm-4 col-md-4 col-lg-3" style="margin-bottom:5px;margin-right:5px;border:1px solid lightgray">
                <a ng-href="{{attachment.url}}" class="btn btn-default btn-xs pull-right" download="{{attachment.name}}"><i class="fa fa-cloud-download"></i></a>
                <a ng-href="{{attachment.url}}" class="mailbox-attachment-name" target="_blank"><i class="fa fa-paperclip"></i> {{attachment.name}}</a>
              </div>
        </div>
        <div class="box-footer hidden-print">
          <center>
          	<span class="btn-group">
	            <!-- <a class='btn btn-danger btn-sm' ng-href="{{detailOutbox.filepdfurl}}" target="_blank"><i class="fa fa-file-pdf-o fa-lg">&nbsp;</i> <span class="hidden-xs hidden-sm">Surat PDF</span></a> -->
	            <a class='btn btn-info btn-sm' ui-sref='agenda({location: "outbox", id: detailOutbox.id})'><i class="fa fa-info-circle fa-lg" aria-hidden="true">&nbsp;</i> <span class="hidden-xs hidden-sm">Agenda Surat</span></a>
            </span>
          </center>
        </div>
        <!-- /.box-footer -->
      </div>
      <!-- /. box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<script type="text/ng-template" id="myModalContent.html">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="closePreview(this)"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title" id="modal-title">Preview Referensi</h3>
	</div>
    <div class="modal-body" id="modal-body" ng-bind-html="previewRef | trusted" ng-if="!isMobile"></div>
	<div class="modal-body" id="modal-body" ng-if="isMobile">

		<div class="box box-widget">
        <div class="box-header with-border hidden-sm hidden-md hidden-lg">
        
          <div class="user-block">
			
            <img ng-src="{{previewRef.pictunid}}" class="img-circle" style="width:40px; height:40px">
            <span class="username">{{previewRef.fromname}}</span>
            <span class="description">{{previewRef.fromtitle}}</span>
            
            <br>
            <table border="0" class="description no-margin">
	            <tr>
	            	<td valign="top">Kepada </td>
	            	<td valign="top">:</td>
	            	<td><ul class="list-unstyled" ng-init ="limitKepada = previewRef.kepada.length > 3? 3:previewRef.kepada.length">
	            			<li ng-repeat="kepada in previewRef.kepada | limitTo: limitKepada as results">
	            				{{kepada}}
	            			</li>
	            			<a href ng-show="results.length < previewRef.kepada.length && previewRef.kepada.length > 3" ng-click="limitKepada = previewRef.kepada.length">...tampilkan</a>
	            			<a href ng-show="results.length === previewRef.kepada.length && previewRef.kepada.length > 3" ng-click="limitKepada = 3">sembunyikan</a>
	            		</ul>
	            		
	            	</td>
	            </tr>
	            <tr>
	            	<td valign="top">Tembusan &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
	            	<td valign="top">:</td>
	            	<td ng-show="previewRef.tembusan.length > 0">
	            		<ul class="list-unstyled" ng-init ="limitTembusan = previewRef.tembusan.length > 3? 3:previewRef.tembusan.length">
	            			<li ng-repeat="tembusan in previewRef.tembusan | limitTo: limitTembusan as results" >
	            				{{tembusan}}
	            			</li>
	            			<a href ng-show="results.length < previewRef.tembusan.length && previewRef.tembusan.length > 3" ng-click="limitTembusan = detailOutbox.tembusan.length">...tampilkan</a>
	            			<a href ng-show="results.length === previewRef.tembusan.length && previewRef.tembusan.length > 3" ng-click="limitTembusan = 3">sembunyikan</a>
	            			
	            		</ul>
	            	</td>
	            	<td ng-show="previewRef.tembusan.length == null">
	            		&nbsp; -
	            	</td>
	            </tr>
	            <tr>
	            	<td>Tanggal </td>
	            	<td valign="top">:</td>
	            	<td><span date-formater="{{previewRef.createddate}}" format="DD MMMM YYYY HH:mm"></span></td>
	            </tr>
            </table>
            
          </div>
        </div>
        
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="mailbox-read-message hidden-sm hidden-md hidden-lg" ng-bind-html="previewRef.body | trusted">
          </div>
          <div class="mailbox-read-message no-padding hidden-xs" ng-bind-html="previewRef.html_takah | trusted">
          </div>
          <!-- /.mailbox-read-message -->
        </div>
        <!-- /.box-body -->
        
        <div class="box-footer" ng-show="previewRef.referensiNo.length > 0">
           <p>Referensi Surat :</p>
           <ol>
           	  <li ng-repeat="referensi in previewRef.referensiObj track by $index">
           	  	<a href ng-click="this.preventDefault(); previewReferensi(referensi.storage, referensi.id, referensi.takahType)">{{referensi.noSurat}}</a>
           	  </li>
           </ol>
        </div>
        
        <div class="box-footer" ng-show="previewRef.attachments.length > 0">
              <div  ng-repeat="attachment in previewRef.attachments" class="mailbox-attachment-info col-xs-12 col-sm-4 col-md-4 col-lg-3" style="margin-bottom:5px;margin-right:5px;border:1px solid lightgray">
                <a ng-href="{{attachment.url}}" class="btn btn-default btn-xs pull-right" download="{{attachment.name}}"><i class="fa fa-cloud-download"></i></a>
                <a ng-href="{{attachment.url}}" class="mailbox-attachment-name" target="_blank"><i class="fa fa-paperclip"></i> {{attachment.name}}</a>
              </div>
        </div>
      </div>

	</div>
	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="closePreview(this)">Close</button>
	</div>
</script>