<!-- Content Header (Page header) -->
<section class="content-header">
	<div>
		<div style="float:left;width:30px" ng-hide="$state.includes('detail-inbox')">
			<h1 class="no-margin"><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1>
		</div>
	  	<div style="overflow:hidden" class="col-xs-10 no-padding">
			<h3 class="no-margin">
				{{agenda.perihal}}&nbsp;&nbsp;
				<i class="fa fa-share-alt text-info" ng-show="agenda.dispostatus == 1" aria-hidden="true" title="Surat sudah di disposisi"></i>
			</h3>
		  	<span ng-show="agenda.nomanual === ''">{{agenda.nomor}}</span>
            <span ng-show="agenda.nomanual !== ''">{{agenda.nomanual}}</span>
	  	</div>
	  	<div style="overflow:hidden" ng-if="agenda.takahtype === 'SuratMasukManual'" ng-hide="$state.includes('detail-inbox')">
	  		<ul class="list-inline pull-right" style="padding-top:10px;position:absolute;right:5px;z-index: 1000">
	  			<li class="dropdown"> 
	      			<a href="" class="dropdown-toggle no-padding" data-toggle="dropdown" aria-expanded="true"><i class="fa fa-reply"></i></a>
	      				<ul class="dropdown-menu" role="menu" style="margin-left:-150px">
	      					<li><a ui-sref="nodin({UNID: agenda.id, noSurat: agenda.nomor, takahType: 'NotaDinas'})">Nota Dinas</a></li>
		      				<li><a ui-sref="nodin({UNID: agenda.id, noSurat: agenda.nomor, takahType: 'SuratTugas'})">Surat Tugas</a></li>
		      				<li><a ui-sref="nodin({UNID: agenda.id, noSurat: agenda.nomor, takahType: 'SuratUndangan'})">Surat Undangan</a></li>
		      				<li><a ui-sref="surat({UNID: agenda.id, noSurat: agenda.nomor})">Surat Keluar</a></li>
		      				<li><a ui-sref="memo({UNID: agenda.id, noSurat: agenda.nomor})">Memo</a></li>
	      				</ul>
	      		</li>
	      		<li class="dropdown">
	      			<a href="" class="dropdown-toggle no-padding" data-toggle="dropdown" aria-expanded="true">
	      				<i class="glyphicon glyphicon-option-vertical fa-lg"></i>
	      			</a>
	      			<ul class="dropdown-menu" role="menu" style="margin-left:-150px">
	      				<li><a ng-href="#!/buat-disposisi/{{agenda.id}}/manual"><i class="fa fa-share-alt"></i>Buat Disposisi</a></li>
	      			</ul>
	      		</li>
	      	</ul>
	  	</div>
	</div>
</section> 

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-body">
        	<pdf-viewer delegate-handle="my-pdf-container" show-toolbar="true" ng-init="viewPdf()"></pdf-viewer>
        	
        	<h4>Lampiran: <span ng-if="attFile.length <= 1">-</span></h4>
        	<ul ng-if="attFile.length > 1">
        		<li ng-repeat='lampiran in attFile' ng-if='lampiran.name !== pdfFile'>
                	<a ng-href="{{lampiran.url}}"  target="_blank">{{lampiran.name}}</a>&nbsp;
					<button class="btn btn-xs" ng-if="isPdf(lampiran.url)"
	                	ng-click="previewPdf(lampiran.url)" 
	                	data-toggle="modal" data-target="#pdfViewer">
                  		<i class="fa fa-file-pdf-o"></i>&nbsp;Lihat PDF
                  	</button>
                 </li>
        	</ul>
        </div>
        <!-- /.box-body -->
        
        <div class="box-footer hidden-print" ng-controller="userCtrl">
         	<center>
         	  <span class="btn-group dropup">
          	  		<button type="button" class="btn btn-info btn-sm ">Balas Surat</button>	
          	  		<button type="button" class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
	          	    	<span class="caret"></span>
	          	    	<span class="sr-only">Toggle Dropdown</span>
		      		</button>
		      		<ul class="dropdown-menu" role="menu">
	      				<li><a ui-sref="nodin({UNID: agenda.id, noSurat: agenda.nomor, takahType: 'NotaDinas'})">Nota Dinas</a></li>
		      			<li><a ui-sref="nodin({UNID: agenda.id, noSurat: agenda.nomor, takahType: 'SuratTugas'})">Surat Tugas</a></li>
		      			<li><a ui-sref="nodin({UNID: agenda.id, noSurat: agenda.nomor, takahType: 'SuratUndangan'})">Surat Undangan</a></li>
		      			<li><a ui-sref="surat({UNID: agenda.id, noSurat: agenda.nomor})">Surat</a></li>
		      			<li><a ui-sref="memo({UNID: agenda.id, noSurat: agenda.nomor})">Memo</a></li>
      				</ul>
          	  </span>
          	  <span class="btn-group">
          	  	<a ng-href="#!/teruskan/{{agenda.id}}" class="btn bg-maroon btn-sm" ng-if="profile.is_secretary === 'yes'"><i class="fa fa-share fa-lg">&nbsp;</i> <span class="hidden-xs hidden-sm">Teruskan</span></a>
          	  	<a ng-href="#!/buat-disposisi/{{agenda.id}}/{{agenda.lettertype}}" ng-if="profile.is_staf === 'no'" class="btn btn-primary btn-sm"><i class="fa fa-share-alt fa-lg">&nbsp;</i> <span class="hidden-xs hidden-sm">Buat Disposisi</span></a>
          	  </span>
	          <span class="btn-group">
		        <a class='btn btn-info btn-sm' ng-click="switchAgendaView()"><i class="fa fa-info-circle fa-lg" aria-hidden="true">&nbsp;</i> <span class="hidden-xs hidden-sm">Agenda Surat</span></a>
		        <a ng-href="#!/daftar-disposisi/{{agenda.id}}" class="btn btn-success btn-sm"><i class="fa fa-th-list fa-lg">&nbsp;</i> <span class="hidden-xs hidden-sm">Riwayat Disposisi</span></a>
		      </span>
		     </center>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->