<script type="text/ng-template" id="group-template.html">
    <div class="panel panel-info">
      <div class="panel-heading">
        <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
		  <h4 class="panel-title" style="color:#3C8DBC;font-weight:bold">
            <span uib-accordion-header ng-class="{'text-muted': isDisabled}">
              {{heading}}
            </span>
          </h4>
        </a>
      </div>
      <div class="panel-collapse collapse" uib-collapse="!isOpen">
        <div class="panel-body" ng-transclude></div>
      </div>
    </div>
</script>
<!-- Content Header (Page header) -->
<div ng-controller="formModalCtrl">
<form class="tab-form-demo" name="surat">
<script type="text/ng-template" id="modalKomentar.html">
	<div class="modal-body" ng-form="nestedForm3">
		<div class="form-group">
			<label>Masukkan Komentar</label>
			<textarea class="form-control" id="komentar" ng-model="comment" name="comment" required></textarea>
		</div>
		<div class="form-group">
			<label>PIN</label>
			<input type="password" class="form-control" id="pin" name="pin" ng-model="pin" required />
		</div>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" ng-click="sendForm()" ng-disabled="nestedForm3.$invalid || disableBtnKirim">
			<i class="fa fa-paper-plane-o">&nbsp;</i> {{ buttonKirimText }}
		</button>
		<button class="btn btn-danger" ng-click="cancelForm()">
			<i class="fa fa-times-circle">&nbsp;</i> Cancel
		</button>
	</div>
</script>

<section class="content-header">
	<div>
		<div style="float:left;width:30px">
			<h1 class="no-margin" ><span back-button class="link-back" style="padding-right:20px;cursor:pointer"><i class="fa fa-angle-left fa-lg text-info"></i></span></h1></div>
		<div>
			<h3 class="no-margin" style="padding-top:7px">{{detailWait.subject}}</h3>
	  	</div>
	</div>
	<br>
  <small>
  	<button 
  		type="button" 
  		class="btn btn-success btn-sm" 
  		ng-click="modalKomen('Approve',detailWait.body,detailWait.abstrak,'',detailWait.tembusanIn,detailWait.attachment,detailWait.attDelete,detailWait.sifat)"
  		ng-disabled="surat.nestedForm1.$invalid || surat.nestedForm2.$invalid">
  		<i class="fa fa-check-square-o"></i> 
  		Setuju
  	</button>&nbsp;
    <button 
    	type="button" 
    	class="btn bg-orange btn-sm" 
    	ng-click="modalKomen('Return',detailWait.body,detailWait.abstrak,'',detailWait.tembusanIn,detailWait.attachment,detailWait.attDelete,detailWait.sifat)"
    	ng-disabled="surat.nestedForm1.$invalid || surat.nestedForm2.$invalid">
    	<i class="fa fa-chevron-left"></i> 
    	Kembalikan
    </button>&nbsp;
    <button 
    	type="button" 
    	class="btn btn-google btn-sm" 
    	ng-click="modalKomen('Reject',detailWait.body,detailWait.abstrak,'',detailWait.tembusanIn,detailWait.attachment,detailWait.attDelete,detailWait.sifat)"
    	ng-disabled="surat.nestedForm1.$invalid || surat.nestedForm2.$invalid">
    	<i class="fa fa-ban"></i> 
    	Batal
    </button>&nbsp;
    <p class="hidden-md hidden-lg" style="margin: -5px 0 0 0">&nbsp;</p>
    <button 
    	type="button" 
    	class="btn btn-default btn-sm" 
    	ng-click="draftWait('Draft',detailWait.body,detailWait.abstrak,'','',detailWait.sifat)">
    	<i class="fa fa-floppy-o fa-lg"></i> 
    	Simpan
    </button>
    <a ng-href="#!/detail-status/{{detailWait.id}}" class="btn btn-primary btn-sm"><i class="fa fa-eye" aria-hidden="true"></i> Lihat Surat</a>
  </small>
</section> 

<!-- Main content -->
<section class="content" ng-controller="userCtrl">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-body pad">
          <!-- <form class="tab-form-demo"> -->
            <uib-tabset active="activeForm">
              <uib-tab index="0" heading="Informasi Surat">
                <ng-form name="nestedForm1" class="form-horizontal">
                  <input type="hidden" value="{{detailWait.id}}" id="id_surat">
                  <input type="hidden" value="{{infoUser.jabatan}}" id="jabatan">
                  <input type="hidden" value="{{infoUser.cn_full_name}}" id="fullNameJabatan">
                  <div class="form-group" style="margin-top:20px;">
                    <label class="col-md-1 col-sm-2 control-label">Kepada Eksternal</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea class="form-control" ng-model="detailWait.kepadaEks" disabled ng-list="&#10;"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Tembusan Eksternal</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea class="form-control" ng-model="detailWait.tembusanEks" disabled ng-list="&#10;"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Tembusan Internal</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea class="form-control" ng-model="detailWait.tembusanIn" disabled ng-list="&#10;"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Kota Tujuan</label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" class="form-control" ng-model="detailWait.kota_tujuan" disabled>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Dari</label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" disabled ng-model="detailWait.fromtitle" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Pemeriksa</label>
                    <div class="col-md-10 col-sm-10">
                    	<textarea disabled ng-model="detailWait.pemeriksa" class="form-control" ng-list="&#10;"></textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Pemesan</label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" disabled value="{{detailWait.pemesan}}" class="form-control">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Perihal</label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" class="form-control" name="perihal" ng-model="detailWait.subject" value="{{detailWait.subject}}" id="perihal" ng-required="true">
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-1 col-sm-2 control-label">Pola Klasifikasi</label>
                    <div class="col-md-10 col-sm-10">
                    	<input type="text" class="form-control" value="{{detailWait.klasifikasi}}" disabled>
                    </div>
                  </div>                  
                </ng-form>
              </uib-tab>
              <uib-tab index="1" heading="Penjelasan Isi Surat">
                <ng-form name="nestedForm2" ng-controller='TinyMceController'>
                	<div class="form-group" style="margin-top:20px;">
	                    <label>Penjelasan Isi Surat<span class="text-red">*</span></label>
	                    <textarea ui-tinymce="tinymceOptions" id="abstrak_surat" name="abstrak" ng-required="true" ng-model="detailWait.abstrak" class="form-control" ng-bind-html="detailWait.abstrak" style="height:500px">{{detailWait.abstrak}}</textarea>
	                </div> 
                </ng-form>
              </uib-tab>
              <uib-tab index="2" heading="Surat">
                <ng-form name="nestedForm2" ng-controller='TinyMceController'>
                  <div class="form-group" style="margin-top:20px;">
                    <label>Isi Surat</label>
                    <textarea ui-tinymce="tinymceOptions" ng-bind-html="detailWait.body" name="body" ng-model="detailWait.body" class="form-control" style="height:500px" ng-required="true"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputFile">Lampiran</label>
                    <button class="btn btn-primary btn-sm" ngf-select="uploadFiles($files)" ngf-multiple="true">
	                	<i class="fa fa-cloud-upload" aria-hidden="true">&nbsp;</i>Unggah Lampiran
	                </button>
                    <span>
                    	<ul>
		                	<li ng-repeat="file in detailWait.attachment track by $index">
		                		{{file.name}}&nbsp;
		                		<a href rel="delete" ng-click="deleteFile($index)" title="hapus attachment {{file.name}}" class="text-red"><i class="fa fa-trash"></i></a>
		                	</li>
		                </ul>
	                   	<ul ng-show="attFile != undefined">
	                   		<li ng-repeat="attachment in attFile" ng-show="attachment.aktif">
	                   			<a ng-href="{{attachment.url}}" target="_blank">{{attachment.name}}</a>
	                   			<button type="button" class="btn btn-box-tool text-red" ng-click="removeAttDraft(attachment.name, $index)">
			                   		<i class="fa fa-trash fa-lg"></i>
			                   	</button>
	                   		</li>
	                   	</ul>
                  </div>
                  <div class="form-group" ng-controller="ReferensiModal as $ref">
                  	<label ng-click="$ref.open(resolveReferences, detailWait.referensiNo, detailWait.referensi)" style="cursor: pointer;">Referensi Surat <a title="Tambah referensi"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></label>
                  	<input type="hidden" ng-model="detailWait.referensi" value="$ref.getReferences().list" />
                  	<ol>
                  		<li ng-repeat="subject in detailWait.referensiNo">{{subject}}</li>
                  	</ol>
                  </div>
                </ng-form>
              </uib-tab>
              <uib-tab index="3" heading="Detail Surat">
                <ng-form name="nestedForm" class="form-horizontal">
                  <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html" style="margin-top:20px">
                      <uib-accordion-heading>
                        Detail Atribut Surat <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                      </uib-accordion-heading>
                      <div class="form-group">
	                        <label class="col-sm-2 col-md-1 control-label">Lampiran</label>
	                        <div class="col-sm-10 col-md-10">
	                        	<p class="form-control-static" ng-show="detailWait.lampiran > 0">{{detailWait.lampiran}}</p>
	                        	<p class="form-control-static" ng-show="detailWait.lampiran == 0">-</p>
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-1 control-label">Prioritas</label>
	                        <div class="col-sm-10 col-md-10">
		                        <select class="form-control" ng-model="detailWait.prioritas">
		                          <option value="Biasa">Biasa</option>
		                          <option value="Segera">Segera</option>
		                          <option value="Sangat Segera">Sangat Segera</option>
		                        </select>
		                    </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-1 control-label">Sifat</label>
	                        <div class="col-sm-10 col-md-10">
		                        <select class="form-control" ng-model="detailWait.sifat">
		                          <option value="Biasa">Biasa</option>
		                          <option value="Rhs">Rahasia</option>
		                        </select>
		                    </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-1 control-label">Tahun</label>
	                        <div class="col-sm-10 col-md-10">
	                        	<p class="form-control-static">{{detailWait.tahun}}</p>
	                        </div>
	                      </div>
	                      <div class="form-group">
	                        <label class="col-sm-2 col-md-1 control-label">Nomor Surat</label>
	                        <div class="col-sm-10 col-md-10">
	                        	<p class="form-control-static">{{detailWait.nosurat}}</p>
	                        </div>
	                      </div>
                    </div>
                  </uib-accordion>
                  <uib-accordion close-others="oneAtATime">
                    <div uib-accordion-group class="panel-default" is-open="status.isCustomHeaderOpen" template-url="group-template.html">
                      <uib-accordion-heading>
                        Data Pengirim Surat <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.isCustomHeaderOpen, 'glyphicon-chevron-right': !status.isCustomHeaderOpen}"></i>
                      </uib-accordion-heading>
                      <div class="panel-body">
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kode Direksi/SM</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.kodedireksi}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Nama Pejabat</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.fromtitle}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">NUP</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.NUP}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Direktorat</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.direktorat}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Sub Direktorat</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.subdirektorat}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kode Jabatan</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.positionID}}</p>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Atas Nama</label>
                          <div class="col-md-10 col-sm-10">
	                          <p class="form-control-static">{{detailWait.atasnama}}</p>
	                      </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Lokasi Kedudukan</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.lokasikedudukan1}} - {{detailWait.lokasikedudukan2}}</p> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kode Unit</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.kodeunit}}</p> 
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="col-sm-2 col-md-2 control-label">Kota</label>
                          <div class="col-md-10 col-sm-10">
                          	<p class="form-control-static">{{detailWait.kota}}</p> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </uib-accordion>
                </ng-form>
              </uib-tab>
              <uib-tab index="4" heading="Riwayat Surat">
              	<ng-form name="nestedForm">              
                  <div class="form-group" style="margin-top:20px;">
                    <label>Riwayat</label>
                    <ul style='list-style:none' class='no-padding'>
	                  	<li ng-repeat='riwayat in agenda.riwayat track by $index'>{{riwayat}}</li>
	                </ul>
                  </div>
               	</ng-form>
              </uib-tab>
            </uib-tabset>
        </div>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col-->
  </div>
  <!-- ./row -->
</section>
<!-- /.content -->
</form>
</div>