<!-- Content -->
<div ng-if="detailWait.takahtype === 'sk'">
	<ng-include src="'pages/mailbox/sk.html'"></ng-include>
</div>
<div ng-if="detailWait.takahtype === 'nd'">
	<ng-include src="'pages/mailbox/nd.html'"></ng-include>
</div>
<!-- /.content -->