<div class="row">
	<div class="col-xs-6 center-block">
		<i class="fa fa-spinner fa-pulse fa-fw pull-left" ng-hide="pageCount > 0"></i>
		<div ng-show="pageCount > 0">
			<i class="fa fa-chevron-circle-left fa-lg" aria-hidden="true" ng-click="prev()" title="Halaman sebelumnya" style="cursor: pointer;"></i>&nbsp;
			{{currentPage}} of {{pageCount}}&nbsp;
			<i class="fa fa-chevron-circle-right fa-lg" aria-hidden="true" ng-click="next()" title="Halaman berikutnya" style="cursor: pointer;"></i>
		</div>
	</div>
	<div class="col-xs-6 center-block">
		<i class="fa fa-search-plus fa-lg" aria-hidden="true" ng-click="zoomIn()" title="Perbesar" style="cursor: pointer;"></i>
		<i class="fa fa-search-minus fa-lg" aria-hidden="true" ng-click="zoomOut()" title="Perkecil" style="cursor: pointer;"></i>
		&nbsp;&nbsp;&nbsp;
		<i class="fa fa-repeat fa-lg" aria-hidden="true" ng-click="rotate()" title="Rotate" style="cursor: pointer;"></i>
	</div>
</div>