<!DOCTYPE html>
<html ng-app="agenda">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Address Book</title>
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/AdminLTE.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">	
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body ng-controller="agendaCtrl">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Tabel Agenda Surat
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="table-responsive box-body">
          <table id="example2" class="table table-bordered">
            <thead>
              <tr class="active">
                <th colspan="2">Informasi Surat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Nomor Surat</td>
                <td>{{agenda.nomor}}</td>
              </tr>
              <tr>
                <td>Tanggal Kirim</td>
                <td>{{agenda.tanggal_kirim}}</td>
              </tr>
              <tr>
                <td>Pola Klasifikasi</td>
                <td>{{agenda.klasifikasi}}</td>
              </tr>
              <tr>
                <td>Sifat Surat</td>
                <td>{{agenda.sifat}}</td>
              </tr>
              <tr>
                <td>Prioritas Surat</td>
                <td>{{agenda.prioritas}}</td>
              </tr>
            </tbody>
            <thead>
              <tr class="active">
                <th colspan="2">Alamat Surat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Pengirim</td>
                <td>{{agenda.pengirim}}</td>
              </tr>
              <tr>
                <td>Penerima</td>
                <td>
                  <ul style='list-style:none' class='no-padding'>
                  	<li ng-repeat='penerima in agenda.penerima'>{{penerima}}</li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>Tembusan</td>
                <td>
                  <ul style='list-style:none' class='no-padding'>
                    <li ng-repeat='tembusan in agenda.tembusan'>{{tembusan}}</li>
                  </ul>
                </td>
              </tr>
            </tbody>
            <thead>
              <tr class="active">
                <th colspan="2">Perihal Surat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Perihal</td>
                <td>{{agenda.perihal}}</td>
              </tr>
              <tr>
                <td>Lampiran</td>
                <td>{{agenda.lampiran}}</td>
              </tr>
              <tr>
                <td>Dokumen</td>
                <td><A HREF="#">Lihat Surat</A></td>
              </tr>
            </tbody>
            <thead>
              <tr class="active">
                <th colspan="2">Riwayat Konsep Surat</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="2">
                  <ul style='list-style:none' class='no-padding'>
                  	<li ng-repeat='riwayat in agenda.riwayat'>{{riwayat}}</li>
                  </ul>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
</body>

<!-- AngularJS -->
<script type="text/javascript"
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script type="text/javascript" 
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.1/angular-touch.js"></script>

<!-- UI BOOTSTRAP ANGULAR -->
<script type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="angular-ui-tree.js"></script>

<!-- ADDRESS BOOK -->
<script type="text/javascript"src="agenda.js"></script>
</html>