<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="klasifikasi">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Address Book</title>
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="../dist/css/AdminLTE.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="../dist/css/skins/_all-skins.min.css">	
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- TREE MENU -->
	<style>
		.menu .accordion-heading {  position: relative; }
		.menu .accordion-heading .edit {
		    position: absolute;
		    top: 8px;
		    right: 30px; 
		}
		.menu .area { border-left: 4px solid #f38787; }
		.menu .equipamento { border-left: 4px solid #65c465; }
		.menu .ponto { border-left: 4px solid #98b3fa; }
		.menu .collapse.in { overflow: visible; }
	</style>
</head>
<body>

	<div ng-controller="ModalKlasifikasiCtrl as $ctrl" class="modal-demo">
	<input type="text" ng-model="$ctrl.pilihan" id="txtKlasifikasi"/>
		<script type="text/ng-template" id="klasifikasi">
          <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Klasifikasi</h3>
          </div>
          <div class="modal-body" id="modal-body">
            <div class="row">              
				<div class="col-md-12">
				  
                    <div class="input-group input-group-sm">
                      <input ng-model="searchKlasifikasi" placeholder="Cari klasifikasi" class="form-control">
                     		<span class="input-group-btn">
       	 						<button class="btn btn-info" type="button"><i class="fa fa-search"></i></button>
      						</span> 
                 	</div>
					<br/>

					<div class="box box-info" style="max-height: 300px;overflow-y: auto;">		

					<ul class="nav nav-pills nav-stacked">
						<li ng-repeat="node in maincat | filter : searchKlasifikasi">
							<a href="" ng-click="toggle(node, null, null, null, null)">
								<i ng-class="{'glyphicon glyphicon-triangle-right': !node.expanded,'glyphicon glyphicon-triangle-bottom': node.expanded}"></i>
								{{node.category}}
							</a>
							<div style="padding-left:10px"> 
							<ul class="nav nav-pills nav-stacked" ng-if="node.nodes.length > 0">
								<li ng-repeat="nodex in node.nodes">
								
									<a ng-if="nodex.type=='cat'" href="" ng-click="toggle(nodex, node.category, null, null, null)">
										<i ng-class="{'glyphicon glyphicon-triangle-right': !nodex.expanded,'glyphicon glyphicon-triangle-bottom': nodex.expanded}"></i>
										{{nodex.kode}}
									</a>
									<a ng-if="nodex.type=='doc'" ng-click="tambah_pilihan(nodex)" href="">
										{{nodex.kode}} {{nodex.topik}}
									</a>
									<div style="padding-left:10px"> 
										<ul class="nav nav-pills nav-stacked" ng-if="nodex.nodes.length > 0">
											<li ng-repeat="nodey in nodex.nodes">
												<a ng-if="nodey.type=='cat'" href="" ng-click="toggle(nodey, node.category, nodex.kode,null,null)">
													<i ng-class="{'glyphicon glyphicon-triangle-right': !nodey.expanded,'glyphicon glyphicon-triangle-bottom': nodey.expanded}"></i>
													{{nodey.kode}}
												</a>
												<a ng-if="nodey.type=='doc'" href="" ng-click="tambah_pilihan(nodey)">
													{{nodey.kode}} {{nodey.topik}}
												</a>
												<div style="padding-left:10px"> 
													<ul class="nav nav-pills nav-stacked" ng-if="nodey.nodes.length > 0">
														<li ng-repeat="nodez in nodey.nodes">
															<a ng-if="nodez.type=='cat'" href="" ng-click="toggle(nodez, node.category, nodex.kode,nodey.kode,null)">
																<i ng-class="{'glyphicon glyphicon-triangle-right': !nodez.expanded,'glyphicon glyphicon-triangle-bottom': nodez.expanded}"></i>
																{{nodez.kode}}
															</a>
															<a ng-if="nodez.type=='doc'" href="" ng-click="tambah_pilihan(nodez)">
																{{nodez.kode}} {{nodez.topik}}
															</a>
														</li> 
													</ul>
												</div>
											</li> 
										</ul>
									</div>
								</li> 
							</ul>
							</div>
						</li>
						</li>
					</ul>                   	  
					
					</div>
                 
            </div>
        </div>
        
        <div class="modal-footer">
          <!-- <button class="btn btn-success" type="button" ng-click="$ctrl.ok()">OK</button>-->
		 <button ng-href="#here" class="btn btn-success" type="button" ng-click="$ctrl.refresh()">Refresh</button>
          <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Close</button>
        </div>
		</script> 

      <button type="button" class="btn btn-default" ng-click="$ctrl.open('single','txtKlasifikasi')" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading Address Book">Buka Klasifikasi</button>
        <div class="modal-parent"></div>
      </div>
      
      
      <!-- JQuery Core + JQuery Sortable + Touch Support-->
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script type="text/javascript" src="jquery-ui-sortable.min.js"></script>
      <script src="jquery-touch-puch.js"></script>
      
      <!-- AngularJS -->
      <script type="text/javascript"
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
      <script type="text/javascript" 
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
      <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-touch/1.6.1/angular-touch.js"></script>

      <!-- UI BOOTSTRAP ANGULAR -->
      <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="angular-ui-sortable.js"></script>

      <!-- ADDRESS BOOK -->
      <script type="text/javascript"src="klasifikasi_dendi.js"></script>


    </body>
</html>