<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
  	<!-- jQuery 2.2.3 -->
  	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.4.0.js"></script>
    <script type="text/javascript" src="../plugins/jquery-ui-sortable.min.js"></script>
  	<script type="text/javascript" src="../plugins/jquery-touch-puch.js"></script>
    <script src="klasifikasi.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

<div ng-controller="ModalDemoCtrl" class="modal-demo">
    <div class="modal-parent">
    	<textarea rows="3" cols="5" ng-model="listTextarea"></textarea>
    	<button type="button" class="btn btn-default" ng-click="send()">Send</button>
    </div>
</div>
  </body>
</html>
